.is-financed {
  font-size: 16px;
  font-weight: 500;
}
.owner-vehicle-submission {
  width: 100%;
  height: 48px;
  font-size: 14px;
  font-weight: 600;
}
::ng-deep .mat-form-field {
  width: 100%;
}
.registration-number-input-wrap {
  height: 51px;
  position: relative;
  top: 6px;
}
.registration-number-first {
  width: 60px;
  border: 1px solid #dee2e6;
  border-radius: 16px 0px 0px 16px;
  background-color: #F6F6F6;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.registration-number-second {
  width: 42px;
  border: 1px solid #dee2e6;
  background-color: #F6F6F6;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.capitalize-text {
  text-transform: uppercase;
}
.error {
  color: #f44336;
  margin-left: 10px;
}
.error-border {
  border: 1px solid #f44336;
  border-radius: 16px;
}
.registration-number-last-digit{
  border-radius: 0px 16px 16px 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.registration-number-last-digit:disabled {
  color: rgb(0 0 0 / 54%);
}
