<form [formGroup]="proposalVehilceDetailsForm">
    <div class="row mt-3">
        <div class="col-4">
            <app-registration-number
                [required]="true"
              ></app-registration-number>
        </div>
        <div class="col-4">
            <app-engine-number [required]="true"></app-engine-number>
        </div>
        <div class="col-4">
            <app-chasis-number [required]="true"></app-chasis-number>
        </div>
        <div class="col-4">
            <app-registration-date [required]="true"></app-registration-date>
        </div>
        <div class="col-4">
            <app-manufacture-date [required]="true"></app-manufacture-date>
        </div>
        <div class="col-4">
            <mat-form-field appearance="outline" class="registration-number">
                <mat-label>Vehicle Color</mat-label>
                <input
                  matInput
                  placeholder="Enter Vehicle Colour"
                  formControlName="vehicle_colour"
                />
              </mat-form-field>
        </div>
    </div>
</form>