<form
  [formGroup]="previousPolicyDetailsForm"
  (ngSubmit)="getPreviousVehicleData(previousPolicyDetailsForm.value)"
>
  <div class="row mt-3" [attr.disabled]="isDisabledPreviousPolicyDetails">
    <div class="col-lg-4 col-md-4 col-12">
      <app-previous-insurer
        [previousInsurer]="'proposal-previous-insurer'"
        [required]="true"
        [formControlNameData]="'previous_insurer'"
        [label]="'Search Previous Insurer'"
      ></app-previous-insurer>
    </div>
    <div class="col-lg-4 col-md-4 col-12">
      <mat-form-field appearance="outline" class="mat-input-custom">
        <mat-label>Previous Policy</mat-label>
        <input
          matInput
          placeholder="Enter Previous Policy Number"
          formControlName="prev_policy_number"
        />
        <mat-error
          *ngIf="
            previousPolicyDetailsForm.controls['prev_policy_number']?.hasError(
              'required'
            )
          "
        >
          This is a required field.
        </mat-error>
        <mat-error
          *ngIf="
            previousPolicyDetailsForm
              .get('prev_policy_number')
              ?.hasError('pattern')
          "
        >
          Invalid Policy Number
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4 col-12">
      <app-policy-expired-date
        [policyExpiryDate]="'proposal-expiry-date'"
        [required]="true"
        [formControlNameData]="'policy_expiry_date'"
        [isExpiryDateDisbaled]="'isExpiryDate'"
      ></app-policy-expired-date>
    </div>
    <hr *ngIf="isTpPolicyDetails" />
    <div class="col-12" *ngIf="isTpPolicyDetails">
      <label>Third Party (TP) Policy Details</label>
    </div>
    <div class="col-lg-4 col-md-4 col-12 mt-1" *ngIf="isTpPolicyDetails">
      <app-previous-insurer
        [label]="'Select TP Insurance Company'"
        [formControlNameData]="'tp_insurance_company'"
      ></app-previous-insurer>
    </div>
    <div class="col-lg-4 col-md-4 col-12" *ngIf="isTpPolicyDetails">
      <mat-form-field appearance="outline">
        <mat-label>TP Policy Number</mat-label>
        <input
          matInput
          placeholder="Enter TP Policy Number"
          formControlName="tp_policy_number"
          id-automation="tp_policy_number"
        />
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4 col-12" *ngIf="isTpPolicyDetails">
      <mat-form-field appearance="outline" class="cpa-date">
        <mat-label>TP Policy Start Date</mat-label>
        <input
          matInput
          [matDatepicker]="tpPolicyStartDate"
          placeholder="Enter TP Policy Start Date"
          formControlName="tp_policy_start_date"
          id-automation="tp_policy_start_date"
          (click)="tpPolicyStartDate.open()"
          (keyup.enter)="EnterKey($event, tpPolicyStartDate)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="tpPolicyStartDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #tpPolicyStartDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4 col-12" *ngIf="isTpPolicyDetails">
      <mat-form-field appearance="outline" class="cpa-date">
        <mat-label>TP Policy End Date</mat-label>
        <input
          matInput
          [matDatepicker]="tpPolicyEndDate"
          placeholder="Enter TP Policy End Date"
          formControlName="tp_policy_end_date"
          id-automation="tp_policy_end_date"
          (click)="tpPolicyEndDate.open()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="tpPolicyEndDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #tpPolicyEndDate></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-12">
      <button
        class="submit-btn previous-vehicle-submission"
        type="submit"
        [disabled]="previousPolicyDetailsForm.invalid"
      >
        Confirm & Review
      </button>
    </div>
  </div>
</form>
