.cpa-date {
  ::ng-deep {
    .mat-form-field-infix {
      width: 315px !important;
    }
  }
}
.previous-vehicle-submission {
  width: 350px;
  height: 48px;
  font-size: 14px;
  font-weight: 600;
}
