.proposal-page {
  ::ng-deep .mat-expansion-panel-body {
    padding: 2px !important;
  }
}
.res-proposal-page {
  display: none;
}
@media screen and (max-width: 999px) {
  .proposal-page {
    display: none;
  }
  .res-proposal-page {
    display: block;
    .back-button {
      display: block;
      cursor: pointer;
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      .back-image {
        width: 14px;
        height: 12px;
      }
    }
    .stepper {
      background-color: #fff;
      border-radius: 16px 16px 0 0;
      .step-icon {
        width: 40px;
      }
      .stepper-icon {
        width: 100%;
      }
      .step-text {
        font-size: 11px;
        font-weight: 500;
        color: #939393;
      }
      .step-header-text {
        font-size: 12px;
        font-weight: 500;
        color: #5384ea;
      }
      .stepper-0{
        border: 2.5px solid #47BE88;
        width: 17%;
        border-radius: 20px;
        cursor: pointer;
      }
      .stepper-1{
        border: 2.5px solid #5384EA;
        width: 17%;
        border-radius: 20px;
        cursor: pointer;
      }
      .stepper-2{
        border: 2.5px solid #DCDCDC;
        width: 17%;
        border-radius: 20px;
        cursor: pointer;
      }

      ::ng-deep .mat-horizontal-stepper-header-container {
        justify-content: space-between;
        margin-left: 17%;
      }
      
      ::ng-deep .mat-step-header {
        flex-grow: 1;
        width: auto;
      }
      
      ::ng-deep .mat-step-header .mat-step-label {
        display: flex;
        align-items: center;
        padding-left: 0;
      }
      ::ng-deep .mat-horizontal-stepper-header{
        height: 28px !important;
      }
      ::ng-deep .mat-horizontal-content-container{
        padding: 0 !important;
      }
      ::ng-deep .mat-horizontal-stepper-header .mat-step-icon{
        display: none;
      }
      ::ng-deep .mat-step-header .mat-step-label.mat-step-label-active{
        border: 2px solid #5384EA;
        border-radius: 20px;
        width: 80%;
      }
      ::ng-deep .mat-step-header .mat-step-label{
        width: 80%;
        border: 2.5px solid #DCDCDC;
        border-radius: 20px;
      }
      ::ng-deep .mat-horizontal-stepper-header-container .mat-stepper-horizontal-line{
        display: none;
      }
      ::ng-deep .mat-horizontal-stepper-header{
        padding: 0 !important;
      }
      ::ng-deep .mat-stepper-horizontal-line::before {
        background-color: #3f51b5; /* Adjust color as needed */
      }
      
      /* Custom styles for the active step */
      ::ng-deep .mat-step-header.mat-step-header-selected {
        color: #3f51b5; /* Adjust color as needed */
      }
    }
  }
}
.isAccordianDisable {
  opacity: 1;
  pointer-events: none;
}
