<div class="row ms-2 me-2 proposal-page" *ngIf="!isMobileView">
  <div class="inspectionData mb-3" *ngIf="breakIn">
    <span class="col-lg-12 inspectionCase details ms-2">{{
      vehicleInspectionMessage
    }}</span>
  </div>
  <div class="col-lg-3 col-md-4">
    <app-insurance-details></app-insurance-details>
  </div>
  <div class="col-lg-9 col-md-8">
    <mat-accordion multi="false">
      <mat-expansion-panel
        (opened)="loadCkyc('ckyc')"
        id-automation="ckyc_details"
        [expanded]="accordianExpanded === 'ckyc'"
      >
        <mat-expansion-panel-header
          tabindex="-1"
          (keydown)="disableKeyboardInteraction($event)"
        >
          <mat-panel-title> CKYC </mat-panel-title>
        </mat-expansion-panel-header>
        <app-ckyc (afterProceedGetData)="getProceedData($event)"></app-ckyc>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="loadCkyc('Vehicle Owner Details')"
        #vehilceOwnerPanel
        id-automation="vehilce_owner"
        [ngClass]="{ isAccordianDisable: !showVehicleOwnerDetails }"
        [expanded]="accordianExpanded === 'vehicleOwnerDetails'"
      >
        <mat-expansion-panel-header
          tabindex="-1"
          (keydown)="disableKeyboardInteraction($event)"
        >
          <mat-panel-title> Vehicle Owner Details </mat-panel-title>
        </mat-expansion-panel-header>
        <app-vehicle-owner-details
          [fetchCkycData]="proceedData"
          (afterVehicleOwnerData)="getVehicleOwnerData($event)"
        ></app-vehicle-owner-details>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="loadCkyc('Nominee Details')"
        #nomineDetailsPanel
        id-automation="nomine_details"
        [ngClass]="{ isAccordianDisable: !showNomineeDetails }"
        *ngIf="isNotShowNomineeDetails"
        [expanded]="accordianExpanded === 'nomineeDetails'"
      >
        <mat-expansion-panel-header
          tabindex="-1"
          (keydown)="disableKeyboardInteraction($event)"
        >
          <mat-panel-title> Nominee Details </mat-panel-title>
        </mat-expansion-panel-header>
        <app-nominee-details
          [fetchOwnerVehicleDetails]="proceedData"
          (afterNomineeGetData)="getNomineeData($event)"
        ></app-nominee-details>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="loadCkyc('Vehicle Details')"
        #vehicleDetailPanel
        id-automation="vehicle_details"
        [ngClass]="{ isAccordianDisable: !showVehicleDetails }"
        [expanded]="accordianExpanded === 'vehicleDetails'"
      >
        <mat-expansion-panel-header
          tabindex="-1"
          (keydown)="disableKeyboardInteraction($event)"
        >
          <mat-panel-title> Vehicle Details </mat-panel-title>
        </mat-expansion-panel-header>
        <app-proposal-vehicle-details
          [fetchNomineeDetails]="proceedData"
          (afterVehicleData)="getVehicleData($event)"
        ></app-proposal-vehicle-details>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="loadCkyc('Previous Policy Details')"
        #previousPolicyDetailsPanel
        id-automation="previous_policy_details"
        [ngClass]="{ isAccordianDisable: !showPreviousPolicyDetails }"
        [expanded]="accordianExpanded === 'previousPolicyDetails'"
        *ngIf="isNotShowInNewPolicyDetails"
      >
        <mat-expansion-panel-header
          tabindex="-1"
          (keydown)="disableKeyboardInteraction($event)"
        >
          <mat-panel-title> Previous Policy Details </mat-panel-title>
        </mat-expansion-panel-header>
        <app-previous-policy-details
          [fetchVehicleDetails]="proceedData"
        ></app-previous-policy-details>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="res-proposal-page p-2" *ngIf="isMobileView">
  <div class="back-button mb-2 d-flex justify-content-between">
    <div (click)="back()">
      <img src="assets/icon/back.png" alt="" class="back-image me-2" />Proposal
    </div>
    <div >
      <span class="cse"
        ><span *ngIf="is_cse == 'true'">CSE ({{ employee_code }})</span><br/>
        <span *ngIf="partner_code">PC({{ partner_code }})</span></span
      >
    </div>
  </div>
  <div class="inspectionData mb-3 d-flex" *ngIf="breakIn">
    <img src="assets/icon/vehicle-inspection.svg" alt="" class="icon" />
    <span class="col-lg-12 inspectionCase details ms-2">{{
      vehicleInspectionMessage
    }}</span>
  </div>
  <div>
    <app-vehicle-details-card></app-vehicle-details-card>
  </div>
  <div>
    <app-insurance-details></app-insurance-details>
  </div>
  <div class="stepper p-2 mt-3">
    <div class="row">
      <div class="col-2">
        <img src="{{ stepImage }}" alt="" class="step-icon" />
      </div>
      <div class="col-10">
        <div class="d-grid">
          <span class="step-text">{{ stepNumber }}</span>
          <span class="step-header-text">{{ stepHeader }}</span>
        </div>
      </div>
      <div class="col-12">
        <mat-horizontal-stepper
          [linear]="true"
          (selectionChange)="onStepChange($event)"
          [selectedIndex]="currentStepIndex"
        >
          <mat-step [completed]="showVehicleOwnerDetails">
            <hr />
            <div class="row mb-5">
              <app-ckyc
                (afterProceedGetData)="getProceedData($event)"
              ></app-ckyc>
            </div>
          </mat-step>
          <mat-step [completed]="showNomineeDetails || showVehicleDetails">
            <hr />
            <div class="row mb-5">
              <app-vehicle-owner-details
                [fetchCkycData]="proceedData"
                (afterVehicleOwnerData)="getVehicleOwnerData($event)"
              ></app-vehicle-owner-details>
            </div>
          </mat-step>
          <mat-step
            [completed]="showVehicleDetails"
            *ngIf="isNotShowNomineeDetails"
          >
            <hr />
            <div class="row mb-5">
              <app-nominee-details
                (afterNomineeGetData)="nomineeDetailsData($event)"
              ></app-nominee-details>
            </div>
          </mat-step>
          <mat-step [completed]="showPreviousPolicyDetails">
            <hr />
            <div class="row mb-5">
              <app-proposal-vehicle-details
                (afterVehicleData)="proposerVehicleDetailsData($event)"
              ></app-proposal-vehicle-details>
            </div>
          </mat-step>
          <mat-step *ngIf="isNotShowInNewPolicyDetails">
            <hr />
            <div class="row mb-5">
              <app-previous-policy-details></app-previous-policy-details>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>

    <!-- <div class="ckyc" *ngIf="step1">
      <div class="row">
        <div class="col-2">
          <img src="assets/icon/step-1.svg" alt="" class="step-icon" />
        </div>
        <div class="col-10">
          <div class="d-grid">
            <span class="step-text">Step 1/5</span>
            <span class="step-header-text">CKYC Details</span>
            <div class="d-flex justify-content-between mt-1">
              <span class="stepper-1 me-2" (click)="step('ckyc')"></span>
              <span
                class="stepper-2 me-2"
                (click)="step('Vehicle Owner Details')"
              ></span>
              <span
                class="stepper-2 me-2"
                (click)="step('Nominee Details')"
              ></span>
              <span
                class="stepper-2 me-2"
                (click)="step('Vehicle Details')"
              ></span>
              <span
                class="stepper-2 me-2"
                (click)="step('Previous Policy Details')"
              ></span>
            </div>

          </div>
        </div>
      </div>
      <hr />
      <div class="row mb-5">
        <app-ckyc (afterProceedGetData)="getProceedData($event)"></app-ckyc>
      </div>
    </div>
    <div class="Vehicle-Owner-Details" *ngIf="step2">
      <div class="row">
        <div class="col-2">
          <img src="assets/icon/step-2.svg" alt="" class="step-icon" />
        </div>
        <div class="col-10">
          <div class="d-grid">
            <span class="step-text">Step 2/5</span>
            <span class="step-header-text">Vehicle Owner Details</span>
            <div class="d-flex justify-content-between mt-1">
              <span class="stepper-0 me-2" (click)="step('ckyc')"></span>
              <span
                class="stepper-1 me-2"
                (click)="step('Vehicle Owner Details')"
              ></span>
              <span
                class="stepper-2 me-2"
                (click)="step('Nominee Details')"
              ></span>
              <span
                class="stepper-2 me-2"
                (click)="step('Vehicle Details')"
              ></span>
              <span
                class="stepper-2 me-2"
                (click)="step('Previous Policy Details')"
              ></span>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row mb-5">
        <app-vehicle-owner-details
          [fetchCkycData]="proceedData"
          (afterVehicleOwnerData)="getVehicleOwnerData($event)"
        ></app-vehicle-owner-details>
      </div>
    </div>
    <div class="Nominee-Details" *ngIf="step3">
      <div class="row">
        <div class="col-2">
          <img src="assets/icon/step-3.svg" alt="" class="step-icon" />
        </div>
        <div class="col-10">
          <div class="d-grid">
            <span class="step-text">Step 3/5</span>
            <span class="step-header-text">Nominee Details</span>
            <div class="d-flex justify-content-between mt-1">
              <span class="stepper-0 me-2" (click)="step('ckyc')"></span>
              <span
                class="stepper-0 me-2"
                (click)="step('Vehicle Owner Details')"
              ></span>
              <span
                class="stepper-1 me-2"
                (click)="step('Nominee Details')"
              ></span>
              <span
                class="stepper-2 me-2"
                (click)="step('Vehicle Details')"
              ></span>
              <span
                class="stepper-2 me-2"
                (click)="step('Previous Policy Details')"
              ></span>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row mb-5">
        <app-nominee-details
          (afterNomineeGetData)="nomineeDetailsData($event)"
        ></app-nominee-details>
      </div>
    </div>
    <div class="Vehicle-Details" *ngIf="step4">
      <div class="row">
        <div class="col-2">
          <img src="assets/icon/step-4.svg" alt="" class="step-icon" />
        </div>
        <div class="col-10">
          <div class="d-grid">
            <span class="step-text">Step 4/5</span>
            <span class="step-header-text">Vehicle Details</span>
            <div class="d-flex justify-content-between mt-1">
              <span class="stepper-0 me-2" (click)="step('ckyc')"></span>
              <span
                class="stepper-0 me-2"
                (click)="step('Vehicle Owner Details')"
              ></span>
              <span
                class="stepper-0 me-2"
                (click)="step('Nominee Details')"
              ></span>
              <span
                class="stepper-1 me-2"
                (click)="step('Vehicle Details')"
              ></span>
              <span
                class="stepper-2 me-2"
                (click)="step('Previous Policy Details')"
              ></span>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row mb-5">
        <app-proposal-vehicle-details
          (afterVehicleData)="proposerVehicleDetailsData($event)"
        ></app-proposal-vehicle-details>
      </div>
    </div>
    <div class="Previous Policy Details" *ngIf="step5">
      <div class="row">
        <div class="col-2">
          <img src="assets/icon/step-5.svg" alt="" class="step-icon" />
        </div>
        <div class="col-10">
          <div class="d-grid">
            <span class="step-text">Step 5/5</span>
            <span class="step-header-text">Previous Policy Details</span>
            <div class="d-flex justify-content-between mt-1">
              <span class="stepper-0 me-2" (click)="step('ckyc')"></span>
              <span
                class="stepper-0 me-2"
                (click)="step('Vehicle Owner Details')"
              ></span>
              <span
                class="stepper-0 me-2"
                (click)="step('Nominee Details')"
              ></span>
              <span
                class="stepper-0 me-2"
                (click)="step('Vehicle Details')"
              ></span>
              <span
                class="stepper-1 me-2"
                (click)="step('Previous Policy Details')"
              ></span>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row mb-5">
        <app-previous-policy-details></app-previous-policy-details>
      </div>
    </div> -->
  </div>
</div>
