<div class="row m-4">
  <div class="col-3">
    <app-insurance-details></app-insurance-details>
  </div>
  <div class="col-9">
    <mat-accordion multi="true">
      <mat-expansion-panel (opened)="loadCkyc('ckyc')">
        <mat-expansion-panel-header>
          <mat-panel-title> CKYC </mat-panel-title>
        </mat-expansion-panel-header>
        <app-ckyc *ngIf="isCkycLoaded"></app-ckyc>
      </mat-expansion-panel>
      
      <mat-expansion-panel (opened)="loadCkyc('Vehicle Owner Details')">
        <mat-expansion-panel-header>
          <mat-panel-title> Vehicle Owner Details </mat-panel-title>
        </mat-expansion-panel-header>
        <app-vehicle-owner-details *ngIf="showVehicleOwnerDetails"></app-vehicle-owner-details>
      </mat-expansion-panel>
      
      <mat-expansion-panel (opened)="loadCkyc('Nominee Details')">
        <mat-expansion-panel-header>
          <mat-panel-title> Nominee Details </mat-panel-title>
        </mat-expansion-panel-header>
        <app-nominee-details *ngIf="showNomineeDetails"></app-nominee-details>
      </mat-expansion-panel>
      
      <mat-expansion-panel (opened)="loadCkyc('Vehicle Details')">
        <mat-expansion-panel-header>
          <mat-panel-title> Vehicle Details </mat-panel-title>
        </mat-expansion-panel-header>
        <app-proposal-vehicle-details *ngIf="showVehicleDetails"></app-proposal-vehicle-details>
      </mat-expansion-panel>
      
      <mat-expansion-panel (opened)="loadCkyc('Previous Policy Details')">
        <mat-expansion-panel-header>
          <mat-panel-title> Previous Policy Details </mat-panel-title>
        </mat-expansion-panel-header>
        <app-previous-policy-details *ngIf="showPreviousPolicyDetails"></app-previous-policy-details>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
