.helpline{
    .cancel-btn {
        color: #ffb171;
        font-size: 14px;
        font-weight: 600;
        background-color: #fff;
        border: none;
        height: 36px;
        border: 1px solid #ffb171;
        width: 100%;
    }
    .dial-btn{
        width: 100%;
        height: 36px;
    }
    .sub-text{
        font-size: 14px;
        font-weight: 400;
        color: #535353;
        line-height: 24px;
    }
}