.header-share-text {
  font-size: 16px;
  font-weight: 500;
}
.share-text-color {
  color: #282828;
}
.bank-text-color {
  color: #939393;
  position: relative;
  bottom: 18px;
}
.social-media-image {
  position: relative;
  top: -5px;
}
