<div
  class="idv-range"
  [ngClass]="enableIdvCard ? 'addonBlur' : 'addonShow'"
  [hidden]="idvShowHide == 'bundled_tp' || idvShowHide == 'satp'"
>
  <div class="card my-2">
    <div class="main-card-body">
      <div class="card-body choose-value">
        <!-- <div class="range-flex">
          <div class="small-amount-value tag-text">Choose IDV</div>
          <div class="small-amount-value text-orange amount-format-text">
            {{ currentAmount | amountFormat }}
          </div>
        </div>
        <mat-slider
          class="custom-slider"
          #event
          min="{{ minIdv }}"
          max="{{ maxIdv }}"
          step="{{ minIdv }}"
          value="{{ investedAmount }}"
          (slideend)="onSliderRangeAmount(event.value)"
          (pointerup)="onSliderRangeAmount(event.value)"
          aria-readonly="true"
        ></mat-slider>
        <div class="range-flex">
          <div class="small-amount-value">&#8377; {{ minIdv }}</div>
          <div class="small-amount-value">&#8377; {{ maxIdv }}</div>
        </div> -->
        <div class="d-flex justify-content-between">
          <span class="idv">IDV</span>
          <div class="insurer">
            <img
              src="/assets/icon/insurer.svg"
              alt=""
              class="insurer-icon me-1"
            />
            <span>{{ quotesCount }} Insurers</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mt-2">
            <mat-radio-group
              aria-label="Select an option"
              class="d-grid"
              [(ngModel)]="selectedIDVOption"
              (change)="onSelectIDVOption($event.value)"
              [disabled]="enableIdvCard"
            >
              <div class="d-flex justify-content-between mt-2">
                <mat-radio-button value="min">Minimum IDV</mat-radio-button>
                <div class="insurer" *ngIf="minIdv">
                  <span class="text-center">{{ minIdv | numberFormat }}</span>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <mat-radio-button value="max">Maximum IDV</mat-radio-button>
                <div class="insurer" *ngIf="maxIdv">
                  <span class="text-center">{{ maxIdv | numberFormat }}</span>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <mat-radio-button value="choose">Choose IDV</mat-radio-button>
                <div class="insurer" *ngIf="amountShow">
                  <span class="text-center">{{
                    amountShow | numberFormat
                  }}</span>
                </div>
              </div>
            </mat-radio-group>
          </div>
          <div class="col-lg-8"></div>
          <!-- <div class="insurer col-lg-4" *ngIf="selectedIDVOption === 'choose'"><span class="text-center">6,00,000</span></div> -->

          <mat-form-field
            appearance="outline"
            [formGroup]="chooseIdvForm"
            *ngIf="selectedIDVOption === 'choose'"
            class="col-lg-12 mt-2"
          >
            <mat-label>Enter Value</mat-label>
            <input
              matInput
              type="text"
              appNumbersOnly
              formControlName="chooseIdv"
              placeholder="Enter Value"
              name="customIDV"
              [readonly]="enableIdvCard"
              (ngModelChange)="chooseIdvData()"
              appRemoveZeroFromStarting
            />
          </mat-form-field>
          <div class="col-lg-6 col-md-12 col-12 mt-3" *ngIf="clearIdvButton">
            <button
              class="submit-btn cancel-btn"
              type="submit"
              (click)="cancelIdv()"
              [disabled]="idvError || enableIdvCard"
            >
              Clear
            </button>
          </div>
          <div class="col-lg-6 col-md-12 col-12 mt-3" *ngIf="updateIdvButton">
            <button
              class="submit-btn update-btn"
              type="submit"
              (click)="updateIdv()"
              [disabled]="
                selectedIDVOption != 'choose' ||
                chooseIdvForm.invalid ||
                idvError
              "
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Responsive UI [Start] -->
<div class="idv-range-res">
  <div class="changeIdv-card">
    <div class="header">
      <div class="d-flex justify-content-between ps-4 pe-4 pt-4">
        <span class="change-text">Change IDV</span>
        <img
          src="/assets/icon/cross.svg"
          alt=""
          class="cross-icon me-3"
          (click)="cancelChangeIDv($event)"
        />
      </div>
    </div>
    <hr />
    <div class="main-card-body m-2">
      <div class="card-body">
        <!-- <div class="range-flex">
          <div class="small-amount-value tag-text">Choose IDV</div>
          <div class="small-amount-value text-orange amount-format-text">
            {{ currentAmount | amountFormat }}
          </div>
        </div> -->
        <div class="d-flex justify-content-between">
          <span class="idv">IDV</span>
          <div class="insurer">
            <img
              src="/assets/icon/insurer.svg"
              alt=""
              class="insurer-icon me-1"
            />
            <span>{{ quotesCount }} Insurers</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mt-2">
            <mat-radio-group
              aria-label="Select an option"
              class="d-grid"
              [(ngModel)]="selectedIDVOption"
              (change)="onSelectIDVOption($event.value)"
              
            >
              <div class="d-flex justify-content-between mt-2">
                <mat-radio-button value="min">Minimum IDV</mat-radio-button>
                <div class="insurer">
                  <span class="text-center">{{ minIdv | numberFormat }}</span>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <mat-radio-button value="max">Maximum IDV</mat-radio-button>
                <div class="insurer">
                  <span class="text-center">{{ maxIdv | numberFormat }}</span>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <mat-radio-button value="choose"
                  >Choose IDV</mat-radio-button
                >
                <div class="insurer">
                  <span class="text-center" *ngIf="amountShow">{{
                    amountShow | numberFormat
                  }}</span>
                </div>
              </div>
            </mat-radio-group>
          </div>
          <mat-form-field
            appearance="outline"
            [formGroup]="chooseIdvForm"
            *ngIf="selectedIDVOption === 'choose'"
            class="col-lg-12 mt-2"
          >
            <mat-label>Enter Value</mat-label>
            <input
              matInput
              type="text"
              appNumbersOnly
              formControlName="chooseIdv"
              placeholder="Enter Value"
              name="customIDV"
            />
          </mat-form-field>
          <div class="col-lg-12 col-md-12 col-12 mt-3">
            <button
              class="submit-btn update-btn"
              type="submit"
              (click)="updateIdv()"
              [disabled]="
                selectedIDVOption != 'choose' || chooseIdvForm.invalid
              "
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="idv-range-res">
    <div class="changeIdv-card">
      <div class="header">
        <div class="d-flex justify-content-between ps-4 pe-4 pt-4">
          <span class="change-text">Change IDV</span>
          <img
            src="/assets/icon/cross.svg"
            alt=""
            class="cross-icon me-3"
            (click)="cancelChangeIDv($event)"
          />
        </div>
      </div>
      <hr />
      <div class="main-card-body m-2">
        <div class="card-body">
          <div class="range-flex">
            <div class="small-amount-value tag-text">Choose IDV</div>
            <div class="small-amount-value text-orange amount-format-text">
              {{ currentAmount | amountFormat }}
            </div>
          </div>
          <mat-slider
            class="custom-slider"
            #event
            min="100000"
            max="700000"
            step="1000"
            value="{{ investedAmount }}"
            (input)="onSliderRangeAmount($event)"
            aria-readonly="true"
          ></mat-slider>
          <div class="range-flex">
            <div class="small-amount-value">&#8377; 4,98,500</div>
            <div class="small-amount-value">&#8377; 7,00,000</div>
          </div>
        </div>
      </div>
      <div class="btns d-flex p-3">
        <button class="cancel-btn col-6" (click)="cancelChangeIDv($event)">
          Cancel
        </button>
        <button class="submit-btn col-6">Change</button>
      </div>
    </div>
  </div> -->
</div>
<!-- Responsive UI [End] -->
