<div class="idv-range">
  <div class="card my-2">
    <div class="main-card-body">
      <div class="card-body">
        <div class="range-flex">
          <div class="small-amount-value tag-text">Choose IDV</div>
          <div class="small-amount-value text-orange amount-format-text">
            {{ currentAmount | amountFormat }}
          </div>
        </div>
        <mat-slider
          class="custom-slider"
          #event
          min="100000"
          max="700000"
          step="1000"
          value="{{ investedAmount }}"
          (input)="onSliderRangeAmount($event)"
          aria-readonly="true"
        ></mat-slider>
        <div class="range-flex">
          <div class="small-amount-value">&#8377; 4,98,500</div>
          <div class="small-amount-value">&#8377; 7,00,000</div>
        </div>
      </div>
    </div>
  </div>
</div>
