<mat-form-field appearance="outline" class="mat-input-custom">
  <mat-label>Engine Number</mat-label>
  <input
    matInput
    placeholder="Enter Engine Number"
    formControlName="engine_number"
  />
  <mat-error
    *ngIf="engineForm.controls['engine_number']?.hasError('required')"
    class="ms-4"
  >
    This is a required field.
  </mat-error>
  <mat-error
    *ngIf="engineForm.controls['engine_number']?.hasError('pattern')"
    class="ms-4"
  >
    Invalid Engine Number
  </mat-error>
</mat-form-field>
