<form [formGroup]="quotesListing">
  <div class="row quotes-header">
    <div
      class="col-lg-4 col-md-4 col-12 toggle-btn"
      [ngClass]="enableIdvCard ? 'addonBlur' : 'addonShow'"
    >
      <mat-tab-group
        (selectedTabChange)="onComprehensiveTabChange($event)"
        [selectedIndex]="selectedTabIndex"
        ><ng-container *ngFor="let quotesTab of tabDataList">
          <mat-tab label="{{ quotesTab?.code }}" [disabled]="enableIdvCard">
            <ng-template mat-tab-label id="{{ quotesTab?.code }}">
              {{ quotesTab.name | titlecase }}
              <!-- <span class="count">20</span> -->
            </ng-template>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </div>
    <div class="col-lg-8 col-md-12 col-12">
      <div class="d-flex justify-content-between quotesDropdown">
        <!-- owner type for web view -->
        <div
          class="col-lg-3 col-4 owner-type me-2"
          [ngClass]="enableIdvCard ? 'addonBlur' : 'addonShow'"
        >
          <mat-form-field appearance="outline">
            <mat-select
              formControlName="proposalType"
              class="text-transform-data"
              (selectionChange)="changeProposalType($event)"
              [disabled]="enableIdvCard"
            >
              <mat-option
                *ngFor="let proposalData of proposalList"
                [value]="proposalData.proposer_id"
              >
                <span class="text-transform-data">{{
                  proposalData.proposer_name
                }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- owner type for mobile view -->
        <div
          class="col-lg-3 col-md-3 col-4 owner-type-res me-2"
          [ngClass]="enableIdvCard ? 'addonBlur' : 'addonShow'"
        >
          <button
            mat-button
            (click)="openSort('Owner Type')"
            [disabled]="enableIdvCard"
          >
            {{ owner_type | titlecase
            }}<img
              src="assets/icon/dropdown.svg"
              class="share-icon ms-3"
              alt=""
            />
          </button>
        </div>
        <div
          class="col-lg-3 col-md-3 sort-dropdown me-2"
          [ngClass]="enableIdvCard ? 'addonBlur' : 'addonShow'"
        >
          <mat-form-field appearance="outline">
            <mat-select
              [(value)]="lowHighSelected"
              (selectionChange)="sorting($event)"
              [disabled]="enableIdvCard"
            >
              <mat-option value="low">Low to High</mat-option>
              <mat-option value="high">High to Low</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          class="col-lg-3 col-md-3 col-4 shareQuotes"
          [ngClass]="enableIdvCard ? 'addonBlur' : 'addonShow'"
        >
          <button
            mat-button
            (click)="selectQuotes('all')"
            [disabled]="enableIdvCard"
          >
            <img src="assets/icon/share.svg" class="share-icon me-1" alt="" />
            <span class="share-quotes-text">All Quotes</span>
          </button>
          <!-- <div
            *ngIf="shareQuotesDropdownValue"
            class="quotesDropdownvalue mt-2"
          >
            <button class="all-btn" (click)="selectQuotes('single')">
              Select Quotes
            </button>
            <button class="all-btn mt-1" (click)="selectQuotes('all')">
              All Quotes
            </button>
          </div> -->
        </div>
        <div class="col-lg-3 col-md-3 col-4 web-gst-earning">
          <div
          class=" inc-gst "
          [ngClass]="enableIdvCard ? 'addonBlur' : 'addonShow'"
        >
         <ng-container class="me-2" *ngIf="payout">
          <div class="gst me-2 pb-1">Earning</div>
          <mat-slide-toggle
            [checked]="defaultEarning"
            [disabled]="enableIdvCard"
            (change)="earningToggle($event)"
          >
          </mat-slide-toggle>
        </ng-container>
        <ng-container>
          <div class="gst me-2 pb-1 ms-2">Inc. GST</div>
          <mat-slide-toggle
            [checked]="defaultGST"
            [disabled]="enableIdvCard"
            (change)="gstToggle($event)"
          >
          </mat-slide-toggle>
        </ng-container>
       
        </div>
        </div>
        
        <div class="res-gst-earning col-lg-3 col-md-3 col-4 ms-2" >
          <div
          class="shareQuotes"
          [ngClass]="enableIdvCard ? 'addonBlur' : 'addonShow'"
          *ngIf="payout"
        >
          <button
            mat-button
            [disabled]="enableIdvCard"
            (click)="viewMoreGST()"
          >
            <span class="share-quotes-text">View More</span>
            <img src="assets/icon/dropdown.svg" class="share-icon ms-1" alt="" />

          </button>
        </div>
        <div *ngIf="!payout" class="inc-gst">
          <div class="gst me-2 pb-1 ms-2">Inc. GST</div>
          <mat-slide-toggle
            [checked]="defaultGST"
            [disabled]="enableIdvCard"
            (change)="gstToggle($event)"
          >
          </mat-slide-toggle>
        </div>
        <div *ngIf="gstEarningShow" class="profile inc-gst">
          <div class="show" >
            <div class="d-flex justify-content-between line" *ngIf="payout">
              <div class="gst me-2 pb-1">Earning</div>
              <mat-slide-toggle
                [checked]="defaultEarning"
                [disabled]="enableIdvCard"
                (change)="earningToggle($event)"
              >
              </mat-slide-toggle>
            </div>
            <div class="d-flex justify-content-between">
              <div class="gst me-2 pb-1">Inc. GST</div>
              <mat-slide-toggle
                [checked]="defaultGST"
                [disabled]="enableIdvCard"
                (change)="gstToggle($event)"
              >
              </mat-slide-toggle>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="progress-container" *ngIf="carLoader">
    <img
      src="assets/gif/Car.gif"
      alt="Overlay Image"
      class="overlay-image"
      [style.transform]="getImagePosition()"
      *ngIf="vehicleTypeValue == 'private_car'"
    />
    <img
      src="assets/gif/Motorbike.gif"
      alt="Overlay Image"
      class="overlay-image"
      [style.transform]="getImagePosition()"
      *ngIf="vehicleTypeValue == 'two_wheeler'"
    />
    <mat-progress-bar
      mode="determinate"
      [value]="progressValue"
    ></mat-progress-bar>
  </div>
  <ng-container *ngIf="quotationData?.length > 0">
    <!-- <div *ngIf="inspectionCase == 'Inspection'" class="row">
      <div class="col-12 inspectionCase">
        Vehicle inspection is required as your previous policy is not available
      </div>
    </div> -->
    <div class="quotation-listing" *ngIf="showComprehensiveDiv">
      <div *ngFor="let quotes of quotationData">
        <div class="row comprehensive-card mt-3">
          <div class="comprehensive-tab ps-4 pe-4 pt-4">
            <div
              [ngClass]="
                payout
                  ? 'd-flex justify-content-between'
                  : 'd-flex justify-content-end'
              "
            >
              <!-- <div class="payout" *ngIf="payout">
                <ng-container
                  *ngIf="
                    quotes?.payout_response && quotes?.payout_response != 'NA'
                  "
                >
                  <div
                    class="payout-inside"
                    *ngIf="quotes?.payout_response != 0"
                  >
                    <div class="payout-value pb-2">
                      {{ quotes?.payout_response }}* &nbsp; T&C
                    </div>
                  </div>
                </ng-container>
                <div class="payout-inside" *ngIf="quotes?.payout_response == 0">
                  <div class="payout-value pb-2">-----* &nbsp; T&C</div>
                </div>

                <div
                  class="payout-inside cursor-pointer"
                  *ngIf="quotes?.payout_response == 'NA'"
                  (click)="info()"
                >
                  <div class="payout-value pb-2">
                    <img
                      src="assets/icon/info.svg"
                      width="16"
                      height="16"
                      alt="info"
                    /><span class="info">Info</span> &nbsp; *T&C
                  </div>
                </div>
              </div> -->

              <!-- break in case banner-->
              <div class="d-flex justify-content-end">
                <div class="break-in me-3" *ngIf="quotes?.is_breakin">
                  <ng-container>
                    <div class="break-inside">
                      <div class="break-value pb-2">Inspection Reqd.</div>
                    </div>
                  </ng-container>

                  <!-- <div class="payout-inside cursor-pointer">
                <div class="payout-value pb-2">
                  <img
                    src="assets/icon/info.svg"
                    width="16"
                    height="16"
                    alt="info"
                  />
                  <span class="info">Info</span> &nbsp; 
                  *T&C
                </div>
              </div> -->
                </div>
              </div>
            </div>

            <div class="row" *ngIf="quotes?.renewal_url == null">
              <div class="col-lg-3 col-md-3 col-12 insurer-img">
                <div class="d-flex justify-content-between">
                  <img
                    [src]="quotes?.insurer_logo"
                    class="insurer-logo"
                    alt=""
                  />
                  <!-- <div *ngIf="addShare" class="responsive-checkbox">
                    <mat-checkbox
                      (change)="onCheckboxChange(quotes, $event)"
                      [checked]="isCheckboxChecked"
                      >Add to Share</mat-checkbox
                    >
                  </div> -->
                  <div class="payout-new responsive-checkbox" *ngIf="payout && defaultEarning">
                    <ng-container
                      *ngIf="
                        quotes?.payout_response && quotes?.payout_response != 'NA'
                      "
                    >
                      <div
                        class="payout-inside-new"
                        *ngIf="quotes?.payout_response != 0"
                      >
                        <div class="payout-rupees">
                          <img
                            src="assets/icon/rupee-payout.svg"
                            class="me-2"
                            alt=""
                          />
                          You Earn ₹ {{ quotes?.payout_response }}*
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>

              <!-- {{quotes.insurer_name}} -->
              <div class="col-lg-6 col-md-6 col-6 idv-range">
                <div class="d-flex justify-content-between">
                  <div>
                    <span class="idv-amount">
                      IDV (&#8377;
                      {{ quotes?.premium_details?.min_idv | number : "2." }}-
                      &#8377;
                      {{
                        quotes?.premium_details?.max_idv | number : "2."
                      }}) </span
                    ><br />
                    <span class="idv-choose-amount mt-1">
                      &#8377;
                      {{ quotes?.premium_details?.idv | number : "2." }} </span
                    ><br />
                  </div>
                  <!-- <div *ngIf="addShare" class="web-checkbox">
                    <mat-checkbox
                      (change)="onCheckboxChange(quotes, $event)"
                      [checked]="isCheckboxChecked"
                      #checkboxRef
                      >Add to Share</mat-checkbox
                    >
                  </div> -->
                  <div class="payout-new web-checkbox" *ngIf="payout && defaultEarning">
                    <ng-container
                      *ngIf="
                        quotes?.payout_response && quotes?.payout_response != 'NA'
                      "
                    >
                      <div
                        class="payout-inside-new"
                        *ngIf="quotes?.payout_response != 0"
                      >
                        <div class="payout-rupees">
                          <img
                            src="assets/icon/rupee-payout.svg"
                            class="me-2"
                            alt=""
                          />
                          You Earn ₹ {{ quotes?.payout_response }}* 
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div *ngIf="quotes?.payd?.status" class="payd-web">
                  <div class="pay-drive mb-2">
                    <div class="d-flex">
                      <img
                        src="assets/icon/payDrive.svg"
                        class="drive-img me-2"
                        alt=""
                      />
                      <span class="drive-text">PAY AS YOU DRIVE</span>
                    </div>
                    <span class="pay-drive-message mb-2">{{
                      quotes?.payd?.message
                    }}</span>
                    <div
                      class="km-buttons"
                      *ngIf="quotes?.payd?.payd_range != null"
                    >
                      <div *ngFor="let data of quotes?.payd?.payd_range">
                        <button
                          class="km-value"
                          value="data?.value"
                          (click)="
                            selectedKms(data?.value, quotes?.insurer_code)
                          "
                          [class.active]="selectedKmsValue == data?.value"
                        >
                          {{ data?.label }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-6 premium-btn">
                <div
                  class="renewal-card"
                  (click)="getProposalDetails(quotes)"
                  *ngIf="quotes?.is_rb_renewal"
                >
                  <span class="text">Renewal Quote</span>
                  <button
                    tabindex="0"
                    class="premium-breakup-amount cursor-pointer text-center premium-breakup-amount-btn"
                  >
                    <span class="d-none">{{ quotes?.insurer_name }}</span>
                    &#8377;
                    {{
                      defaultGST
                        ? (quotes.premium_details?.gross_premium
                          | number : "2.")
                        : (quotes.premium_details?.net_premium | number : "2.")
                    }}
                    <p class="inc">
                      {{ defaultGST ? "(Incl. GST)" : "(Excl. GST)" }}
                    </p>
                  </button>
                </div>
                <!-- <button
                  *ngIf="
                  quotes?.is_rb_renewal
                  "
                  tabindex="0"
                  class="premium-breakup-amount cursor-pointer text-center premium-breakup-amount-btn"
                  (click)="getProposalDetails(quotes)"
                >
                  <span class="d-none">{{ quotes?.insurer_name }}</span>
                  &#8377;

                  {{
                    defaultGST
                      ? (quotes.premium_details.gross_premium | number : "2.")
                      : (quotes.premium_details.net_premium | number : "2.")
                  }}
                  <p class="inc">
                    {{ defaultGST ? "(Incl. GST)" : "(Excl. GST)" }}
                  </p>
                </button> -->
                <button
                  tabindex="0"
                  class="premium-breakup-amount cursor-pointer text-center premium-breakup-amount-btn"
                  (click)="getProposalDetails(quotes)"
                  *ngIf="!quotes?.is_rb_renewal"
                >
                  <span class="d-none">{{ quotes?.insurer_name }}</span>
                  &#8377;

                  {{
                    defaultGST
                      ? (quotes.premium_details.gross_premium | number : "2.")
                      : (quotes.premium_details.net_premium | number : "2.")
                  }}
                  <p class="inc">
                    {{ defaultGST ? "(Incl. GST)" : "(Excl. GST)" }}
                  </p>
                </button>
                <p>
                  <span>
                    <button
                      (click)="openPremiumBreakupModal(quotes, $event)"
                      class="premium-breakup"
                    >
                      Premium Breakup
                    </button>
                  </span>
                </p>
              </div>
              <div class="col-12 payd-res">
                <div *ngIf="quotes?.payd?.status">
                  <div class="pay-drive mb-2">
                    <div class="d-flex">
                      <img
                        src="assets/icon/payDrive.svg"
                        class="drive-img me-2"
                        alt=""
                      />
                      <span class="drive-text">PAY AS YOU DRIVE</span>
                    </div>
                    <span class="pay-drive-message mb-2">{{
                      quotes?.payd?.message
                    }}</span>
                    <div
                      class="km-buttons"
                      *ngIf="quotes?.payd?.payd_range != null"
                    >
                      <div *ngFor="let data of quotes?.payd?.payd_range">
                        <button
                          class="km-value"
                          value="data?.value"
                          (click)="
                            selectedKms(data?.value, quotes?.insurer_code)
                          "
                          [class.active]="selectedKmsValue == data?.value"
                        >
                          {{ data?.label }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="quotes?.renewal_url != null">
              <div class="col-lg-3 col-md-3 col-6 insurer-img">
                <div class="d-flex justify-content-between mt-2">
                  <img
                    [src]="quotes?.insurer_logo"
                    class="insurer-logo"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-lg-9 col-md-9 col-6 premium-btn">
                <div
                  class="renewal-card"
                  (click)="renewalRedirection(quotes?.renewal_url)"
                  *ngIf="quotes?.is_rb_renewal"
                >
                  <span class="text">Renewal Quote</span>
                  <button
                    tabindex="0"
                    class="premium-breakup-amount cursor-pointer text-center premium-breakup-amount-btn"
                  >
                    Renew
                  </button>
                </div>
                <!-- <p>
                  <span>
                    <button
                      class="premium-breakup"
                    >
                      Renewal Notice
                    </button>
                  </span>
                </p> -->
              </div>
            </div>
          </div>
          <div class="comprehensive-tab ps-4 pe-4 pb-2">
            <div class="flexi-card">
              <div class="row ">
                <div class="col-lg-2 flexi-text">
                  <img
                      src="assets/icon/discount-flexi.svg"
                      class="drive-img me-2"
                      alt=""
                      />
                  <span>Flexi Discount</span>
                  
                </div>
                <div class="col-lg-10">
                  <div class="custom-sider">
                    <div class="row">
                      <span class="col-lg-2 col-12 d-flex align-items-center">Choose your discount! </span> 
                      <div class="col-lg-6 col-12 d-flex">
                        <span class="me-3 d-flex align-items-center">20%</span>
                        <div class="slider-wrapper"> 
                          <mat-slider
                        class="custom-slider"
                        #event
                        [min]="1"
                        [max]="100"
                        [step]="1"
                        [value]="24"
                        aria-readonly="true"
                        ></mat-slider>
                        </div>
                        
                        <span class="d-flex align-items-center">80%</span>
                      </div>
                      <div class="col-lg-2 col-6">
                        <div class="flexi-input">
                          <input
                          matInput
                          type="text"
                          appNumbersOnly
                          maxlength="3"
                        />
                        </div>
                        
                      </div>
                      <div class="col-lg-2 col-6 flexi-btn">
                        <button
                            class="submit-btn"
                          >
                            <span>Apply</span>
                          </button>
                      </div>

                    </div>
                   
                  </div>
                </div>
               
              </div>
            </div>
           
            
          </div>
        </div>
        
        <!-- comprehensive key feature web view -->
        <div class="comprehensive-key-features">
          <div class="comprehensive-key-features-value">
            <div
              class="key-features-value me-3"
              *ngFor="
                let data of quotes?.premium_details?.addon_premium_details
              "
            >
              <span
                *ngIf="data?.add_on_name && data?.is_offered"
                class="key-features-value"
              >
                <img src="assets/icon/insurer-key-feature.svg" class="me-1" />

                {{ data?.add_on_name }}
              </span>
              <span
                *ngIf="data?.add_on_name && !data?.is_offered"
                class="key-features-value-not-offered"
              >
                <img src="assets/icon/quotes_cross.svg" />

                {{ data?.add_on_name }}
              </span>
            </div>
          </div>
        </div>
        <!-- comprehensive key feature mobile view -->
        <div class="row res-comprehensive-key-features">
          <span class="key-features">
            <div
              class="key-features-value me-3"
              *ngFor="
                let data of quotes?.premium_details?.addon_premium_details
              "
            >
              <span
                *ngIf="data?.add_on_name && data?.is_offered"
                class="key-features-value"
              >
                <img src="assets/icon/insurer-key-feature.svg" class="me-1" />

                {{ data?.add_on_name }}
              </span>
              <span
                *ngIf="data?.add_on_name && !data?.is_offered"
                class="key-features-value-not-offered"
              >
                <img src="assets/icon/quotes_cross.svg" />

                {{ data?.add_on_name }}
              </span>
            </div>
          </span>
        </div>
      </div>

      <br />
      <div class="changeIDV-sort-btn" *ngIf="!isChecked">
        <div
          class="d-flex justify-content-around"
          [ngClass]="enableIdvCard ? 'addonBlur' : 'addonShow'"
        >
          <div
            class="fixed-btn d-flex justify-content-center"
            (click)="carLoader ? null : openChangeIDV()"
            [ngClass]="carLoader ? 'addonBlur' : 'addonShow'"
          >
            Change IDV
          </div>
          <div class="pipe">|</div>
          <div
            class="fixed-btn d-flex justify-content-between"
            (click)="enableIdvCard ? null : openAddons()"
          >
            <!-- <img src="assets/icon/addOn.svg" alt="" class="icons me-3" /> -->
            Addons
          </div>
          <div class="pipe">|</div>
          <div
            class="fixed-btn"
            (click)="enableIdvCard ? null : openSort('Sort')"
          >
            <!-- <img src="assets/icon/sort.svg" alt="" class="icons me-3" /> -->
            Sort
          </div>
        </div>
      </div>
    </div>

    <div class="quotation-listing" *ngIf="!showComprehensiveDiv">
      <div *ngFor="let quotes of quotationData">
        <div class="row comprehensive-card mt-3">
          <div class="comprehensive-tab ps-4 pe-4 pt-4">
            <!-- <div class="payout" *ngIf="payout">
              <ng-container *ngIf="quotes?.payout_response">
                <div class="payout-inside" *ngIf="quotes?.payout_response != 0">
                  <div class="payout-value pb-2">
                    {{ quotes?.payout_response }}* &nbsp; T&C
                  </div>
                </div>
              </ng-container>
              <div class="payout-inside" *ngIf="quotes?.payout_response == 0">
                <div class="payout-value pb-2">-----* &nbsp; T&C</div>
              </div>
            </div> -->

            <!-- break in case banner-->
            <div class="break-in" *ngIf="quotes?.is_breakin">
              <ng-container>
                <div class="break-inside">
                  <div class="break-value pb-2">Inspection Reqd.</div>
                </div>
              </ng-container>

              <!-- <div class="payout-inside cursor-pointer">
                <div class="payout-value pb-2">
                  <img
                    src="assets/icon/info.svg"
                    width="16"
                    height="16"
                    alt="info"
                  />
                  <span class="info">Info</span> &nbsp; 
                  *T&C
                </div>
              </div> -->
            </div>

            <div class="row" *ngIf="quotes?.renewal_url == null">
              <div
                class="col-lg-3 col-md-3 col-6 d-flex justify-content-center align-center insurer-img"
              >
              <div class="d-block">
                <div class="d-flex justify-content-between">
                  <img
                    [src]="quotes?.insurer_logo"
                    class="insurer-logo"
                    alt=""
                  />
                </div>
                <div class="payout-new responsive-checkbox mt-2" *ngIf="payout && defaultEarning">
                  <ng-container
                  
  
                    *ngIf="
                      quotes?.payout_response && quotes?.payout_response != 'NA'
                    "
                  >
                    <div
                      class="payout-inside-new padding-tp"
                      *ngIf="quotes?.payout_response != 0"
                    >
                      <div class="payout-rupees font-tp">
                        <img
                          src="assets/icon/rupee-payout.svg"
                          class="me-2"
                          alt=""
                        />
                        You Earn ₹ {{ quotes?.payout_response }}* 
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
               
              </div>

              <!-- {{quotes.insurer_name}} -->
              <div class="col-lg-6 col-md-6 web-checkbox">
                <div class="d-flex justify-content-end" *ngIf="addShare">
                  <!-- <div *ngIf="quotes?.payd?.status">
                    <div class="pay-drive mb-2">
                      <div class="d-flex">
                        <img
                          src="assets/icon/payDrive.svg"
                          class="drive-img me-2"
                          alt=""
                        />
                        <span class="drive-text">PAY AS YOU DRIVE</span>
                      </div>
                      <span class="pay-drive-message mb-2">{{
                        quotes?.payd?.message
                      }}</span>
                      <div
                        class="km-buttons"
                        *ngIf="quotes?.payd?.payd_range != null"
                      >
                        <div *ngFor="let data of quotes?.payd?.payd_range">
                          <button
                            class="km-value"
                            value="data?.value"
                            (click)="
                              selectedKms(data?.value, quotes?.insurer_code)
                            "
                            [class.active]="selectedKmsValue == data?.value"
                          >
                            {{ data?.label }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="web-checkbox" >
                    <mat-checkbox
                      (change)="onCheckboxChange(quotes, $event)"
                      [checked]="isCheckboxChecked"
                      >Add to Share</mat-checkbox
                    >
                  </div> -->
                </div>
                <div class="row">
                  <div class="col-lg-6">
                  </div>
                  <div class="payout-new web-checkbox col-lg-6 col-6" *ngIf="payout && defaultEarning">
                    <ng-container
                      *ngIf="
                        quotes?.payout_response && quotes?.payout_response != 'NA'
                      "
                    >
                      <div
                        class="payout-inside-new web-tp-width"
                        *ngIf="quotes?.payout_response != 0"
                      >
                        <div class="payout-rupees">
                          <img
                            src="assets/icon/rupee-payout.svg"
                            class="me-2"
                            alt=""
                          />
                          You Earn ₹ {{ quotes?.payout_response }}* 
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-6 premium-btn">
                <!-- <div *ngIf="addShare" class="responsive-checkbox">
                  <mat-checkbox
                    (change)="onCheckboxChange(quotes, $event)"
                    [checked]="isCheckboxChecked"
                    >Add to Share</mat-checkbox
                  >
                </div> -->
                
                <div
                  class="renewal-card"
                  (click)="getProposalDetails(quotes)"
                  *ngIf="quotes?.is_rb_renewal"
                >
                  <span class="text">Renewal Quote</span>
                  <button
                    tabindex="0"
                    class="premium-breakup-amount cursor-pointer text-center premium-breakup-amount-btn"
                  >
                    <span class="d-none">{{ quotes?.insurer_name }}</span>
                    &#8377;

                    {{
                      defaultGST
                        ? (quotes.premium_details.gross_premium | number : "2.")
                        : (quotes.premium_details.net_premium | number : "2.")
                    }}
                    <p class="inc">
                      {{ defaultGST ? "(Incl. GST)" : "(Excl. GST)" }}
                    </p>
                  </button>
                </div>
                <!-- <button
                  *ngIf="
                    quotes?.is_rb_renewal
                  "
                  tabindex="0"
                  class="premium-breakup-amount cursor-pointer text-center premium-breakup-amount-btn tp-res-btn"
                  (click)="getProposalDetails(quotes)"
                >
                  <span class="d-none">{{ quotes?.insurer_name }}</span>
                  &#8377;

                  {{
                    defaultGST
                      ? (quotes.premium_details.gross_premium | number : "2.")
                      : (quotes.premium_details.net_premium | number : "2.")
                  }}
                  <p class="inc">
                    {{ defaultGST ? "(Incl. GST)" : "(Excl. GST)" }}
                  </p>
                </button> -->
                <button
                  class="premium-breakup-amount cursor-pointer text-center premium-breakup-amount-btn tp-res-btn"
                  (click)="getProposalDetails(quotes)"
                  *ngIf="!quotes?.is_rb_renewal"
                >
                  <span class="d-none">{{ quotes?.insurer_name }}</span>
                  &#8377;
                  {{
                    defaultGST
                      ? (quotes?.premium_details?.gross_premium | number : "2.")
                      : (quotes?.premium_details?.net_premium | number : "2.")
                  }}
                  <p class="inc">
                    {{ defaultGST ? "(Incl. GST)" : "(Excl. GST)" }}
                  </p>
                </button>
                <p>
                  <span>
                    <button
                      (click)="openPremiumBreakupModal(quotes, $event)"
                      class="premium-breakup mt-2"
                    >
                      Premium Breakup
                    </button>
                  </span>
                </p>
              </div>
              <ng-container *ngIf="renewalType == 'renewal'">
                <span
                  class="renewal-premium"
                  *ngIf="quotes.insurer_code == 'icici'"
                  >* The updated premium with selected addons will be shown at
                  the time of payment, this is the base premium.</span
                >
              </ng-container>
            </div>
            <div class="row" *ngIf="quotes?.renewal_url != null">
              <div class="col-lg-3 col-md-3 col-6 insurer-img">
                <div class="d-flex justify-content-between mt-2">
                  <img
                    [src]="quotes?.insurer_logo"
                    class="insurer-logo"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-lg-9 col-md-9 col-6 premium-btn">
                <div
                  class="renewal-card"
                  (click)="renewalRedirection(quotes?.renewal_url)"
                  *ngIf="quotes?.is_rb_renewal"
                >
                  <span class="text">Renewal Quote</span>
                  <button
                    tabindex="0"
                    class="premium-breakup-amount cursor-pointer text-center premium-breakup-amount-btn"
                  >
                    Renew
                  </button>
                </div>
                <!-- <p>
                  <span>
                    <button
                      class="premium-breakup"
                    >
                      Renewal Notice
                    </button>
                  </span>
                </p> -->
              </div>
            </div>
          </div>
        </div>
        <!-- comprehensive key feature web view -->
        <div class="comprehensive-key-features">
          <div class="comprehensive-key-features-value">
            <div
              class="key-features-value me-3"
              *ngFor="
                let data of quotes?.premium_details?.addon_premium_details
              "
            >
              <span
                *ngIf="data?.add_on_name && data?.is_offered"
                class="key-features-value"
              >
                <img src="assets/icon/insurer-key-feature.svg" />

                {{ data?.add_on_name }}
              </span>
              <span
                *ngIf="data?.add_on_name && !data?.is_offered"
                class="key-features-value-not-offered"
              >
                <img src="assets/icon/quotes_cross.svg" />

                {{ data?.add_on_name }}
              </span>
            </div>
          </div>
        </div>

        <!-- comprehensive key feature mobile view -->
        <div class="row res-comprehensive-key-features">
          <span class="key-features">
            <div
              class="key-features-value me-3"
              *ngFor="
                let data of quotes?.premium_details?.addon_premium_details
              "
            >
              <span
                *ngIf="data?.add_on_name && data?.is_offered"
                class="key-features-value"
              >
                <img src="assets/icon/insurer-key-feature.svg" />

                {{ data?.add_on_name }}
              </span>
              <span
                *ngIf="data?.add_on_name && !data?.is_offered"
                class="key-features-value-not-offered"
              >
                <img src="assets/icon/quotes_cross.svg" />

                {{ data?.add_on_name }}
              </span>
            </div>
          </span>
        </div>
      </div>

      <br />
      <div class="changeIDV-sort-btn" *ngIf="!isChecked">
        <ng-container
          *ngIf="
            selectedProductType === 'bundled_tp' ||
              selectedProductType === 'satp';
            else showSecondDiv
          "
        >
          <div class="d-flex justify-content-around">
            <div class="fixed-btn" (click)="openAddons()">
              <!-- <img
                src="assets/icon/addOn.svg"
                alt=""
                class="icons me-3"
              /> -->
              Addons
            </div>
            <div class="pipe">|</div>

            <div class="fixed-btn" (click)="openSort('Sort')">
              <!-- <img src="assets/icon/sort.svg" alt="" class="icons me-3" /> -->
              Sort
            </div>
          </div>
        </ng-container>
        <ng-template #showSecondDiv>
          <div class="row">
            <div
              class="fixed-btn col-4 d-flex justify-content-center"
              (click)="openChangeIDV()"
            >
              Change IDV
              <div class="pipe">|</div>
            </div>
            <div
              class="fixed-btn col-4 d-flex justify-content-center"
              (click)="openAddons()"
            >
              <!-- <img
                src="assets/icon/addOn.svg"
                alt=""
                class="icons me-3"
              /> -->
              Addons
              <div class="pipe">|</div>
            </div>
            <div class="fixed-btn col-4" (click)="openSort('Sort')">
              <!-- <img src="assets/icon/sort.svg" alt="" class="icons me-3" /> -->
              Sort
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-container>
</form>
<div class="w-100 comprehensive-no-quotes-information mt-3">
  <div>
    <div
      class="d-flex justify-content-between no-quotes-information-card"
      *ngIf="!noQuotesInformation"
    >
      <div class="col-lg-8 col-8 d-flex align-items-center">
        <img src="assets/icon/quotes-warning.svg" alt="" class="warning-img" />
        <span class="comprehensive-no-quotes-information-text ms-2 mb-1">
          Some of the Insurance providers didn’t produce quotes for the selected
          category
        </span>
      </div>
      <div class="col-lg-4 col-4 d-flex align-items-center justify-content-end">
        <p
          class="comprehensive-know-more-text tag-right cursor-pointer"
          (click)="noQuotes(knowMoreText)"
        >
          {{ knowMoreText }}
        </p>
      </div>
    </div>
    <div *ngIf="noQuotesInformation">
      <div class="row no-quotes-information-card-white">
        <div class="col-lg-8 col-8 d-flex">
          <img
            src="assets/icon/quotes-warning.svg"
            alt=""
            class="warning-img mt-1"
          />
          <span class="comprehensive-no-quotes-information-text ms-3 my-1">
            Some of the Insurance providers didn’t produce quotes for the
            selected category
          </span>
        </div>
        <div class="col-lg-4 col-4">
          <p
            class="comprehensive-know-more-text tag-right cursor-pointer"
            (click)="noQuotes(knowMoreText)"
          >
            {{ knowMoreText }}
          </p>
        </div>
      </div>
      <div class="row ps-5 pe-4 pt-2 pb-4">
        <div class="col-12">
          <p class="insurer-no-quotes-reasons mb-0">
            Following are the possible reasons
          </p>
          <p class="mb-0" *ngFor="let quotesError of errorQuotationArray">
            <span class="insurer-no-quotes-reasons">
              {{ quotesError.insurer_name }}
            </span>
            <span class="insurer-no-quotes-reasons-value">
              {{ quotesError.error_message }}
              <!-- Error in calculate: UW Service Messages => UW status is
            <span class="insurer-no-quotes-reasons-warning">
              DECLINING
            </span>
            the loading screen -->
            </span>
          </p>
          <!-- <p class="mb-0">
          <span class="insurer-no-quotes-reasons"> ROYAL SUNDARAM: </span>
          <span class="insurer-no-quotes-reasons-value">
            Previous Policy Expiry Date is mandatory
          </span>
        </p>
        <p class="mb-1">
          <span class="insurer-no-quotes-reasons"> IFFCO TOKIO: </span>
          <span class="insurer-no-quotes-reasons-value">
            RTO declined Zero NCB
          </span>
        </p> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="selected-share" *ngIf="selectedQuotes.length > 0">
  <app-selected-share
    *ngIf="isChecked"
    [quotes]="selectedQuotes"
    (notifyParent)="cancelShare($event)"
  ></app-selected-share>
</div>
