.quotation-listing {
  .comprehensive-card {
    border: 1px solid #eaeaea;
    border-radius: 16px 16px 0 0;
    margin: 5px 0 0px 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .comprehensive-tab {
    background-color: #fff;
    .idv-amount {
      color: #282828;
      font-weight: 600;
      font-size: 12px;
      opacity: 50%;
    }

    .idv-choose-amount {
      color: #282828;
      font-weight: 600;
      font-size: 14px;
      opacity: 100%;
    }
    .premium-btn {
      text-align: center;
      margin-top: 7px;
      display: grid;
      justify-content: center;
    }
    .premium-breakup-amount {
      background: linear-gradient(180deg, #ffb171 0%, #ff943d 100%);
      color: #ffffff;
      border-radius: 12px;
      padding: 7px 20px;
      width: 121px;
      height: 50px;
      text-align: center;
      font-weight: 600;
      
    }
    .premium-breakup {
      color: #5384ea;
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
      // margin-top: 10px !important;
      background: white;
      border: none;
    }
  }
  .comprehensive-key-features {
    border-bottom: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-radius: 0 0 16px 16px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #f5f8fe;
    .key-features-text {
      color: #535353;
      font-size: 11px;
      font-weight: 600;
    }
    .key-features-value {
      color: #47be88;
      font-size: 11px;
      font-weight: 600;
    }
    .key-features-value-not-offered {
      color: #f64140;
      font-size: 11px;
      font-weight: 600;
    }
    .comprehensive-key-features-value {
      margin: 10px 25px 10px 25px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
  .res-comprehensive-key-features {
    display: none;
  }
  .comprehensive-no-quotes-information {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 12px;
    margin: 5px 0 0px 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .comprehensive-no-quotes-information-text {
    font-size: 12px;
    font-weight: 500;
    opacity: 100%;
    color: #282828;
  }
  .comprehensive-know-more-text {
    color: #5384ea;
    font-size: 12px;
    font-weight: 600;
  }
  .no-quotes-information-card {
    padding: 12px 12px 0px 12px;
    background-color: #f5f8fe;
    .warning-img {
      width: 22px;
      height: 18px;
    }
  }
  .no-quotes-information-card-white {
    padding: 12px 12px 0px 12px;
    background-color: #fff;
    .warning-img {
      width: 22px;
      height: 18px;
    }
  }
  .comprehensive-know-more-option {
    border: 1px solid #eaeaea;
  }
  .insurer-no-quotes-reasons {
    font-size: 12px;
    font-weight: 600;
    color: #282828;
  }
  .insurer-no-quotes-reasons-value {
    font-size: 12px;
    font-weight: 500;
    color: #282828;
  }
  .insurer-no-quotes-reasons-warning {
    font-size: 12px;
    font-weight: 500;
    color: #f64140;
  }
  .comprehensive-no-quotes-card {
    border: 1px solid #eaeaea;
    border-radius: 12px;
    margin: 5px 0 0px 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .changeIDV-sort-btn {
    display: none;
  }
  .progress-container {
    position: relative;
  }
  .premium-breakup-amount-btn {
    border: none;
  }
  .renewal-card{
    border-radius: 16px;
    background-color: rgba(255, 245, 237, 1);
    width: 129px;
    padding-bottom: 4px;
    .text{
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: rgba(255, 152, 68, 1);
    }
  }
}
.progress-container {
  position: relative;
  width: 100%;
  height: 30px; /* Adjust height as needed */
}
::ng-deep .mat-progress-bar-background {
  fill: white !important;
}
::ng-deep .mat-progress-bar-buffer {
  background-color: white;
}
::ng-deep .mat-progress-bar .mat-progress-bar-fill::after {
  height: 60% !important;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: #0055ff !important;
}
.overlay-image {
  width: 53px;
  height: 25px;
}
.shareQuotes {
  position: relative;
  .share-quotes-text{
    font-size: 12px;
    font-weight: 600;
    color: #5384EA;
    line-height: 15px;
  }
}
.selected-share {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 97%;
  left: 25px;
}
.quotes-header{
  margin-bottom: -25px;
}
.insurer-img{
  margin-top: 9px;
}
.idv-range{
  margin-top: 2px;
}
.toggle-btn {
  ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #ff943d !important;
    width: 50%;
  }
  ::ng-deep .mat-tab-label {
    font-weight: 600;
    font-size: 12px;
    padding: 0 !important;
    color: #282828;
    min-width: auto !important;
    width: 50%;
  }
  ::ng-deep .mat-tab-label-active {
    color: #ff943d !important;
    font-weight: 600;
    font-size: 12px;
    width: 50%;
  }

  .count {
    padding: 4px 8px 4px 8px;
    margin-left: 10px;
    // color: #FF943D;
    background-color: #ff943d26;
    border-radius: 100px;
    font-weight: 600;
  }
  .third-party-count {
    padding: 4px 8px 4px 8px;
    margin-left: 10px;
    // color: #282828;
    background-color: #f6f6f6;
    border-radius: 100px;
    font-weight: 600;
  }
}

.quotesDropdown {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 1em !important;
    bottom: 6px;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 10px 0 0 10px !important;
    background-color: #f5f8fe;
    width: 10px !important;
    color: #f5f8fe;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 10px 10px 0 !important;
    background-color: #f5f8fe;
    width: 10px !important;
    color: #f5f8fe;
  }
  ::ng-deep .mat-select-value {
    color: #5384ea !important;
    font-size: 12px;
    font-weight: 600;
  }
  ::ng-deep .mat-select {
    padding: 0 6px !important;
  }
  ::ng-deep .mat-select-arrow-wrapper {
    height: 3px !important;
  }
  ::ng-deep .mat-select-arrow {
    border-image-source: url(/assets/icon/dropdown.svg) !important;
  }
  ::ng-deep .mat-form-field {
    width: 100%;
  }

  ::ng-deep .mat-button {
    margin-top: 12px;
    background-color: #f5f8fe;
    border-radius: 10px;
    border: 1px solid #f5f8fe;
    width: 100%;
    color: #5384ea;
    font-size: 11px;
    padding: 0 !important;
    font-weight: 600;
  }
  .quotesDropdownvalue {
    padding: 4px;
    border: 1px solid #eaeaea;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    position: absolute;
    .all-btn {
      background-color: #fff;
      border: none;
      width: 100%;
      color: #282828;
      font-size: 12px;
    }
    .all-btn:hover {
      background-color: #f5f8fe;
      color: #5384ea;
      border-radius: 4px;
      border: 1px solid #f5f8fe;
      width: 100%;
      font-size: 12px;
    }
  }
  .gst {
    font-size: 12px;
    font-weight: 600;
    color: #282828;
    padding-top: 5px;
  }
  .inc-gst {
    display: flex;
    justify-content: center;
    margin-top: 18px;

    ::ng-deep .mat-slide-toggle-thumb {
      width: 15px !important;
      height: 15px !important;
      background-color: #ffffff;
    }
    ::ng-deep .mat-slide-toggle-thumb-container {
      top: 1px !important;
      left:2px !important;
    }
    ::ng-deep .mat-slide-toggle-bar {
      width: 30px;
      height: 18px;
      border-radius: 100px;
    }
    ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
      background-color: #ffb171;
      border-radius: 100px;
    }
    ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
      transform: translate3d(11px, 0, 0);
    }
  }
  .owner-type-res {
    display: none;
  }
  .owner-type {
    display: block;
  }
  
}

.insurer-logo {
  width: 100%;
  height: 40px;
  object-fit: scale-down;
}
.responsive-checkbox {
  display: none;
}
.web-checkbox {
  display: block;
}
.comprehensive-no-quotes-information {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  margin: 5px 0 0px 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
.comprehensive-no-quotes-information-text {
  font-size: 12px;
  font-weight: 500;
  opacity: 100%;
  color: #282828;
}
.comprehensive-know-more-text {
  color: #5384ea;
  font-size: 12px;
  font-weight: 600;
}
.no-quotes-information-card {
  padding: 12px 12px 0px 12px;
  background-color: #f5f8fe;
  .warning-img {
    width: 22px;
    height: 18px;
  }
}
.no-quotes-information-card-white {
  padding: 12px 12px 0px 12px;
  background-color: #fff;
  .warning-img {
    width: 22px;
    height: 18px;
  }
}
.comprehensive-know-more-option {
  border: 1px solid #eaeaea;
}
.insurer-no-quotes-reasons {
  font-size: 12px;
  font-weight: 600;
  color: #282828;
}
.insurer-no-quotes-reasons-value {
  font-size: 12px;
  font-weight: 500;
  color: #282828;
}
.insurer-no-quotes-reasons-warning {
  font-size: 12px;
  font-weight: 500;
  color: #f64140;
}
.comprehensive-no-quotes-card {
  border: 1px solid #eaeaea;
  border-radius: 12px;
  margin: 5px 0 0px 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
@media screen and (max-width: 999px) {
  .toggle-btn {
    ::ng-deep .mat-tab-label {
      padding: 0px 15px !important;
      width: 50%;
    }
    .count {
      margin-left: 10px !important;
    }
  }
  .responsive-checkbox {
    display: block;
  }
  .web-checkbox {
    display: none;
  }
  .sort-dropdown {
    display: none;
  }
  .selected-share {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 95%;
    left: 8px;
  }
  .quotesDropdown {
    ::ng-deep .mat-select-value {
      color: #5384ea !important;
      font-size: 10px;
      font-weight: 600;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
      padding: 0 !important;
    }
    ::ng-deep .mat-button {
      font-size: 10px;
      padding: 0 !important;
    }
    .gst {
      font-size: 10px;
    }

    .owner-type-res {
      display: block;
    }
    .owner-type {
      display: none;
    }
  }
  .quotes-header{
    margin-bottom: 0px;
  }
  .quotation-listing {
    
    .comprehensive-key-features {
      display: none;
    }
    .comprehensive-tab {
      .premium-btn-tp {
        margin-top: 7px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
      }
    }
    ::ng-deep .mat-radio-button {
      width: 100% !important;
    }

    .res-comprehensive-key-features {
      border: 1px solid #eaeaea;
      border-radius: 0 0 16px 16px;
      margin: 0px;
      background: #ffff;
      padding: 10px;
      display: block;
      .key-features {
        display: flex;
        flex-wrap: inherit;
        padding: 0 !important;
        .comprehensive-key-features-value {
          color: #47be88;
          background-color: #47be881a;
          border-radius: 100px;
          padding: 4px 8px 4px 8px;
          font-size: 10px;
          font-weight: 600;
        }
        .key-features-value {
          color: #47be88;
          font-size: 11px;
          font-weight: 600;
        }
        .key-features-value-not-offered {
          color: #f64140;
          font-size: 11px;
          font-weight: 600;
        }
      }
    }
    .comprehensive-no-quotes-information-text {
      font-size: 9px;
    }
    .changeIDV-sort-btn {
      display: block;
      background-color: #5384ea;
      padding: 10px 15px;
      border-radius: 50px;
      position: fixed;
      bottom: 18px;
      width: 85%;
      z-index: 2;
      right: 36px;
      padding-bottom: 5px ;

      .fixed-btn {
        font-size: 11px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        
        .icons {
          width: 14px;
          height: 14px;
        }
      }
      .pipe {
        min-height: 10%;
        font-weight: 500 !important;
        font-size: -webkit-xx-large;
        color: #fff;
      }
    }
  }
  .no-quotes-information-card {
    background-color: #fff;
  }
  .insurer-logo {
    width: 146px;
    height: 40px;
    object-fit: scale-down;
  }
  ::ng-deep .mat-progress-bar-buffer {
    background-color: #edf2fc;
  }
}
@media screen and (max-width: 1321px) {
  .toggle-btn {
    .count {
      margin-left: 0px;
    }
  }
}
.inspectionCase {
  background-color: #f5f8fe;
  font-size: 12px;
}
.addonBlur {
  opacity: 0.5;
}
.addonShow {
  opacity: none;
}
.inc{
  font-size: 12px;
  font-weight: 500;
  color: #F8F8F8;
  line-height: 14px;
}
