<mat-tab-group class="quotation-listing">
  <mat-tab label="Comprehensive">
    <br>
     <div class="row comprehensive-card">
        <div class="col-12 mt-4 d-flex comprehensive-tab">
             <div class="row d-flex w-100">
                <div class="col-2">
                    <img src="/assets/images/sbi-insurer.svg" alt=""  />
                 </div>
                 <div class="col-8">
                    <p class="idv-amount mb-0">
                        IDV (&#8377; 4,98,500- &#8377; 7,00,000)
                    </p>
                    <p class="idv-choose-amount">
                        &#8377; 6,00,000
                    </p>
                 </div>
                 <div class="col-2">
                    <p class="mt-1 premium-breakup-amount cursor-pointer" (click)="getProposalDetails()">
                        &#8377; 24,000
                    </p>
                    <p class="premium-breakup">
                        Premium Breakup
                    </p>
                 </div>
             </div>
        </div>
     </div>   
     <div class="row comprehensive-key-features">
            <div class="col-12 d-flex comprehensive-key-features-value">
                <div class="row w-100 d-flex">
                    <div class="col-2 key-features-text">
                        Key Features:
                    </div>
                    <div class="col-2 key-features-value">
                        <img src="assets/icon/insurer-key-feature.svg">
                        Maximum Cashless Garages
                    </div>
                    <div class="col-2 key-features-value">
                        <img src="assets/icon/insurer-key-feature.svg">
                        PSU Provider
                    </div>
                    <div class="col-2 key-features-value">
                        <img src="assets/icon/insurer-key-feature.svg">
                        24x7 RSA
                    </div>
                    <div class="col-2 key-features-value">
                        <img src="assets/icon/insurer-key-feature.svg">
                        Quick Claim Settlement
                    </div>
                    <div class="col-2 key-features-value">
                        <img src="assets/icon/insurer-key-feature.svg">
                        Over Night Repair
                    </div>
                </div>
            </div>
     </div>
  </mat-tab>
  <mat-tab label="Third Party">
    <p>Some more tab content</p>
    <p>...</p>
  </mat-tab>
  
</mat-tab-group>
