<form [formGroup]="quotesListing">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-12 toggle-btn">
      <mat-tab-group (selectedTabChange)="onComprehensiveTabChange($event)">
        <mat-tab label="Comprehensive">
          <ng-template mat-tab-label>
            Comprehensive <span class="count">20</span></ng-template
          >
        </mat-tab>
        <mat-tab label="Third Party"
          ><ng-template mat-tab-label>
            Third Party<span class="third-party-count">10</span>
          </ng-template></mat-tab
        >
      </mat-tab-group>
    </div>
    <div class="col-lg-8 col-md-6 col-12">
      <div class="row quotesDropdown">
        <!-- owner type for web view -->
        <div class="col-lg-3 col-4 owner-type">
          <mat-form-field appearance="outline">
            <mat-select
              formControlName="proposalType"
              class="text-transform-data"
            >
              <mat-option
                *ngFor="let proposalData of proposalList"
                [value]="proposalData.proposer_id"
              >
                <span class="text-transform-data">{{
                  proposalData.proposer_name
                }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- owner type for mobile view -->
        <div class="col-lg-3 col-4 owner-type-res">
          <button mat-button (click)="openSort('Owner Type')">
            Individual<img
              src="/assets/icon/dropdown.svg"
              class="share-icon ms-3"
              alt=""
            />
          </button>
        </div>
        <div class="col-lg-4 sort-dropdown">
          <mat-form-field appearance="outline">
            <mat-select [(value)]="lowHighSelected">
              <mat-option value="low">Sort: Low to High</mat-option>
              <mat-option value="high">High to Low</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-4">
          <button mat-button>
            <img src="/assets/icon/share.svg" class="share-icon me-1" alt="" />
            Share Quotes
          </button>
        </div>
        <div class="col-lg-2 col-4 inc-gst">
          <span class="gst me-2 mt-1">Inc. GST</span>
          <label class="toggle">
            <input type="checkbox" checked />
            <span class="slider"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="quotation-listing" *ngIf="showComprehensiveDiv">
    <div *ngFor="let quotes Of quotationData">
      <div class="row comprehensive-card">
        <div class="comprehensive-tab p-2">
          <div class="row" >
            <div class="col-lg-4 col-md-4 col-12">
              <img
                [src]="quotes.insurer_logo"
                class="insurer-logo"
                alt=""
              />
            </div>
            <!-- {{quotes.insurer_name}} -->
            <div class="col-lg-6 col-md-6 col-6">
              <p class="idv-amount mb-0 mt-2">
                IDV (&#8377; 4,98,500- &#8377; 7,00,000)
              </p>
              <p class="idv-choose-amount mt-1">&#8377; 6,00,000</p>
            </div>
            <div class="col-lg-2 col-md-2 col-6 text-end mt-2">
              <span
                class="premium-breakup-amount cursor-pointer"
                (click)="getProposalDetails()"
              >
                &#8377; {{quotes.premium_details.total_premium}}  </span
              ><br />
              <span
                class="premium-breakup pt-2"
                (click)="openPremiumBreakupModal(quotes, $event)"
              >
                Premium Breakup
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- comprehensive key feature web view -->
      <div class="row comprehensive-key-features">
        <div class="col-12 d-flex comprehensive-key-features-value">
          <div class="row w-100 d-flex">
            <div class="col-2 key-features-text">Key Features:</div>
            <div class="col-2 key-features-value">
              <img src="assets/icon/insurer-key-feature.svg" />
              Maximum Cashless Garages
            </div>
            <div class="col-2 key-features-value">
              <img src="assets/icon/insurer-key-feature.svg" />
              PSU Provider
            </div>
            <div class="col-2 key-features-value">
              <img src="assets/icon/insurer-key-feature.svg" />
              24x7 RSA
            </div>
            <div class="col-2 key-features-value">
              <img src="assets/icon/insurer-key-feature.svg" />
              Quick Claim Settlement
            </div>
            <div class="col-2 key-features-value">
              <img src="assets/icon/insurer-key-feature.svg" />
              Over Night Repair
            </div>
          </div>
        </div>
      </div>
  
      <!-- comprehensive key feature mobile view -->
      <div class="row res-comprehensive-key-features">
        <span class="key-features">
          <div class="comprehensive-key-features-value me-2 mb-2">
            Maximum Cashless Garages
          </div>
          <div class="comprehensive-key-features-value me-2 mb-2">
            Quick Claim Settlement
          </div>
          <div class="comprehensive-key-features-value me-2 mb-2">24x7 RSA</div>
          <div class="comprehensive-key-features-value me-2 mb-2">
            Over Night Repair
          </div>
          <div class="comprehensive-key-features-value me-2 mb-2">
            PSU Provider
          </div>
        </span>
      </div>
    </div>
   
    <br />
    <!-- <div class="row comprehensive-card">
      <div class="comprehensive-tab p-2">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12">
            <img
              src="/assets/images/hdfc.svg"
              class="insurer-logo"
              alt=""
              width="60"
              height="40"
            />
          </div>
          <div class="col-lg-6 col-md-6 col-6">
            <p class="idv-amount mb-0 mt-2">
              IDV (&#8377; 4,98,500- &#8377; 7,00,000)
            </p>
            <p class="idv-choose-amount mt-1">&#8377; 6,00,000</p>
          </div>
          <div class="col-lg-2 col-md-2 col-6 text-end mt-2">
            <span
              class="premium-breakup-amount cursor-pointer"
              (click)="getProposalDetails()"
            >
              &#8377; 2000 {{ initiateQuotes?.fe_final_premium }} </span
            ><br />
            <span
              class="premium-breakup pt-2"
              (click)="openPremiumBreakupModal(initiateQuotes, $event)"
            >
              Premium Breakup
            </span>
          </div>
        </div>
      </div>
    </div> -->
    <!-- comprehensive key feature web view -->
    <!-- <div class="row comprehensive-key-features">
      <div class="col-12 d-flex comprehensive-key-features-value">
        <div class="row w-100 d-flex">
          <div class="col-2 key-features-text">Key Features:</div>
          <div class="col-2 key-features-value">
            <img src="assets/icon/insurer-key-feature.svg" />
            Maximum Cashless Garages
          </div>
          <div class="col-2 key-features-value">
            <img src="assets/icon/insurer-key-feature.svg" />
            PSU Provider
          </div>
          <div class="col-2 key-features-value">
            <img src="assets/icon/insurer-key-feature.svg" />
            24x7 RSA
          </div>
          <div class="col-2 key-features-value">
            <img src="assets/icon/insurer-key-feature.svg" />
            Quick Claim Settlement
          </div>
          <div class="col-2 key-features-value">
            <img src="assets/icon/insurer-key-feature.svg" />
            Over Night Repair
          </div>
        </div>
      </div>
    </div> -->

    <!-- comprehensive key feature mobile view -->
    <div class="row res-comprehensive-key-features">
      <span class="key-features">
        <div class="comprehensive-key-features-value me-2 mb-2">
          Maximum Cashless Garages
        </div>
        <div class="comprehensive-key-features-value me-2 mb-2">
          Quick Claim Settlement
        </div>
        <div class="comprehensive-key-features-value me-2 mb-2">24x7 RSA</div>
        <div class="comprehensive-key-features-value me-2 mb-2">
          Over Night Repair
        </div>
        <div class="comprehensive-key-features-value me-2 mb-2">
          PSU Provider
        </div>
      </span>
    </div>
    <br />
    <div class="w-100 comprehensive-no-quotes-information">
      <div>
        <div class="row no-quotes-information-card">
          <div class="col-lg-8 col-8 d-flex">
            <img
              src="/assets/icon/quotes-warning.svg"
              alt=""
              class="warning-img mt-1"
            />
            <span class="comprehensive-no-quotes-information-text ms-2">
              Some of the Insurance providers didn’t produce quotes for the
              selected category
            </span>
          </div>
          <div class="col-lg-4 col-4">
            <p
              class="comprehensive-know-more-text tag-right cursor-pointer"
              (click)="noQuotes(knowMoreText)"
            >
              {{ knowMoreText }}
            </p>
          </div>
        </div>
        <div *ngIf="noQuotesInformation">
          <div class="row p-4">
            <div class="col-12">
              <p class="insurer-no-quotes-reasons mb-0">
                Following are the possible reasons
              </p>
              <p class="mb-0">
                <span class="insurer-no-quotes-reasons"> ICICI Lombard: </span>
                <span class="insurer-no-quotes-reasons-value">
                  Error in calculate: UW Service Messages => UW status is
                  <span class="insurer-no-quotes-reasons-warning">
                    DECLINING
                  </span>
                  the loading screen
                </span>
              </p>
              <p class="mb-0">
                <span class="insurer-no-quotes-reasons"> ROYAL SUNDARAM: </span>
                <span class="insurer-no-quotes-reasons-value">
                  Previous Policy Expiry Date is mandatory
                </span>
              </p>
              <p class="mb-1">
                <span class="insurer-no-quotes-reasons"> IFFCO TOKIO: </span>
                <span class="insurer-no-quotes-reasons-value">
                  RTO declined Zero NCB
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="changeIDV-sort-btn">
      <div class="row">
        <div
          class="fixed-btn col-4 d-flex justify-content-between"
          (click)="openChangeIDV()"
        >
          Change IDV
          <div class="pipe">|</div>
        </div>
        <div
          class="fixed-btn col-4 d-flex justify-content-between"
          (click)="openAddons()"
        >
          <img src="/assets/icon/addOn.svg" alt="" class="icons me-3" />Addons
          <div class="pipe">|</div>
        </div>
        <div class="fixed-btn col-4" (click)="openSort('Addons')">
          <img src="/assets/icon/sort.svg" alt="" class="icons me-3" />Sort
        </div>
      </div>
    </div>
  </div>

  <div class="quotation-listing" *ngIf="!showComprehensiveDiv">
    <br />
    <p>Some more tab content</p>
    <p>...</p>
  </div>
</form>
