.check-quotes{
    .icon{
        width: 100%;
        height: 154px;
    }
    .message{
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #282828;
    }
    .yes-btn {
        width: 200px;
        height: 33px;
      }
}