.main-inspection {
  padding: 110px;
  .inspection-card.d-flex {
    background-color: rgb(71 190 136 / 15%);
    border-radius: 24px;
    padding: 24px;
  }
  .inspection-text {
    text-align: center;
    .premium-text {
      font-weight: 600;
      font-size: 12px;
    }
    .premium-value {
      font-size: 24px;
      font-weight: 600;
    }
  }
  .text-light-green {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
  .mail-text {
    font-size: 14px;
  }
  .inspection-btn {
    width: 280px;
    height: 40px;
    border-radius: 32px;
  }
  .text-opacity {
    opacity: 80%;
    font-size: 14px;
    font-weight: 400;
    color: #282828;
  }
}
.back-button {
  display: none;
}
@media screen and (max-width: 999px) {
  .main-inspection {
    padding: 40px 15px;
    margin: 10px;
    background-color: #fff;
    border-radius: 16px;
    .inspection-card{
      padding: 15px;
    }
    .text-light-green {
      font-size: 12px;
      font-weight: 600;
    }
    .text-opacity {
      opacity: 80%;
      font-size: 12px;
      font-weight: 400;
      color: #282828;
    }
  }
  .back-button {
    display: block;
    margin: 10px;
    .back-image {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
}
