<mat-form-field appearance="outline" class="mat-input-custom">
  <mat-label>Contact Number</mat-label>
  <input
    matInput
    placeholder="Enter Contact Number"
    formControlName="contact_number"
    appNumbersOnly
    additional_contact="contact_number"
  />
  <mat-error
    *ngIf="form.controls['contact_number']?.hasError('required')"
    class="ms-4"
  >
    This is a required field.
  </mat-error>
  <mat-error
    *ngIf="form.controls['contact_number']?.hasError('pattern')"
    class="ms-4"
  >
    Invalid Contact Number
  </mat-error>
</mat-form-field>
