<mat-form-field appearance="outline" class="mat-input-custom">
  <mat-label>Contact Number</mat-label>
  <input
    matInput
    placeholder="Enter Contact Number"
    formControlName="contact_number"
    appNumbersOnly
    additional_contact="contact_number"
    maxlength="10"
    [readonly]="readonly"
  />
  <mat-error *ngIf="form.controls['contact_number']?.hasError('required')">
    This is a required field.
  </mat-error>
  <mat-error *ngIf="form.controls['contact_number']?.hasError('pattern')">
    Invalid Contact Number
  </mat-error>
</mat-form-field>
