.ckyc-document {
  width: 392px !important;
  .header {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #282828;
  }
  .continue {
    width: 100%;
    height: 40px;
  }
}
.ckyc-poi {
  width: 680px !important;
  .header {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #282828;
  }
  .continue {
    width: 100%;
    height: 40px;
  }
  /* Style the label to look like a button */
  .lable-file-input {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
    border: 1px solid #ccccccc4;
    border-radius: 12px;
    width: 100%;
  }
  .upload-doc-image {
    float: right;
    margin-top: -35px;
    margin-right: 13px;
  }
  .file-input-text {
    position: relative;
    top: 10px;
    color: #212529ad;
    word-break: break-all;
    margin-right: 10px;
  }
  /* Hide the default file input */
  input[type="file"] {
    display: none;
  }
  .image-main {
    width: 100%;
    height: 130px;
  }
  .custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #5384ea47;
    color: #5384ea;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 10px 0px 0px 33px;
  }
}
.ckyc-poa {
  width: 972px !important;
  .header {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #282828;
  }
  .continue {
    width: 100%;
    height: 40px;
  }
  /* Style the label to look like a button */
  .lable-file-input {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
    border: 1px solid #ccccccc4;
    border-radius: 12px;
    width: 100%;
  }
  .upload-doc-image {
    float: right;
    margin-top: -35px;
    margin-right: 13px;
  }
  .file-input-text {
    position: relative;
    top: 10px;
    color: #212529ad;
    word-break: break-all;
    margin-right: 10px;
  }
  /* Hide the default file input */
  input[type="file"] {
    display: none;
  }
  .image-main {
    width: 100%;
    height: 130px;
  }
  .sub-header {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #282828;
  }
}
.fileUpload {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload {
  position: absolute;
  font-size: 100px;
  opacity: 0;
  right: 0;
  top: 0;
}
.centerImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; /* Set width and height as required */
  height: 70px;
  z-index: 1;
}

.uploadIcon {
  cursor: pointer;
}
.browserText {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 11px;
  color: #9c9c9c;
}
#fileInput {
  display: none;
}
.document-upload-btn {
  width: 300px;
  height: 48px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 20px;
  color: #fff;
}
.document-upload-btn-pending {
  border: 1px solid #9c9c9c !important;
  background-color: #9c9c9c;
}
.document-upload-btn-success {
  border: 1px solid #fd7e14 !important;
  background-color: #fd7e14;
}
.uploadingFile {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 80px;
  z-index: 1;
}

.document-popup-header {
  font-size: 16px;
  font-weight: 600;
}

.uploaded-image {
  height: 134px;
  width: 100%;
  padding: 0px 34px;
  border-radius: 10px;
}
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #5384ea47;
  color: #5384ea;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 10px 0px 0px 33px;
}
/* Hide the default file input */
input[type="file"] {
  display: none;
}

/* Style the label to look like a button */
.lable-file-input {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 6px 12px;
  border: 1px solid #ccccccc4;
  border-radius: 12px;
  width: 100%;
}

.upload-doc-image {
  float: right;
  margin-top: -35px;
  margin-right: 13px;
}
.file-input-text {
  position: relative;
  top: 10px;
  color: #212529ad;
  word-break: break-all;
  margin-right: 10px;
}
@media screen and (max-width: 999px) {
  .ckyc-document {
    width: 100% !important;
    padding-top: 8px;
    overflow-x: hidden;
  }
  .ckyc-poa {
    width: 100% !important;
    padding-top: 8px;
    overflow-x: hidden;
  }
  .res-view{
    padding: 16px;
  }
}
