<div mat-dialog-title>
  <div class="document-popup-header d-flex justify-content-end">
    <img
      src="/assets/icon/cross.svg"
      (click)="popupCLose()"
      class="cursor-pointer"
      alt="close"
    />
  </div>
</div>
<div mat-dialog-content>
  <form
    [formGroup]="uploadDocumentsForm"
    (ngSubmit)="submitUploadDocumentsForm(uploadDocumentsForm.valid)"
    novalidate
  >
    <div class="row">
      <div
        [ngClass]="{
          'col-8': isUploadDocment && !isTwoObject,
          'col-12': !isUploadDocment && isTwoObject
        }"
      >
        <div class="row">
          <div class="col-12">
            <p [ngClass]="{ 'text-center': !isTwoObject }">
              {{ documentHeaderText }}
            </p>
          </div>
          <div [ngClass]="{ 'col-4': isTwoObject, 'col-12': !isTwoObject }">
            <mat-form-field
              appearance="outline"
              class="document-list mat-input-custom"
            >
              <mat-label>Select Document Type</mat-label>
              <mat-select
                placeholder="Select Document Type"
                formControlName="document_type_based_field"
                (ngModelChange)="getDocumentKey($event)"
              >
                <mat-option
                  *ngFor="let document of documentList"
                  [value]="document?.document_code"
                >
                  {{ document?.document_name }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  uploadDocumentsForm
                    .get('document_type_based_field')
                    ?.hasError('required')
                "
              >
                This is a required field.
              </mat-error>
            </mat-form-field>
          </div>
          <ng-container *ngIf="showPOA">
            <ng-container
              *ngFor="let fields of formFieldPOA | keyvalue; let i = index"
            >
              <div
                [ngClass]="{ 'col-4': isTwoObject, 'col-12': !isTwoObject }"
                *ngIf="fields.value?.data_type === 'dropdown'"
              >
                <mat-form-field
                  appearance="outline"
                  class="document-list mat-input-custom"
                >
                  <mat-label>{{ fields.value?.name }}</mat-label>
                  <mat-select
                    placeholder="Select {{ fields.value?.name }}"
                    [formControlName]="fields.value?.lable"
                  >
                    <mat-option
                      *ngFor="let list of fields.value?.dropdown_list"
                      [value]="list.key"
                    >
                      {{ list.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div
                [ngClass]="{ 'col-4': isTwoObject, 'col-12': !isTwoObject }"
                *ngIf="fields.value?.data_type === 'string'"
              >
                <mat-form-field
                  appearance="outline"
                  class="document_number mat-input-custom"
                >
                  <mat-label>{{ fields.value?.name }}</mat-label>
                  <input
                    [formControlName]="fields.value.label"
                    matInput
                    aria-label="document_number"
                    placeholder="{{ fields.value?.name }}"
                    class="text-uppercase"
                  />
                </mat-form-field>
              </div>
              <div
                [ngClass]="{ 'col-4': isTwoObject, 'col-12': !isTwoObject }"
                *ngIf="fields.value?.data_type === 'date'"
              >
                <mat-form-field appearance="outline">
                  <mat-label>{{ fields.value?.name }}</mat-label>
                  <input
                    matInput
                    [matDatepicker]="dobDate"
                    placeholder="fields.value?.name "
                    [formControlName]="fields.value.label"
                    id-automation="`${fields.value?.name}`"
                    #dobDateInput
                    appDateFormat
                  />
                  <mat-datepicker-toggle matSuffix [for]="dobDate">
                    <mat-icon matDatepickerToggleIcon>
                      <img
                        src="/assets/icon/calendar.svg"
                        class="cursor-pointer mb-2"
                        alt="calendar"
                      />
                    </mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #dobDate></mat-datepicker>
                </mat-form-field>
              </div>

              <div
                [ngClass]="{ 'col-4': isTwoObject, 'col-12': !isTwoObject }"
                *ngIf="fields.value?.data_type === 'upload'"
              >
                <div class="form-group">
                  <label class="lable-file-input" for="fileInput">
                    <p class="file-input-text">
                      {{ fields.value?.name }}
                    </p>
                    <img
                      src="/assets/icon/upload.svg"
                      alt=""
                      class="upload-doc-image"
                    />
                  </label>
                  <input
                    type="file"
                    id="fileInput"
                    class="form-control-file"
                    (change)="onFileSelected($event, fields.value.label)"
                    [formControlName]="fields.value.label"
                  />
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="showPOI">
            <div class="col-12 mt-4">
              <p [ngClass]="{ 'text-center': !isTwoObject }">
                {{ documentPOIText }}
              </p>
            </div>
            <ng-container
              *ngFor="let fields of formFieldPOI | keyvalue; let i = index"
            >
              <div
                [ngClass]="{ 'col-4': isTwoObject, 'col-12': !isTwoObject }"
                *ngIf="fields.value?.data_type === 'dropdown'"
              >
                <mat-form-field
                  appearance="outline"
                  class="document-list mat-input-custom"
                >
                  <mat-label>{{ fields.value?.name }}</mat-label>
                  <mat-select
                    placeholder="Select {{ fields.value?.name }}"
                    [formControlName]="fields.value?.lable"
                  >
                    <mat-option
                      *ngFor="let list of fields.value?.dropdown_list"
                      [value]="list.key"
                    >
                      {{ list.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div
                [ngClass]="{ 'col-4': isTwoObject, 'col-12': !isTwoObject }"
                *ngIf="fields.value?.data_type === 'string'"
              >
                <mat-form-field
                  appearance="outline"
                  class="document_number mat-input-custom"
                >
                  <mat-label>{{ fields.value?.name }}</mat-label>
                  <input
                    [formControlName]="fields.value.label"
                    matInput
                    aria-label="document_number"
                    placeholder="{{ fields.value?.name }}"
                    class="text-uppercase"
                  />
                </mat-form-field>
              </div>
              <div
                [ngClass]="{ 'col-4': isTwoObject, 'col-12': !isTwoObject }"
                *ngIf="fields.value?.data_type === 'date'"
              >
                <mat-form-field appearance="outline">
                  <mat-label>{{ fields.value?.name }}</mat-label>
                  <input
                    matInput
                    [matDatepicker]="dobDate"
                    placeholder="fields.value?.name "
                    [formControlName]="fields.value.label"
                    id-automation="`${fields.value?.name}`"
                    #dobDateInput
                    appDateFormat
                  />
                  <mat-datepicker-toggle matSuffix [for]="dobDate">
                    <mat-icon matDatepickerToggleIcon>
                      <img
                        src="/assets/icon/calendar.svg"
                        class="cursor-pointer mb-2"
                        alt="calendar"
                      />
                    </mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker
                    #dobDate
                    id-automation="`${fields.value?.name}`_id"
                  ></mat-datepicker>
                </mat-form-field>
              </div>

              <div
                [ngClass]="{ 'col-4': isTwoObject, 'col-12': !isTwoObject }"
                *ngIf="fields.value?.data_type === 'upload'"
              >
                <div class="form-group">
                  <label class="lable-file-input" for="fileInput">
                    <p class="file-input-text">
                      {{ fields.value?.name }}
                    </p>
                    <img
                      src="/assets/icon/upload.svg"
                      alt=""
                      class="upload-doc-image"
                    />
                  </label>
                  <input
                    type="file"
                    id="fileInput"
                    class="form-control-file"
                    (change)="onFileSelected($event, fields.value.label)"
                    [formControlName]="fields.value.label"
                  />
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <ng-container *ngIf="isUploadDocment && !isTwoObject">
        <div class="col-4 mt-4">
          <div class="image-main">
            <img [src]="document_url" class="uploaded-image" alt="close" />
          </div>
          <label for="fileInput" class="custom-file-upload">
            <img
              src="/assets/icon/reupload.svg"
              class="reuploaded-image"
              alt="close"
            />
            Reupload
          </label>
          <input type="file" id="fileInput" />
        </div>
      </ng-container>

      <div class="col-12 mt-4">
        <button
          class="submit-btn continue"
          [disabled]="!uploadDocumentsForm.valid"
          type="submit"
        >
          Continue
        </button>
      </div>
    </div>
  </form>
</div>
<div class="documents" *ngIf="showDocument">
  <div class="row">
    <div class="col-lg-12 col-12">
      <ng-container *ngIf="fileURL">
        <div>
          <img
            *ngIf="fileURL"
            [src]="fileURL"
            alt="Selected Image"
            class="image-main"
          />
        </div>
        <div class="text-center">
          <label for="fileInput" class="custom-file-upload">
            <img
              src="/assets/icon/reupload.svg"
              class="reuploaded-image"
              alt="close"
            />
            Reupload
          </label>
          <!-- <input type="file" id="fileInput" (change)="pOIFileSelected($event)" /> -->
        </div>
      </ng-container>
    </div>
  </div>
</div>
