
<div class="footer-border-line"></div>
<div class="container-fluid">
<div class="main-footer">
  <p>D2C INSURANCE BROKING PVT. LTD (CIN U66030DL2013PTC249265)</p>
  <p>
    Principal Place Of Business: 1st Floor, Plot No 94, Sector- 32, Gurugram
    -122001, Haryana
  </p>
  <p>
    Registered Office: 3rd Floor, AG-26, Shalimar Bagh, New Delhi-110088, India
  </p>
  <p>
    IRDAI Broking License Code No. DB 571/14, Certificate No. 505, License
    Category- Direct Broker (Life & General), Valid Till 26/11/2026.
  </p>
  <p>
    Product Information Is Solely Based On The Information Received From The
    Insurers. For More Details On Risk Factors, Associated Terms And Conditions
    And Exclusions
  </p>
  <p>
    Please Read The Sales Brochure Carefully Of Respective Insurer Before
    Concluding A Sale.
  </p>
  <p>D2C INSURANCE BROKING PVT. LTD. © 2024 RenewBuy All Rights Reserved.</p>
</div>
</div>
