.main-footer {
    position: relative;
    font-size: 11px;
    font-weight: 600;
    color: #939393;
}
.payout-res{
    display: none;
}
@media only screen and (max-width: 999px) {
    .payout{
        display: none;
    }
    .payout-res{
        display: block;
        font-size: 10px;
        font-weight: 600;
        color: #5384EA;
        line-height: 12px;
    }
    .margin{
        margin-bottom: 40px;
    }
}