
<hr>
<div class="container-fluid">
<div class="main-footer p-4">
  <span>D2C INSURANCE BROKING PVT. LTD (CIN U66030DL2013PTC249265)</span><br>
  <span>
    Principal Place Of Business: 1st Floor, Plot No 94, Sector- 32, Gurugram
    -122001, Haryana
  </span><br>
  <span>
    Registered Office: 3rd Floor, AG-26, Shalimar Bagh, New Delhi-110088, India
  </span><br>
  <span>
    IRDAI Broking License Code No. DB 571/14, Certificate No. 505, License
    Category- Direct Broker (Life & General), Valid Till 26/11/2026.
  </span><br>
  <span>
    Product Information Is Solely Based On The Information Received From The
    Insurers. For More Details On Risk Factors, Associated Terms And Conditions
    And Exclusions
  </span><br>
  <span>
    Please Read The Sales Brochure Carefully Of Respective Insurer Before
    Concluding A Sale.
  </span><br>
  <span>D2C INSURANCE BROKING PVT. LTD. © 2024 RenewBuy All Rights Reserved.</span>
</div>
</div>
