<mat-form-field appearance="outline" class="text-area h-100 w-100">
  <mat-label class="registration-address"
    >Vehicle Registration Address</mat-label
  >
  <input
    matInput
    placeholder="Enter Address"
    formControlName="vehicle_registration_address"
    appNoSpace
  />
  <mat-error
    *ngIf="
      vehilceRegistrationForm.controls[
        'vehicle_registration_address'
      ]?.hasError('required')
    "
  >
    This is required field
  </mat-error>
  <mat-error
    *ngIf="
      vehilceRegistrationForm.controls[
        'vehicle_registration_address'
      ]?.hasError('pattern')
    "
  >
    Invalid Address
  </mat-error>
</mat-form-field>
