<mat-form-field appearance="outline" class="text-area h-100 w-100">
  <mat-label class="registration-address"
    >Vehicle Registration Address</mat-label
  >
  <textarea
    matInput
    placeholder="Enter Address"
    formControlName="vehicle_registration_address"
    appNoSpace
    minlength="10"
  ></textarea>
  <mat-error
    *ngIf="
      vehilceRegistrationForm.controls[
        'vehicle_registration_address'
      ]?.hasError('required')
    "
  >
    This is required field
  </mat-error>
  <mat-error
    *ngIf="
      vehilceRegistrationForm.controls[
        'vehicle_registration_address'
      ]?.hasError('minlength')
    "
  >
    Cannot be less than 10 Characters
  </mat-error>
  <mat-error *ngIf="isNotShowErrorMsg">
    {{ proposalErrorMsg }}
  </mat-error>
</mat-form-field>
