<mat-form-field appearance="outline" class="registration-year">
    <mat-label>Select Registration Year</mat-label>
    <input matInput [matDatepicker]="registrationYear" placeholder="Month and Year" formControlName="registration_year">
    <mat-datepicker-toggle matSuffix [for]="registrationYear"></mat-datepicker-toggle>
    <mat-datepicker #registrationYear
                    startView="multi-year"
                    (yearSelected)="chosenYearHandler($event)"
                    (monthSelected)="chosenMonthHandler($event, registrationYear)"
                    >
    </mat-datepicker>
  </mat-form-field>
  