.registration-date {
  ::ng-deep {
    .mat-form-field-infix {
      width: 265px !important;
    }
    .mat-form-field-label-wrapper{
      left: 10px;
    }
  }
}

.proposal-registration-date {
  ::ng-deep {
    .mat-form-field-infix {
      width: 315px !important;
    }
  }
}
