<mat-form-field appearance="outline" [class]="customRegistrationDate">
  <mat-label>Registration Date</mat-label>
  <input
    matInput
    [matDatepicker]="registrationDate"
    placeholder="Registration Date"
    formControlName="registration_date"
    appDateFormat
    [min]="minDate"
    [max]="maxDate"
    [readonly]="true"
  />
  <mat-datepicker-toggle
    matSuffix
    [for]="registrationDate"
  ></mat-datepicker-toggle>
  <mat-datepicker #registrationDate></mat-datepicker>
  <mat-error
    *ngIf="form.controls['registration_date']?.hasError('required')"
  >
    This is a required field.
  </mat-error>
</mat-form-field>
