<div class="row">
   <div class="col-12 vehicle-card">
       <div class="row d-flex vehicle-card-heading mt-3">
        <div class="vehicle-card-heading-details variant-heading">
          Vehicle Variant, Fuel & RTO/City
        </div>
        <div class="vehicle-card-heading-details vehicle-card-heading-width">
          Mfg. Year
        </div>
        <div class="vehicle-card-heading-details vehicle-card-heading-width">
          Registration Date
        </div>
        <div class="vehicle-card-heading-details vehicle-card-heading-width">
          Policy Expiry Date
        </div>
        <div class="vehicle-card-heading-details vehicle-card-heading-width">
          Previous Insurer
        </div>
        <div class="vehicle-card-heading-details vehicle-card-heading-width">
          Previous NCB
        </div>
        <div class="vehicle-card-heading-details vehicle-card-heading-width">
          New NCB
        </div>
        <div class="vehicle-card-heading-width">
          <button type="button" class="edit-button" (click)="openDialog('edit')">
            <img src="/assets/icon/edit.svg" alt=""/>
            Edit
        </button>
        </div>
         
       </div>
       <div class="row d-flex vehicle-card-data">
        <div class="vehicle-card-heading-details-data variant-heading">
          Maruti Ciaz Alpha, Petrol, UP14 Ghaziabad
        </div>
        <div class="vehicle-card-heading-details-data vehicle-card-heading-width">
          Apr, 2019
        </div>
        <div class="vehicle-card-heading-details-data vehicle-card-heading-width">
          22 May, 2019
        </div>
        <div class="vehicle-card-heading-details-data vehicle-card-heading-width">
          03 Feb, 2024
        </div>
        <div class="vehicle-card-heading-details-data vehicle-card-heading-width">
          Future General
        </div>
        <div class="vehicle-card-heading-details-data vehicle-card-heading-width">
          35%
        </div>
        <div class="vehicle-card-heading-details-data vehicle-card-heading-width">
          25%
        </div>
      </div>
   </div>
</div>
