<div
  class="p-2"
  [ngClass]="inspectionValue ? 'vehicle-card-inspection' : 'vehicle-card'"
>
  <div class="row vehicle-card-heading mt-3 pb-3">
    <div class="col-lg-3 col-md-3">
      <span class="vehicle-card-heading-details"
        >Vehicle Variant, Fuel & RTO/City</span
      ><br />
      <span
        class="vehicle-card-heading-details-data col-lg-3 col-md-4 col-12"
        *ngIf="parsedVehicleData != ''"
      >
        {{ parsedVehicleData?.vehicle_variant?.rb_make_name }}
        {{ parsedVehicleData?.vehicle_variant?.rb_model_name }}
        {{ parsedVehicleData?.vehicle_variant?.rb_variant_name }} ,
        {{ parsedVehicleData?.vehicle_fuel }} ,
        {{ parsedVehicleData?.registration_city?.display_name }}
      </span>
    </div>
    <div class="col-lg-9 col-md-9">
      <div class="d-flex justify-content-between">
        <div class="me-1">
          <span class="vehicle-card-heading-details">Mfg. Year</span><br />
          <span class="vehicle-card-heading-details-data"
            >{{ manufactureMonth }} {{ manufactureYear }}</span
          >
        </div>
        <div class="me-1">
          <span class="vehicle-card-heading-details">Registration Date</span
          ><br />
          <span class="vehicle-card-heading-details-data">
            {{ registrationMonth }} {{ registrationYear }}
          </span>
        </div>
        <div class="me-1">
          <span class="vehicle-card-heading-details">Policy Expiry Date</span
          ><br />
          <span class="vehicle-card-heading-details-data text-center">{{
            policyDate ? policyDate : "-"
          }}</span>
        </div>
        <div class="me-1 insurer-text">
          <span class="vehicle-card-heading-details">Previous Insurer</span
          ><br />
          <span
            class="vehicle-card-heading-details-data col-lg-3 col-md-4 col-12"
            >{{ previousInsurer ? previousInsurer : "-" }}</span
          >
        </div>
        <div class="me-1">
          <span class="vehicle-card-heading-details">Previous NCB</span><br />
          <span
            class="vehicle-card-heading-details-data col-lg-3 col-md-4 col-12"
            >{{ previousNCB ? previousNCB : "0" }}</span
          >
        </div>
        <div class="me-1">
          <span class="vehicle-card-heading-details">New NCB</span><br />
          <span
            class="vehicle-card-heading-details-data col-lg-3 col-md-4 col-12"
            >{{ newNCB ? newNCB : "0" }}</span
          >
        </div>
        <div>
          <button
            type="button"
            class="edit-button"
            (click)="openDialog('edit')"
            [ngClass]="enableIdvCard ? 'addonBlur' : 'addonShow'"
            [disabled]="enableIdvCard"
          >
            <img src="/assets/icon/edit.svg" alt="" class="me-2" height="14" width="14"/>
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="inspectionData" *ngIf="breakIn">
  <span class="col-lg-12 inspectionCase details ms-2">{{
    vehicleInspectionMessage
  }}</span>
</div>

<div class="res-vehicle-card p-3">
  <div class="vehicle-card-heading">
    <div class="d-flex justify-content-between">
      <div>
        <span class="vehicle-card-heading-details"
          >Vehicle Variant, Fuel & RTO/City</span
        ><br />
        <span
          class="vehicle-card-heading-details-data"
          *ngIf="parsedVehicleData != ''"
          >{{ parsedVehicleData?.vehicle_variant?.rb_make_name }}
          {{ parsedVehicleData?.vehicle_variant?.rb_model_name }}
          {{ parsedVehicleData?.vehicle_variant?.rb_variant_name }} ,
          {{ parsedVehicleData?.vehicle_fuel }} ,
          {{ parsedVehicleData?.registration_city?.display_name }}</span
        >
      </div>
      <div *ngIf="!ProposalURL">
        <button
          type="button"
          class="edit-button"
          (click)="openDialog('edit')"
          id-automation="editVehicleCard"
          [ngClass]="enableIdvCard ? 'addonBlur' : 'addonShow'"
          [disabled]="enableIdvCard"
        >
          <img src="/assets/icon/edit.svg" alt="" />
          Edit
        </button>
      </div>
    </div>
    <div *ngIf="!showLess">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vehicle-card-heading-details">Mfg. Year</span><br />
          <span
            class="vehicle-card-heading-details-data col-lg-3 col-md-4 col-12"
            >{{ manufactureMonth }} {{ manufactureYear }}</span
          >
        </div>
        <div>
          <span class="vehicle-card-heading-details text-end"
            >Registration Date</span
          ><br />
          <span
            class="vehicle-card-heading-details-data d-flex justify-content-end"
            >{{ registrationMonth }} {{ registrationYear }}</span
          >
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <span class="vehicle-card-heading-details">Policy Expiry Date</span
          ><br />
          <span class="vehicle-card-heading-details-data">{{
            policyDate ? policyDate : "-"
          }}</span>
        </div>
        <div class="text-end width-70">
          <span class="vehicle-card-heading-details">Previous Insurer</span
          ><br />
          <span
            class="vehicle-card-heading-details-data d-flex justify-content-end"
            >{{ previousInsurer ? previousInsurer : "-" }}</span
          >
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <span class="vehicle-card-heading-details">Previous NCB</span><br />
          <span class="vehicle-card-heading-details-data">{{
            previousNCB ? previousNCB : "0"
          }}</span>
        </div>
        <div>
          <span class="vehicle-card-heading-details text-end">New NCB</span
          ><br />
          <span
            class="vehicle-card-heading-details-data d-flex justify-content-end"
            >{{ newNCB ? newNCB : "0" }}</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="text-center view-less" (click)="viewLess(viewText)">
    View {{ viewText }}
  </div>
</div>
<!-- <div class="inspectionData" *ngIf="breakIn">
  <span class="col-lg-12 inspectionCase details ms-2"
    >{{vehicleInspectionMessage}}</span
  >
</div> -->
<div class="mt-2 mb-2 vehicle-inspection" *ngIf="breakIn">
  <div class="d-flex">
    <img src="/assets/icon/vehicle-inspection.svg" alt="" class="icon" />
    <span class="details ms-2">{{ vehicleInspectionMessage }}</span>
  </div>
</div>
