<div class="procceed-inspection">
    <div class="row">
      <!-- Dialog title -->
      <div mat-dialog-title>
        <div class="failure-popup-header d-flex justify-content-end">
          <img
            src="/assets/icon/cross.svg"
            (click)="onClose()"
            class="cursor-pointer"
            alt="close"
          />
        </div>
      </div>
      <!-- Dialog content -->
      <div mat-dialog-content>
        <div class="col-6 offset-2">
          <img
            src="/assets/icon/insurance.svg"
            class="insurance-icon"
            alt="close"
          />
        </div>
        <div class="col-6 offset-2 text-center my-2">
          <div class="premium-payable-group p-2">
            <p class="total-premium-payable-text text-light-blue">
              Total Premium Payable
            </p>
            <p class="total-premium-payable-amount text-light-blue">
              &#8377; 24,000
            </p>
          </div>
        </div>
        <div class="col-10 offset-2 my-1">
          <div class="proposal-number-group d-flex">
            <p class="proposal-number-text">Proposal Number</p>
            <p class="proposal-number-id">R1701244002</p>
          </div>
          <div class="start-date-group d-flex">
            <p class="start-date-text">Start Date</p>
            <p class="start-date-data">1/02/2024</p>
          </div>
        </div>
        <div class="col-10 offset-2">
          <button class="submit-btn inspection-btn" type="submit">
            Proceed for Inspection
          </button>
        </div>
        <div class="col-10 offset-2 my-2">
          <div class="communication-group d-flex">
            <div
              class="share-group light-blue d-flex justify-content-center"
              (click)="share()"
              *ngIf="isCommunicationGroup"
            >
              <img src="/assets/icon/share.svg" class="share-icon" />
              <p class="share-text text-light-blue">Share</p>
            </div>
            <div
              class="download-group light-green justify-content-center d-flex"
              [ngClass]="{ 'download-group-after-share': !isCommunicationGroup }"
            >
              <img src="/assets/icon/download.svg" class="download-icon" />
              <p class="download-text text-light-green">Download</p>
            </div>
          </div>
        </div>
        <div class="col-10 offset-2 my-1" *ngIf="!isCommunicationGroup">
          <div class="communication-group justify-content-center d-flex">
            <p class="communication-mode-text">
              Select type of communication mode
            </p>
          </div>
          <div class="communication-group gap-3 d-flex">
            <div
              class="whatsapp-group light-green"
              [ngClass]="{ 'whatsapp-border': isActiveIcon == 'whatsapp' }"
              (click)="communication('whatsapp')"
            >
              <img src="/assets/icon/whatsapp.svg" class="whatsapp-icon" />
            </div>
            <div
              class="sms-group light-blue"
              [ngClass]="{ 'sms-border': isActiveIcon == 'sms' }"
              (click)="communication('sms')"
            >
              <img src="/assets/icon/sms.svg" class="sms-icon" />
            </div>
            <div
              class="mail-group light-blue"
              [ngClass]="{ 'mail-border': isActiveIcon == 'mail' }"
              (click)="communication('mail')"
            >
              <img src="/assets/icon/mail.svg" class="mail-icon" />
            </div>
          </div>
        </div>
        <div class="col-10 offset-2 my-1" *ngIf="isCommunicationField">
          <mat-form-field
            appearance="outline"
            class="registration-number communication-input-field"
          >
            <input matInput placeholder="Enter WhatsApp Number" />
          </mat-form-field>
        </div>
        <div class="col-10 offset-2" *ngIf="isCommunicationField">
          <button
            class="submit-btn inspection-btn send-btn text-light-blue"
            type="submit"
          >
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
  