<div class="row main-container">
  <div
    class="res-header-icon text-center mb-3"
    *ngIf="vehcileType == 'private_car'"
  >
    <img src="/assets/icon/private_car_res_bg.svg" alt="" />
  </div>
  <div
    class="res-header-icon text-center mb-3"
    *ngIf="vehcileType == 'two_wheeler'"
  >
    <img src="/assets/icon/two_wheeler_res_bg.svg" alt="" />
  </div>
  <!-- <app-breadcrumb></app-breadcrumb> -->
  <div class="body-content">
    <div class="container p-5 content">
      <div class="col-12 text-center mt-4">
        <h1 class="motor-insurance">
          {{
            !isPolicyNumber
              ? "Motor Insurance"
              : "Renew the policy, for miles of security!"
          }}
        </h1>
      </div>
      <div class="col-12 text-center mt-4">
        <span class="vehicle-quote">
          {{
            !isPolicyNumber
              ? "Gear Up for Protection! Choose Your Customer's Vehicle Type"
              : "Revive your customer’s policy in minutes."
          }}
        </span>
      </div>
      <div class="col-12 text-center pt-4">
        <form [formGroup]="motorInsurance">
          <div *ngIf="!isPolicyNumber">
            <app-vehicle-type></app-vehicle-type>
          </div>
          <div class="row">
            <ng-container>
              <div
                class="col-12 mt-2"
                *ngIf="!withoutVehicleNumber || isPolicyNumber"
              >
                <div class="d-flex justify-content-center">
                  <app-registration-number
                    [required]="true"
                    [registrationNumber]="'registration-number'"
                    class="registration-number"
                  ></app-registration-number>
                </div>
              </div>

              <!-- Fields Without Vehicle Number  -->
              <ng-container *ngIf="!isPolicyNumber">
                <div
                  class="col-lg-4 col-md-6 col-12 mt-2"
                  *ngIf="withoutVehicleNumber && isResponsive()"
                  [@slideUp]
                >
                  <app-vehicle
                    [required]="true"
                    (responseEvent)="vehicleComponentResponse($event)"
                  ></app-vehicle>
                </div>
                <div
                  class="col-lg-4 col-md-6 col-12 mt-2"
                  *ngIf="withoutVehicleNumber && !isResponsive()"
                >
                  <app-vehicle
                    [required]="true"
                    (responseEvent)="vehicleComponentResponse($event)"
                  ></app-vehicle>
                </div>
                <div
                  class="col-lg-4 col-md-6 col-12 mt-2"
                  *ngIf="withoutVehicleNumber && isResponsive()"
                  [@slideUp]
                >
                  <app-rto
                    (responseEvent)="rtoComponentResponse($event)"
                  ></app-rto>
                </div>
                <div
                  class="col-lg-4 col-md-6 col-12 mt-2"
                  *ngIf="withoutVehicleNumber && !isResponsive()"
                >
                  <app-rto
                    (responseEvent)="rtoComponentResponse($event)"
                  ></app-rto>
                </div>
                <div
                  class="col-lg-4 col-md-6 col-12 mt-2"
                  *ngIf="withoutVehicleNumber && isResponsive()"
                  [@slideUp]
                >
                  <app-registration-year
                    [urlDate]="url"
                  ></app-registration-year>
                </div>
                <div
                  class="col-lg-4 col-md-6 col-12 mt-2"
                  *ngIf="withoutVehicleNumber && !isResponsive()"
                >
                  <app-registration-year
                    [urlDate]="url"
                  ></app-registration-year>
                </div>
                <div
                  class="col-lg-4 col-md-6 col-12 mt-2"
                  *ngIf="withoutVehicleNumber && isResponsive()"
                  [@slideUp]
                >
                  <app-policy-expired-date
                    [policyExpiryDate]="'expiry-date'"
                    *ngIf="!disableInsurer"
                    [formControlNameData]="'policy_expiry_date'"
                    [urlDate]="url"
                  ></app-policy-expired-date>
                </div>
                <div
                  class="col-lg-4 col-md-6 col-12 mt-2"
                  *ngIf="withoutVehicleNumber && isResponsive()"
                  [ngClass]="notSureHide ? 'displayValue' : 'displayData'"
                  [@slideUp]
                >
                  <app-previous-insurer
                    [previousInsurer]="'previous-insurer'"
                    *ngIf="!disableInsurer"
                    [label]="'Search Previous Insurer'"
                    [formControlNameData]="'previous_insurer'"
                    (responseEvent)="previousInsurerComponentResponse($event)"
                  ></app-previous-insurer>
                </div>
                <div
                  class="col-lg-4 col-md-6 col-12 mt-2"
                  *ngIf="withoutVehicleNumber && !isResponsive()"
                >
                  <app-policy-expired-date
                    [policyExpiryDate]="'expiry-date'"
                    *ngIf="!disableInsurer"
                    [formControlNameData]="'policy_expiry_date'"
                    [urlDate]="url"
                  ></app-policy-expired-date>
                </div>

                <ng-container *ngIf="!disableInsurer">
                  <div
                    class="col-lg-4 col-md-6 col-12 mt-2"
                    *ngIf="withoutVehicleNumber && !isResponsive()"
                    [ngClass]="notSureHide ? 'displayValue' : 'displayData'"
                  >
                    <app-previous-insurer
                      [previousInsurer]="'previous-insurer'"
                      [formControlNameData]="'previous_insurer'"
                      [label]="'Search Previous Insurer'"
                      (responseEvent)="previousInsurerComponentResponse($event)"
                    ></app-previous-insurer>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="isPolicyNumber">
              <div class="d-flex justify-content-center">
                <img
                  src="/assets/icon/horizontal-line.svg"
                  alt="close"
                  class="horizontal-line me-2"
                />
                <span class="text-center me-2 or-text">Or</span>
                <img
                  src="/assets/icon/horizontal-line.svg"
                  alt="close"
                  class="horizontal-line me-2"
                />
              </div>
            </ng-container>
            <ng-container *ngIf="isPolicyNumber">
              <div class="col-12 d-flex justify-content-center">
                <div class="d-flex justify-content-center mt-2 res-width">
                  <mat-form-field appearance="outline" class="policyNumber">
                    <mat-label>Previous Policy Number</mat-label>
                    <input
                      id-automation="policynumberId"
                      matInput
                      formControlName="policy_number"
                      class="tagPolicyNumber"
                    />
                    <mat-error
                      *ngIf="
                        motorInsurance.controls['policy_number']?.hasError(
                          'required'
                        )
                      "
                    >
                      This is a required field.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
            <div
              [ngClass]="{
                'col-12 ': !withoutVehicleNumber || isPolicyNumber,
                'col-lg-4 col-md-6 col-12 d-flex justify-content-center':
                  withoutVehicleNumber && !isPolicyNumber,
                'text-center': !withoutVehicleNumber || isPolicyNumber
              }"
            >
              <div *ngIf="vehicleNotFound" class="details-not-found">
                {{ vehicleNotFound }}
              </div>
              <button
                id-automation="getVehicleDetailsId"
                class="submit-btn vehicle-submission"
                [ngClass]="{
                  '': withoutVehicleNumber,
                  'disabled-btn mb-2': motorInsurance.invalid
                }"
                [disabled]="
                  rtoResponse == '' ||
                  motorInsurance.invalid ||
                  vehicleResponse == ''
                "
                type="submit"
                (click)="loader ? null : getVehicleDetails()"
              >
                <img
                  src="/assets/gif/button-loader.gif"
                  alt="close"
                  class="loader me-2"
                  *ngIf="loader"
                />
                {{ isPolicyNumber ? "Continue" : "Get Vehicle Details" }}
              </button>
            </div>
          </div>

          <div class="col-12 text-center">
            <span>
              <span *ngIf="!isPolicyNumber" class="already-text"
                >Already insured?</span
              >
              <span
                tabindex="0"
                class="text-primary without-vehicle-no cursor-pointer"
                id-automation="withoutVehicleNumberText"
                (click)="getPolicyNumber()"
                *ngIf="!withoutVehicleNumber"
              >
                {{
                  !isPolicyNumber ? "Click Here" : "Proceed with Vehicle Number"
                }}
              </span>
              <span
                tabindex="0"
                class="text-primary without-vehicle-no cursor-pointer"
                id-automation="withoutVehicleNumberText"
                (click)="getPolicyNumber()"
                *ngIf="withoutVehicleNumber"
              >
                {{
                  !isPolicyNumber
                    ? "Click Here"
                    : "Proceed without Vehicle Number"
                }}
              </span>
              <span *ngIf="!isPolicyNumber" class="already-text">to renew</span>
            </span>
          </div>
          <!-- </div> -->
          <div class="col-12 text-center mb-5">
            <span>
              <span
                tabindex="0"
                class="text-primary without-vehicle-no cursor-pointer"
                id-automation="withoutVehicleNumberText"
                (click)="getVehicleNumber()"
              >
                {{
                  withoutVehicleNumber
                    ? "Proceed with Vehicle Number"
                    : "Proceed without Vehicle Number"
                }}
              </span>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
