.main-container {
    padding: 40px;
  
    .body-content {
      border-radius: 20px;
      border: 1px solid white;
      background: white;
  
      .motor-insurance {
        margin-top: 80px;
        color: #5989DE;
        font-weight: 500;
      }
    }
  }
  