<div class="row main-container">
  <!-- <app-breadcrumb></app-breadcrumb> -->
  <div class="body-content">
    <div class="container p-5">
      <div class="col-12 text-center">
        <h1 class="motor-insurance">Motor Insurance</h1>
      </div>
      <div class="col-12 text-center">
        <span class="vehicle-quote">
          Gear Up for Protection! Choose Your Customer's Vehicle Type
        </span>
      </div>
      <form [formGroup]="motorInsurance">
        <div>
          <app-vehicle-type></app-vehicle-type>
        </div>
        <div class="row mt-4">
          <div class="col-12" *ngIf="!withoutVehicleNumber">
            <div class="d-flex justify-content-center">
              <app-registration-number
                [required]="true"
                [registrationNumber]="'registration-number'"
              ></app-registration-number>
            </div>
          </div>
          <!-- Fields Without Vehicle Number  -->
          <div class="col-lg-4 col-md-6 col-12" *ngIf="withoutVehicleNumber">
            <app-vehicle [required]="true"></app-vehicle>
          </div>
          <div class="col-lg-4 col-md-6 col-12" *ngIf="withoutVehicleNumber">
            <app-rto></app-rto>
          </div>
          <div class="col-lg-4 col-md-6 col-12" *ngIf="withoutVehicleNumber">
            <app-registration-year></app-registration-year>
          </div>
          <div class="col-lg-4 col-md-4 col-12" *ngIf="withoutVehicleNumber">
            <app-previous-insurer [previousInsurer]="'previous-insurer'" [formControlName]="'previous_insurer'"></app-previous-insurer>
          </div>
          <div class="col-lg-4 col-md-4 col-12" *ngIf="withoutVehicleNumber">
            <app-policy-expired-date [policyExpiryDate]="'expiry-date'"></app-policy-expired-date>
          </div>
          <div
            [ngClass]="{
              'col-12': !withoutVehicleNumber,
              'col-lg-4 col-md-6 col-12': withoutVehicleNumber,
              'text-center': !withoutVehicleNumber
            }"
          >
            <button
              [ngClass]="{
                'me-3': withoutVehicleNumber,
                'disabled-btn mb-2': motorInsurance.invalid
              }"
              class="submit-btn vehicle-submission"
              type="submit"
              [disabled]="motorInsurance.invalid"
              (click)="getVehicleDetails()"
            >
              Get Vehicle Details
            </button>
          </div>
        </div>
        <!-- </div> -->
        <div class="col-12 text-center mb-5">
          <a>
            <span
              class="text-primary mb-3 mt-4 without-vehicle-no cursor-pointer"
              (click)="getVehicleNumber()"
            >
              {{
                withoutVehicleNumber
                  ? "Proceed with Vehicle Number"
                  : "Proceed without Vehicle Number"
              }}
            </span>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
