
.main-container {
  padding-top: 0px;
  .body-content {
    height: 70vh;

    .motor-insurance {
      margin-top: 80px;
      color: #5989de;
      font-weight: 600;
      font-size: 35px;
    }
    .container {
      margin-top: 10em;
    }
  }
}

.vehicle-submission {
  width: 300px;
  height: 48px;
  font-size: 14px;
  font-weight: 600;
}
.vehicle-quote {
  font-size: 22px;
  font-weight: 500;
}
.without-vehicle-no {
  font-size: 12px;
  font-weight: 600;
}
.vehicle-submitted {
  margin-top: 60px;
}
