.main-container {
  padding-top: 0px;
  .body-content {
    height: 100%;
    background-color: #fff;
    border-radius: 16px;
    .motor-insurance {
      color: #5989de;
      font-weight: 600;
      font-size: 35px;
    }
  }
}
.res-header-icon {
  display: none;
}
.loader {
  width: 28px;
  height: 16px;
  margin-bottom: 6px;
}
.vehicle-submission {
  width: 324px;
  height: 50px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 3px;
}
.vehicle-quote {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
.without-vehicle-no {
  font-size: 12px;
  font-weight: 600;
}
.vehicle-submitted {
  margin-top: 60px;
}
.horizontal-line{
  width: 100px;

}
.or-text{
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #282828;
}
.already-text{
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #282828;
}
::ng-deep .mat-form-field{
  display: block !important;
}
.quickLInks{
  margin-left: 160px;
  margin-right: 160px;
}
::ng-deep .mat-card{
  border-radius: 20px !important;
  border-left: 3px solid #4B94E5;
  box-shadow: 0 4px 4px #20294c1a !important;
    padding: 0px !important;
    border-top: 1px solid rgb(241, 241, 241);;
  
  .quick-actions-text{
    border-right: 2px solid #20294C1A;
    // padding: 16px;
    font-size: 14px;
    font-weight: 600;
    color: #263238;
    align-items: center;
  }
  .continue-vehicle-number{
    color: #8D9598;
    // padding: 10px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
  }
  .continue-vehicle-number:hover{
    // padding: 10px;
    // margin: 8px;
    background-color: #F5FAFF;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    color: #4E7ED2;
    cursor: pointer;
    align-items: center;
  }
  .renewal-btn{
    padding: 10px;
    // margin: 8px;
    background-color: #F5FAFF;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #4E7ED2;
    cursor: pointer;
    align-items: center;
  }
  .responsive-line{
    display: none;
  }
  
}
@media screen and (max-width: 1020px) {
  .vehicle-submission {
    position: relative;
    bottom: 0 !important;
    left: 0px;
    margin-bottom: 0 !important;
  }
  .content {
    padding: 0 !important;
  }
  .quickLInks{
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 999px) {
  .content {
    padding: 1rem !important;
  }
  .quickLInks{
    margin-left: 0px;
    margin-right: opx;
  }
  .motor-insurance {
    display: none;
  }
  .main-container {
    .body-content {
      border-radius: 48px 48px 0px 0px;
    }
  }
  .res-width{
    width: 100%;
  }
  .vehicle-submission {
    position: relative;
    width: 100%;
    bottom: -85px;
    left: 0px;
    margin-bottom: 0 !important;
  }
  .res-header-icon {
    display: block;
  }
  .registration-number {
    width: 100%;
  }
  .policyNumber {
    ::ng-deep .mat-form-field-flex {
      margin-left: 0px !important;
    }
  }
  ::ng-deep .mat-card{
    padding: 10px !important;
    .quick-actions-text{
      border-right: none;
    }
  }
  .continue-vehicle-number{
    margin-top: 10px !important;
  }
  .quick-actions-text{
    margin: 8px;
  }
  .click{
    margin-top: -4px !important;
    margin-bottom: -4px !important;
  }
  .responsive-line{
    color: #4546491a;
    display: block;
    height: 2px;
    margin: 0px !important;
    opacity: 90%;
  }
}

.registration-number {
  ::ng-deep {
    .mat-form-field-infix {
      width: 450px !important;
    }
  }
}

.details-not-found {
  font-size: 12px;
  font-weight: 500;
  color: #f44336;
}
.displayData {
  display: none;
}
.displayValue {
  display: block;
}
.policyNumber {
  ::ng-deep .mat-form-field-flex {
    margin-right: 110px;
    margin-left: 13px;
  }
  ::ng-deep .mat-input-element {
    font-size: 12px !important;
    font-weight: 500;
    color: #282828;
    padding-left: 10px;
  }

  ::ng-deep {
    .mat-form-field-infix {
      width: 450px !important;
    }
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 15px 0 0 15px !important;
    min-width: 15px !important;
  }
  ::ng-deep .mat-form-field-label-wrapper {
    left: 10px !important;
  }
}
.withoutVehicleNumberTextBtn {
  color: #fff;
  background-color: #fff;
  border: none;
}
.cse{
  font-size: 14px;
  font-weight: 600;
  color: #282828;
  display: flex;
  align-items: center;
}