.failure-popup-header {
  font-size: 16px;
  font-weight: 600;
}
.error-gif-image {
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 4px;
}
.text-content {
  font-weight: 400;
  color: #282828;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  opacity: 90%;
}
.get-quotes-btn {
  width: 280px;
  height: 40px;
}
