<nav class="navbar navbar-section navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div class="d-flex justify-content-between w-100">
      <a class="navbar-brand" (click)="redirectHome()">
        <img
          *ngIf="!env.artivatic_flag"
          src="/assets/icon/RB-logo.svg"
          class="logo-img img-fluid"
          alt="logo"
          width="147.5px"
          height="45px"
        />
        <img
          *ngIf="env.artivatic_flag"
          src="assets/RB-logo/av_logo.png"
          class="logo-img img-fluid"
          alt="logo"
        />
      </a>
      <div>
        <div class="d-flex pt-2">
          <div class="helpline me-2">
            <div class="d-flex">
              <img
                src="assets/icon/helpline.svg"
                alt="logo"
                class="cursor-click"
                (click)="helplineNumber()"
              />
              <span class="helpline-number ms-2">Helpline: 1800-419-7852</span>
            </div>
          </div>
          <div class="trace-id d-flex justify-content-between" *ngIf="isTracId">
            <span class="traceid-copy">Trace ID: {{ transactionId }}</span>
            <img
              src="assets/icon/copy.svg"
              alt="logo"
              (click)="copyMessage(copiedId)"
              class="cursor-pointer ms-2"
              matTooltip="Copy To Clipboard"
              mat-raised-button
            />
          </div>
        </div>
      </div>

      <!-- Display the message when text is copied -->
      <!-- <div *ngIf="isCopied" class="copied-message">Copied!</div> -->
    </div>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</button> -->
    <!-- <div class="collapse navbar-collapse" id="collapsibleNavbar" aria-expanded="false" data-toggle="collapse"> -->
    <!-- <ul class="navbar-nav d-flex justify-content-end"> -->
    <!-- <li class="nav-item dedicated_support" *ngIf="!d2dFlag">
                <a class="nav-link support_deliver disable-mb " target="_blank" href="{{env['oldPlatform']}}">
                    <img src="assets/icons/switchOld.svg">
                    &nbsp; <span>Switch to old</span>
                </a>
                <a class="nav-link support_deliver disable-web mobile-pad-remove" target="_blank" href="{{env['oldPlatform']}}">
                    <img src="assets/icons/old_version.svg">
                </a>
            </li> -->
    <!-- <li class="nav-item dedicated_support"> -->
    <!-- <a
          class="nav-link support_deliver disable-mb"
          target="_blank"
          routerLink="/dedicated-support-contacts"
        >
          <img src="/assets/icon/support.svg" />
          &nbsp; <span>Dedicated Support</span>
        </a> -->
    <!-- <a
          class="nav-link support_deliver disable-web"
          target="_blank"
          routerLink="/dedicated-support-contacts"
        >
          <img src="assets/icon/call.svg" /> &nbsp;
        </a> -->
    <!-- </li> -->

    <!--QR -->
    <!-- <li class="nav-item dedicated_support" *ngIf="!qrDisabled">
                <a class="nav-link support_deliver disable-mb " target="_blank" routerLink="/qr-code">
                    <div class="notification-bell">
                        <img src="./assets/icon/notification bell alarm_.svg">
                    </div>
                    <div class="ellipse">
                        <img src="./assets/icon/Ellipse.png">
                    </div>
                </a>
                <a class="nav-link support_deliver disable-web" target="_blank" routerLink="/qr-code">
                    <img src="assets/images/QR.svg"> &nbsp;
                </a>
            </li> -->

    <li class="nav-item class_login">
      <!-- <span #widgetId></span> -->
      <!-- <a class="nav-link support_deliver disable-mb" target="_blank" routerLink="/dedicated-support-contacts">
                    <img src="/assets/icon/profile.svg">
                </a> -->
    </li>
    <!-- </ul> -->
    <!-- </div> -->
    <!-- <div class="">

        </div> -->
  </div>
</nav>
