<div class="row m-1">
  <div class="col-lg-3 proposal-review">
    <!-- this code hide for some time  -->
    <div class="renewalsCard mb-3" *ngIf="renewalType == 'renewal'">
      <img
        src="/assets/icon/explore-insurance.svg"
        alt=""
        class="explore-insurance-image"
      />
      <div class="explore-insurance-content">
        <p class="explore-insurance-text">Explore a wider range of Insurers</p>
        <button class="explore-insurance-btn" (click)="checkQuotes()">
          Check Quotes
        </button>
      </div>
    </div>
    <app-insurance-details></app-insurance-details>
  </div>
  <div class="res-proposal-review">
    <div class="back-button mb-2" (click)="back()">
      <img src="/assets/icon/back.png" alt="" class="back-image me-2" />Proposal
      Review
    </div>
    <app-vehicle-details-card></app-vehicle-details-card>
    <div class="renewalsCard mb-3" *ngIf="renewalType == 'renewal'">
      <img
        src="/assets/icon/explore-insurance.svg"
        alt=""
        class="explore-insurance-image"
      />
      <div class="explore-insurance-content">
        <p class="explore-insurance-text">Explore a wider range of Insurers</p>
        <button class="explore-insurance-btn" (click)="checkQuotes()">
          Check Quotes
        </button>
      </div>
    </div>
    <app-insurance-details></app-insurance-details>
  </div>
  <div class="col-lg-9 col-12">
    <div class="res-background">
      <div class="d-flex justify-content-between vehicle-owner-details p-2">
        <span class="review-header ps-3">Vehicle Owner Details</span>
        <div
          type="button"
          class="edit-button text-center pe-3"
          (click)="navigateToUrl('vehilceOwnerPanel')"
        >
          <img src="/assets/icon/edit.svg" alt="" class="edit-image" />
          Edit
        </div>
      </div>
      <div class="row m-2">
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">{{
            proposalType == "individual" ? "Full Name" : "Company Name"
          }}</span
          ><br />
          <span class="field-value">{{
            generateProposalData?.customer_details?.full_name || "-"
          }}</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">Contact Number</span><br />
          <span class="field-value">{{
            generateProposalData?.customer_details?.mobile_number || "-"
          }}</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">Email</span><br />
          <span class="field-value">{{
            generateProposalData?.customer_details?.email_id || "-"
          }}</span>
        </div>
        <div
          class="col-lg-3 col-md-3 col-6 mt-3"
          *ngIf="proposalType == 'individual'"
        >
          <span class="field-title">Gender</span><br />
          <span class="field-value">{{
            generateProposalData?.customer_details?.gender || "-"
          }}</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">DOB</span><br />
          <span class="field-value">{{
            generateProposalData?.ckyc_details?.dob || "-"
          }}</span>
        </div>
        <div
          class="col-lg-3 col-md-3 col-6 mt-3"
          *ngIf="proposalType == 'individual'"
        >
          <span class="field-title">Marital Status</span><br />
          <span class="field-value">{{
            generateProposalData?.customer_details?.marital_status || "-"
          }}</span>
        </div>
        <div
          class="col-lg-3 col-md-3 col-6 mt-3"
          *ngIf="proposalType == 'individual'"
        >
          <span class="field-title">Occupation Type</span><br />
          <span class="field-value">{{
            generateProposalData?.customer_details?.occupation_type || "-"
          }}</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">GSTIN</span><br />
          <span class="field-value">{{
            generateProposalData?.customer_details?.gst_no || "-"
          }}</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">CKYC Type</span><br />
          <span class="field-value">{{
            generateProposalData?.ckyc_details?.document_type || "-"
          }}</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">Document Number</span><br />
          <span class="field-value">{{
            generateProposalData?.ckyc_details?.document_number || "-"
          }}</span>
        </div>

        <!-- <hr class="mt-3" /> -->
        <!-- <span class="field-value col-lg-12 col-md-12 col-12"
          >Communication Address</span
        > -->
        <div class="col-lg-12 col-md-12 col-12 mt-3">
          <span class="field-title">Communication Address</span><br />
          <span class="field-value">{{
            generateProposalData?.customer_details?.communication_address
              .address_line || "-"
          }}</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">Pincode</span><br />
          <span class="field-value">{{
            generateProposalData?.customer_details?.communication_address
              .pincode || "-"
          }}</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">City</span><br />
          <span class="field-value">{{
            generateProposalData?.customer_details?.communication_address
              .rb_city_name || "-"
          }}</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">State</span><br />
          <span class="field-value">{{
            generateProposalData?.customer_details?.communication_address
              .rb_state_name || "-"
          }}</span>
        </div>
        <div
          class="d-flex justify-content-between vehicle-owner-details mt-2 p-2"
          *ngIf="generateProposalData?.nominee_details !== null"
        >
          <span class="review-header ps-3">Nominee Details</span>
          <div
            type="button"
            class="edit-button pe-3"
            (click)="navigateToUrl('nomineDetailsPanel')"
          >
            <img src="/assets/icon/edit.svg" alt="" class="edit-image" />
            Edit
          </div>
        </div>
        <div class="row" *ngIf="generateProposalData?.nominee_details !== null">
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Full Name</span><br />
            <span class="field-value">{{
              generateProposalData?.nominee_details?.name || "-"
            }}</span>
          </div>
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Age</span><br />
            <span class="field-value"
              >{{
                generateProposalData?.nominee_details?.age || "-"
              }}
              years</span
            >
          </div>
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Relationship</span><br />
            <span class="field-value">{{
              generateProposalData?.nominee_details?.relation || "-"
            }}</span>
          </div>
        </div>

        <div
          class="d-flex justify-content-between vehicle-owner-details mt-2 p-2"
        >
          <span class="review-header ps-3">Vehicle Details</span>
          <div
            type="button"
            class="edit-button pe-3"
            (click)="navigateToUrl('vehicleDetailPanel')"
          >
            <img src="/assets/icon/edit.svg" alt="" class="edit-image" />
            Edit
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Registration Number</span><br />
            <span class="field-value">{{
              generateProposalData?.vehicle_details?.registration_no || "-"
            }}</span>
          </div>
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Engine Number</span><br />
            <span class="field-value">{{
              generateProposalData?.vehicle_details?.engine_no || "-"
            }}</span>
          </div>
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Chassis Number</span><br />
            <span class="field-value">{{
              generateProposalData?.vehicle_details?.chassis_no || "-"
            }}</span>
          </div>
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Registration Date</span><br />
            <span class="field-value">{{
              generateProposalData?.vehicle_details?.registration_date || "-"
            }}</span>
          </div>
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Mfg. Date</span><br />
            <span class="field-value">{{
              (generateProposalData?.vehicle_details?.manufacture_date
                | date : "MMM-yyyy") || "-"
            }}</span>
          </div>
          <hr
            class="mt-3"
            *ngIf="!generateProposalData?.vehicle_details?.is_same_location"
          />
          <span
            class="field-value col-lg-12 col-md-12 col-12"
            *ngIf="!generateProposalData?.vehicle_details?.is_same_location"
            >Is your Vehicle Registration address same as Communication
            Address?</span
          >
          <div
            class="col-lg-3 col-md-3 col-6 mt-1"
            *ngIf="!generateProposalData?.vehicle_details?.is_same_location"
          >
            <span class="field-title">Address</span><br />
            <span class="field-value">{{
              generateProposalData?.vehicle_details?.registration_address
                .address_line || "-"
            }}</span>
          </div>
          <div
            class="col-lg-3 col-md-3 col-6 mt-1"
            *ngIf="!generateProposalData?.vehicle_details?.is_same_location"
          >
            <span class="field-title">Pincode</span><br />
            <span class="field-value">{{
              generateProposalData?.vehicle_details?.registration_address
                .pincode || "-"
            }}</span>
          </div>
          <div
            class="col-lg-3 col-md-3 col-6 mt-1"
            *ngIf="!generateProposalData?.vehicle_details?.is_same_location"
          >
            <span class="field-title">City</span><br />
            <span class="field-value">{{
              generateProposalData?.vehicle_details?.registration_address
                .rb_city_name || "-"
            }}</span>
          </div>
          <div
            class="col-lg-3 col-md-3 col-6 mt-1"
            *ngIf="generateProposalData?.vehicle_details?.is_same_location"
          >
            <span class="field-title">State</span><br />
            <span class="field-value">{{
              generateProposalData?.vehicle_details?.registration_address
                .rb_state_name || "-"
            }}</span>
          </div>
        </div>
        <hr
          class="mt-3"
          *ngIf="generateProposalData?.vehicle_details?.is_vehicle_financed"
        />
        <div
          class="row"
          *ngIf="generateProposalData?.vehicle_details?.is_vehicle_financed"
        >
          <span class="field-value">Financer Details</span>
          <div class="col-lg-3 col-md-3 col-6 mt-1">
            <span class="field-title">Financer Name</span><br />
            <span class="field-value">{{
              generateProposalData?.vehicle_details?.financer_details
                ?.financer_name || "-"
            }}</span>
          </div>
          <div class="col-lg-3 col-md-3 col-6 mt-1">
            <span class="field-title">Agreement Type</span><br />
            <span class="field-value">{{
              generateProposalData?.vehicle_details?.financer_details
                ?.agreement_type || "-"
            }}</span>
          </div>
          <div class="col-lg-3 col-md-3 col-12 mt-1">
            <span class="field-title">Financer City/ Branch</span><br />
            <span class="field-value">{{
              generateProposalData?.vehicle_details?.financer_details
                ?.financer_branch || "-"
            }}</span>
          </div>
        </div>
        <div
          class="d-flex justify-content-between vehicle-owner-details mt-2 p-2"
          *ngIf="generateProposalData?.previous_policy_details !== null"
        >
          <span class="review-header ps-3">Previous Policy Details</span>
          <div
            type="button"
            class="edit-button pe-3"
            (click)="navigateToUrl('previousPolicyDetailsPanel')"
          >
            <img src="/assets/icon/edit.svg" alt="" class="edit-image" />
            Edit
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-3 col-md-3 col-6 mt-3"
            *ngIf="generateProposalData?.previous_policy_details !== null"
          >
            <span class="field-title">Previous Insurer</span><br />
            <span class="field-value">{{
              generateProposalData?.previous_policy_details?.insurer_name || "-"
            }}</span>
          </div>
          <div
            class="col-lg-3 col-md-3 col-6 mt-3"
            *ngIf="generateProposalData?.previous_policy_details !== null"
          >
            <span class="field-title">Previous Policy Number</span><br />
            <span class="field-value">{{
              generateProposalData?.previous_policy_details?.policy_no || "-"
            }}</span>
          </div>
          <div
            class="col-lg-3 col-md-3 col-6 mt-3"
            *ngIf="generateProposalData?.previous_policy_details !== null"
          >
            <span class="field-title">Policy Expiry Date</span><br />
            <span class="field-value">{{
              generateProposalData?.previous_policy_details
                ?.policy_expiry_date || "-"
            }}</span>
          </div>
          <hr
            class="mt-3"
            *ngIf="
              isTpDetailsDisabled &&
              generateProposalData?.previous_policy_details !== null
            "
          />
          <span
            class="field-value col-lg-12 col-md-12 col-12"
            *ngIf="
              isTpDetailsDisabled &&
              generateProposalData?.previous_policy_details !== null
            "
            >Third Party (TP) Policy Details</span
          >
          <div
            class="col-lg-3 col-md-3 col-6 mt-3"
            *ngIf="
              isTpDetailsDisabled &&
              generateProposalData?.previous_policy_details !== null
            "
          >
            <span class="field-title">TP Insurance Company</span><br />
            <span class="field-value">{{
              generateProposalData?.previous_policy_details?.tp_policy_details
                ?.tp_insurer_name || "-"
            }}</span>
          </div>
          <div
            class="col-lg-3 col-md-3 col-6 mt-3"
            *ngIf="
              isTpDetailsDisabled &&
              generateProposalData?.previous_policy_details !== null
            "
          >
            <span class="field-title">TP Policy Number</span><br />
            <span class="field-value">{{
              generateProposalData?.previous_policy_details?.tp_policy_details
                ?.tp_policy_no || "-"
            }}</span>
          </div>
          <div
            class="col-lg-3 col-md-3 col-6 mt-3"
            *ngIf="
              isTpDetailsDisabled &&
              generateProposalData?.previous_policy_details !== null
            "
          >
            <span class="field-title">TP Policy Start Date</span><br />
            <span class="field-value">{{
              generateProposalData?.previous_policy_details?.tp_policy_details
                ?.tp_policy_start_date || "-"
            }}</span>
          </div>
          <div
            class="col-lg-3 col-md-3 col-6 mt-3"
            *ngIf="
              isTpDetailsDisabled &&
              generateProposalData?.previous_policy_details !== null
            "
          >
            <span class="field-title">TP Policy End Date</span><br />
            <span class="field-value">{{
              generateProposalData?.previous_policy_details?.tp_policy_details
                ?.tp_policy_expiry_date || "-"
            }}</span>
            <!-- tp_policy_expiry_date -->
          </div>
        </div>
        <div class="acknowledgment-confirm mt-2">
          <div class="d-flex">
            <mat-checkbox
              class="custom-checkbox"
              (change)="updateCheckBoxState($event.checked)"
              >I hereby accept all</mat-checkbox
            >
            <div class="ms-2 accept-text pt-1">
              <a (click)="openDialog()" class="terms">Terms & Conditions</a>
            </div>
          </div>
        </div>
        <div class="col-12 mt-2">
          <button
            class="submit-btn proposal-review-submission"
            type="submit"
            (click)="submitReview()"
            [disabled]="!isAcknowledged"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
