.vehicle-owner-details {
  width: 100%;
  background: #edf2fc;
  border-radius: 12px;
  color: #5384ea;
  font-size: 14px;
  font-weight: 600;
}
.field-content {
  width: 100%;
}
.full-name {
  padding-right: 100px;
}
.loader {
  width: 28px;
  height: 16px;
  margin-bottom: 6px;
}
.cse{
  font-size: 14px;
  font-weight: 600;
  color: #282828;
  display: flex;
  align-items: center;
}
.acknowledgment-confirm {
  .proposal-confirmation {
    font-size: 13px;
    font-weight: 500;
    width: 100%;
  }
  ::ng-deep {
    .mat-checkbox-label{
      font-weight: 600;
      color: #282828 !important;
    }
    .mat-checkbox-inner-container{
      width: 12px;
      height: 12px;
      margin-top: 6px;
    }
  }
}
.addons-text{
  font-size: 12px;
  font-weight: 600;
  color: #5384ea;
  text-decoration: underline;
}
.proposal-review-submission {
  width: 350px;
  height: 48px;
  font-size: 14px;
  font-weight: 600;
}
.field-title {
  font-size: 12px;
  font-weight: 600;
  opacity: 50%;
}
.field-value {
  font-size: 14px;
  font-weight: 500;
  word-break: break-all;
}
.edit-button {
  color: #5384ea;
  font-size: 11px;
  font-weight: 600;
  border: none;
}
.edit-image {
  padding-right: 4px;
}
.accept-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  color: #282828;
}
.terms {
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
  color: #5384ea;
  cursor: pointer;
}
.res-background {
  ::ng-deep {
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: #5989de !important;
      border: 1px solid #5989de !important;
      border-radius: 4px !important;
    }
    .mat-checkbox-checkmark-path {
      stroke: white !important;
    }
    .mat-checkbox-frame,
    .mat-checkbox-background,
    .mat-checkbox-anim-unchecked-checked .mat-checkbox-anim-checked-unchecked {
      transform: scale(1.5);
    }
  }
}

.res-proposal-review {
  display: none;
}
.renewalsCard {
  display: flex;
  background-color: #5384ea36;
  justify-content: space-between;
  border-radius: 12px;
  padding: 20px;
}
.explore-insurance-content {
  text-align: center;
}
.explore-insurance-image{
  height: 94px;
  width: 135px;
}
.explore-insurance-text {
  color: #5384ea;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.explore-insurance-btn {
  background-color: #5384ea;
  color: #fff;
  border: 0px solid #5384ea;
  border-radius: 8px;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}
@media screen and (max-width: 999px) {
  .proposal-review {
    display: none;
  }
  .res-proposal-review {
    display: block;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    .back-button {
      .back-image {
        width: 14px;
        height: 12px;
      }
    }
  }
  .res-background {
    background-color: #fff;
    border-radius: 16px;
    padding: 10px;
    margin-top: 10px;
  }
  .proposal-review-submission {
    width: 100%;
  }
  .renewalsCard{
    background-color: #fff;
  }
  .explore-insurance-image{
    height: 80px;
  }
}
