<div class="row">
  <div class="col-3">
    <app-insurance-details></app-insurance-details>
  </div>
  <div class="col-9">
    <div class="d-flex justify-content-between vehicle-owner-details">
      <p class="mx-3 review-header">Vehicle Owner Details</p>
      <button type="button" class="edit-button">
        <img src="/assets/icon/edit.svg" alt="" class="edit-image" />
        Edit
      </button>
    </div>
    <div class="row d-flex mx-4 mt-4">
      <div class="col-3 field-title">Full Name</div>
      <div class="col-3 field-title">Contact Number</div>
      <div class="col-3 field-title">Email</div>
      <div class="col-3 field-title">Gender</div>
      <div class="col-3 field-value">Shivam</div>
      <div class="col-3 field-value">89789897987</div>
      <div class="col-3 field-value">shivam@gmail.com</div>
      <div class="col-3 field-value">Male</div>
      <div class="col-3 field-title mt-3">Date of Birth</div>
      <div class="col-3 field-title mt-3">Marital Status</div>
      <div class="col-3 field-title mt-3">Occupation Type</div>
      <div class="col-3 field-title mt-3">GSTIN</div>
      <div class="col-3 field-value">18/07/2004</div>
      <div class="col-3 field-value">Single</div>
      <div class="col-3 field-value">Service</div>
      <div class="col-3 field-value">6786CBDG787989</div>
    </div>
    <div class="row d-flex mx-4 mt-4">
      <div class="col-3 field-title">CKYC Type</div>
      <div class="col-3 field-title">PAN Number</div>
    </div>
    <div class="row d-flex mx-4">
      <div class="col-3 field-value">PAN Number</div>
      <div class="col-3 field-value">IQZPD9868D</div>
    </div>
    <hr />
    <div class="row d-flex mx-4">
      <p class="field-value">Communication Address</p>
      <div class="col-3 field-title">Address</div>
      <div class="col-3 field-title">Pincode</div>
      <div class="col-3 field-title">City</div>
      <div class="col-3 field-title">State</div>
      <div class="col-3 field-value">102, Old Gandhi Nagar, Ghaziabad, UP</div>
      <div class="col-3 field-value">11111</div>
      <div class="col-3 field-value">Bulandshahr</div>
      <div class="col-3 field-value">UP</div>
    </div>
    <div class="d-flex justify-content-between vehicle-owner-details mt-4">
      <p class="mx-3 review-header">Nominee Details</p>
      <button type="button" class="edit-button">
        <img src="/assets/icon/edit.svg" alt="" class="edit-image" />
        Edit
      </button>
    </div>
    <div class="row d-flex mx-4 mt-4">
      <div class="col-3 field-title">Full Name</div>
      <div class="col-3 field-title">Date of Birth</div>
      <div class="col-3 field-title">Relationship</div>
    </div>
    <div class="row d-flex mx-4">
      <div class="col-3 field-value">Jai Singh</div>
      <div class="col-3 field-value">11/03/1998</div>
      <div class="col-3 field-value">Brother</div>
    </div>
    <div class="d-flex justify-content-between vehicle-owner-details">
      <p class="mx-3 review-header">Vehicle Details</p>
      <button type="button" class="edit-button">
        <img src="/assets/icon/edit.svg" alt="" class="edit-image" />
        Edit
      </button>
    </div>
    <div class="row d-flex mx-4 mt-4">
      <div class="col-3 field-title">Registration Number</div>
      <div class="col-3 field-title">Engine Number</div>
      <div class="col-3 field-title">Chassis Number</div>
      <div class="col-3 field-title">Registration Date</div>
    </div>
    <div class="row d-flex mx-4">
      <div class="col-3 field-value">UP-14-EA-6078</div>
      <div class="col-3 field-value">632975693256238</div>
      <div class="col-3 field-value">MADCS46598236</div>
      <div class="col-3 field-value">22-06-2019</div>
    </div>
    <div class="row d-flex mx-4 mt-4">
      <div class="col-3 field-title">Mfg. Date</div>
    </div>
    <div class="row d-flex mx-4">
      <div class="col-3 field-value">05-2019</div>
    </div>
    <hr />
    <div class="row d-flex mx-4">
      <p class="field-value">Financer Details</p>
      <div class="col-3 field-title">Financer Name</div>
      <div class="col-3 field-title">Agreement Type</div>
      <div class="col-3 field-title">Financer City/ Branch</div>
    </div>
    <div class="row d-flex mx-4">
      <div class="col-3 field-value">State Bank of India</div>
      <div class="col-3 field-value">Hypothecation</div>
      <div class="col-3 field-value">New Delhi</div>
    </div>
    <div class="d-flex justify-content-between vehicle-owner-details">
      <p class="mx-3 review-header">Previous Policy Details</p>
      <button type="button" class="edit-button">
        <img src="/assets/icon/edit.svg" alt="" class="edit-image" />
        Edit
      </button>
    </div>
    <div class="row d-flex mx-4 mt-4">
      <div class="col-3 field-title">Previous Insurer</div>
      <div class="col-3 field-title">Previous Policy Number</div>
      <div class="col-3 field-title">Policy Expiry Date</div>
    </div>
    <div class="row d-flex mx-4">
      <div class="col-3">United India</div>
      <div class="col-3">632975693256238</div>
      <div class="col-3">28/01/2024</div>
    </div>
    <div class="row d-flex mx-2 mt-4 acknowledgemen-confirm">
      <div class="col-1">
        <mat-checkbox></mat-checkbox>
      </div>
      <div class="col-11">
        <p class="proposal-confirmation">
          I confirm all the details shared are correct and accurate as per my
          knowledge. I agree with all the T&C and my vehicle has a valid PUC
          certificate. I also declare that the information provided above is
          true and accept that if it is found to be false, it may impact claims.
          I agree any changes to the details post payment might require
          additional payment. D2C Insurance Broking Pvt. Ltd. (including its
          representatives) shall not be held liable for any changes due to
          incorrect information. I confirm that NCB percentage declared is
          correct and no claims were made in the previous policy.
        </p>
      </div>
    </div>
    <div class="col-12 mb-2 mt-3">
      <button class="submit-btn proposal-review-submission" type="submit">
        Submit
      </button>
    </div>
  </div>
</div>
