<div class="row m-1">
  <div class="col-3 proposal-review">
    <app-insurance-details></app-insurance-details>
  </div>
  <div class="res-proposal-review">
    <div class="back-button mb-2" (click)="back()">
      <img src="/assets/icon/back.png" alt="" class="back-image me-2" />Proposal
      Review
    </div>
    <app-vehicle-details-card></app-vehicle-details-card>
    <app-insurance-details></app-insurance-details>
  </div>
  <div class="col-lg-9 col-12">
    <div class="res-background">
      <div class="d-flex justify-content-between vehicle-owner-details p-2">
        <span class="review-header ps-3">Vehicle Owner Details</span>
        <div type="button" class="edit-button text-center pe-3">
          <img
            src="/assets/icon/edit.svg"
            alt=""
            class="edit-image"
            (click)="navigateToUrl('vehilceOwnerPanel')"
          />
          Edit
        </div>
      </div>
      <div class="row m-2">
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">Full Name</span><br />
          <span class="field-value">Krishna Kumar</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">Contact Number</span><br />
          <span class="field-value">9876543210</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">Email</span><br />
          <span class="field-value">krishna.kumar@renewbuy.com</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">Gender</span><br />
          <span class="field-value">Male</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">Date of Birth</span><br />
          <span class="field-value">10/03/1998</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">Marital Status</span><br />
          <span class="field-value">Married</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">Occupation Type</span><br />
          <span class="field-value">Service</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">GSTIN</span><br />
          <span class="field-value">6786CBDG787989</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">CKYC Type</span><br />
          <span class="field-value">PAN Number</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">PAN Number</span><br />
          <span class="field-value">HWFPS3498E</span>
        </div>

        <hr class="mt-3" />
        <span class="field-value col-lg-12 col-md-12 col-12"
          >Communication Address</span
        >
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">Address</span><br />
          <span class="field-value">102, Old Gandhi Nagar, Ghaziabad, UP</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">Pincode</span><br />
          <span class="field-value">11111</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">City</span><br />
          <span class="field-value">Bulandshahr</span>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-3">
          <span class="field-title">State</span><br />
          <span class="field-value">UP</span>
        </div>
        <div
          class="d-flex justify-content-between vehicle-owner-details mt-2 p-2"
        >
          <span class="review-header ps-3">Nominee Details</span>
          <div
            type="button"
            class="edit-button pe-3"
            (click)="navigateToUrl('nomineDetailsPanel')"
          >
            <img src="/assets/icon/edit.svg" alt="" class="edit-image" />
            Edit
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Full Name</span><br />
            <span class="field-value">Jai Singh</span>
          </div>
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Date of Birth</span><br />
            <span class="field-value">11/03/1998</span>
          </div>
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Relationship</span><br />
            <span class="field-value">Brother</span>
          </div>
        </div>

        <div
          class="d-flex justify-content-between vehicle-owner-details mt-2 p-2"
        >
          <span class="review-header ps-3">Vehicle Details</span>
          <div
            type="button"
            class="edit-button pe-3"
            (click)="navigateToUrl('vehicleDetailPanel')"
          >
            <img src="/assets/icon/edit.svg" alt="" class="edit-image" />
            Edit
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Registration Number</span><br />
            <span class="field-value">UP-14-EA-6078</span>
          </div>
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Engine Number</span><br />
            <span class="field-value">632975693256238</span>
          </div>
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Chassis Number</span><br />
            <span class="field-value">MADCS46598236</span>
          </div>
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Registration Date</span><br />
            <span class="field-value">22-06-2019</span>
          </div>
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Mfg. Date</span><br />
            <span class="field-value">01-05-2019</span>
          </div>
        </div>
        <hr class="mt-3" />
        <div class="row">
          <span class="field-value">Financer Details</span>
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Financer Name</span><br />
            <span class="field-value">State Bank of India</span>
          </div>
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Agreement Type</span><br />
            <span class="field-value">Hypothecation</span>
          </div>
          <div class="col-lg-3 col-md-3 col-12 mt-3">
            <span class="field-title">Financer City/ Branch</span><br />
            <span class="field-value">New Delhi</span>
          </div>
        </div>
        <div
          class="d-flex justify-content-between vehicle-owner-details mt-2 p-2"
        >
          <span class="review-header ps-3">Previous Policy Details</span>
          <div
            type="button"
            class="edit-button pe-3"
            (click)="navigateToUrl('previousPolicyDetailsPanel')"
          >
            <img src="/assets/icon/edit.svg" alt="" class="edit-image" />
            Edit
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Previous Insurer</span><br />
            <span class="field-value">United India</span>
          </div>
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Previous Policy Number</span><br />
            <span class="field-value">632975693256238</span>
          </div>
          <div class="col-lg-3 col-md-3 col-6 mt-3">
            <span class="field-title">Policy Expiry Date</span><br />
            <span class="field-value">28/01/2024</span>
          </div>
        </div>

        <div class="acknowledgemen-confirm mt-2">
          <div class="d-flex">
            <mat-checkbox class="custom-checkbox" checked="true"></mat-checkbox>
              <div class="ms-2 accept-text pt-1">
                I hereby accept all <a (click)="openDialog()" class="terms">Terms & Condition</a>
              </div>  
          </div>
        </div>
        <div class="col-12 mb-2 mt-3">
          <button
            class="submit-btn proposal-review-submission"
            type="submit"
            (click)="submitReview()"
          >
            Review & Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
