.failure-popup-header{
    font-size: 16px;
    font-weight: 600;
}
.message{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
.fail-gif-image{
    width: 100px;
  height: 80px;
}
.success-submission {
    width: 280px;
    height: 48px;
    font-size: 14px;
    font-weight: 600;
}