.failure-popup-header{
    font-size: 16px;
    font-weight: 600;
}
.fail-gif{ 
    position: relative;
    left: 55px; 
}
.fail-gif-image{
    width: 100px;
  height: 80px;
  position: relative;
  bottom: 4px; 
}