<div class="add-ons" [ngClass]="enableAddOns ? 'addonBlur' : 'addonShow'">
  <mat-accordion *ngFor="let addOns of addOnsArray">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title id="{{ addOns.rb_type }}">
          {{ addOns.displayName }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <span *ngFor="let listValue of addOns.fe_template; index as i">
        <section class="d-grid">
          <span *ngIf="listValue.type == 'radio'">
            <mat-checkbox
              [(ngModel)]="listValue.checked"
              [id]="listValue.name"
              (change)="
                onCheckboxSelect(
                  $event,
                  listValue.name,
                  listValue?.next_type,
                  i,
                  addOns.displayName,
                  listValue.rb_code,
                  listValue.type,
                  addOns
                )
              "
              [disabled]="enableAddOns"
              >{{ listValue?.name }}</mat-checkbox
            >
          </span>
          <span *ngIf="listValue.type == 'check_box'">
            <mat-checkbox
              [(ngModel)]="listValue.checked"
              [id]="listValue.name"
              (change)="
                onCheckboxSelect(
                  $event,
                  listValue.name,
                  listValue?.next_type,
                  i,
                  addOns.displayName,
                  listValue.rb_code,
                  listValue.type,
                  addOns
                )
              "
              [disabled]="enableAddOns"
              >{{ listValue?.name }}</mat-checkbox
            >

            <span
              *ngIf="
                listValue?.next_type == 'multi_checkbox' &&
                i == multiCheckboxField[i]
              "
              class="d-grid m-1"
            >
              <mat-checkbox
                *ngFor="let data of listValue.modifiedMultiCheckList"
                (change)="
                  onInputChange(
                    $event,
                    listValue?.next_type,
                    i,
                    listValue?.name,
                    listValue?.rb_code
                  )
                "
                [disabled]="enableAddOns"
                [(ngModel)]="data.multiChecked"
                id="{{ data.name }}"
                >{{ data.name }}</mat-checkbox
              >
              <mat-error *ngIf="i == multiCheckbox[i]">
                Please select a country.
              </mat-error>
            </span>
          </span>
        </section>
        <section class="d-grid">
          <ng-container *ngIf="listValue?.next_type == 'dropdown'">
            <mat-form-field
              appearance="outline"
              *ngIf="i == dropDownFieldIndex[i]"
              id="{{ listValue.name }}"
            >
              <mat-label>Select Value</mat-label>
              <mat-select
                (selectionChange)="
                  onInputChange(
                    $event.value,
                    listValue?.next_type,
                    i,
                    listValue.name,
                    listValue?.rb_code
                  )
                "
                (blur)="
                  onInputChange(
                    0,
                    listValue?.next_type,
                    i,
                    listValue?.name,
                    listValue?.rb_code
                  )
                "
                [disabled]="enableAddOns"
                [(ngModel)]="listValue.addOnsValue"
              >
                <mat-option
                  *ngFor="let items of listValue.value"
                  [value]="items"
                  id="{{ items }}"
                  >&#8377; {{ items | numberFormat }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-error *ngIf="i == dropDownIndex[i]">
              This is a required field.
            </mat-error>
          </ng-container>
        </section>

        <section class="d-grid" *ngIf="listValue?.next_type == 'int_input'">
          <mat-form-field
            appearance="outline"
            class="mat-input-custom"
            *ngIf="i == inputFieldIndex[i]"
            id="{{ listValue?.name }}"
          >
            <mat-label>{{ listValue?.name }}</mat-label>
            <input
              matInput
              [(ngModel)]="listValue.addOnsValue"
              appNumbersOnly
              id="{{ listValue?.name }}"
              (ngModelChange)="
                onInputChange(
                  $event,
                  listValue?.next_type,
                  i,
                  listValue?.name,
                  listValue?.rb_code
                )
              "
              (click)="
                onInputChange(
                  listValue.addOnsValue,
                  listValue?.next_type,
                  i,
                  listValue?.name,
                  listValue?.rb_code
                )
              "
              [disabled]="enableAddOns"
            />
          </mat-form-field>
          <mat-error *ngIf="i == inputTagIndex[i]">
            This is a required field.
          </mat-error>
        </section>
        <section class="d-grid">
          <ng-container *ngIf="listValue?.next_type == 'tab'">
            <div class="row p-2 voluntry-btn" *ngIf="i == tabIndex[i]">
              <div
                class="col-lg-6 col-md-6 col-6 mt-1"
                *ngFor="let amount of listValue.value"
              >
                <button
                  class="voluntry"
                  [disabled]="enableAddOns"
                  (click)="
                    selectVoluntry(
                      amount,
                      listValue?.name,
                      listValue?.rb_code,
                      i
                    )
                  "
                  [class.active]="selectedVoluntryValue == amount"
                >
                  &#8377;{{ amount }}
                </button>
              </div>
            </div>
          </ng-container>
        </section>
      </span>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="bottom-btn p-2" *ngIf="showUpdateButton">
    <div class="d-flex justify-content-between mt-2">
      <div *ngIf="clearAllButton" class="btn-cancel">
        <button
          class="cancel-btn"
          (click)="clearAllChecked()"
          [disabled]="enableAddOns"
        >
          Clear All
        </button>
      </div>
      <button
        *ngIf="showButtons"
        class="submit-btn"
        (click)="update()"
        [disabled]="ischeckInput || isMultiCheckbox || isTab"
      >
        Update
      </button>
    </div>
  </div>
</div>
<div class="add-ons-res">
  <div class="header">
    <div class="d-flex justify-content-between ps-3 pe-3 pt-3">
      <span class="change-text">Customise policy as per the needs</span>
      <img
        src="/assets/icon/cross.svg"
        alt=""
        class="cross-icon me-3"
        (click)="cancelChangeIDv($event)"
      />
    </div>
  </div>
  <hr />
  <div class="m-2">
    <div class="card-body p-2" *ngFor="let addOns of addOnsArray">
      <span class="customise-header ps-3" id="{{ addOns.rb_type }}">{{
        addOns.displayName
      }}</span>
      <section class="my-2 section-value">
        <span *ngFor="let listValue of addOns.fe_template; index as i">
          <section class="d-grid">
            <span *ngIf="listValue.type == 'check_box'">
              <mat-checkbox
                [(ngModel)]="listValue.checked"
                (change)="
                  onCheckboxSelect(
                    $event,
                    listValue.name,
                    listValue?.next_type,
                    i,
                    addOns.displayName,
                    listValue.rb_code,
                    listValue.type,
                    addOns
                  )
                "
                >{{ listValue?.name }}</mat-checkbox
              >

              <span
                *ngIf="
                  listValue?.next_type == 'multi_checkbox' &&
                  i == multiCheckboxField[i]
                "
                class="d-grid m-1"
              >
                <mat-checkbox
                  *ngFor="let data of listValue.value"
                  (change)="
                    onInputChange(
                      $event,
                      listValue?.next_type,
                      i,
                      listValue?.name,
                      listValue?.rb_code
                    )
                  "
                  >{{ data }}</mat-checkbox
                >
                <mat-error *ngIf="i == multiCheckbox[i]">
                  Please select a country.
                </mat-error>
              </span>
            </span>
          </section>
          <section class="d-grid">
            <ng-container *ngIf="listValue?.next_type == 'dropdown'">
              <mat-form-field
                appearance="outline"
                *ngIf="i == dropDownFieldIndex[i]"
              >
                <mat-label>Select Value</mat-label>
                <mat-select
                  (selectionChange)="
                    onInputChange(
                      $event.value,
                      listValue?.next_type,
                      i,
                      listValue?.name,
                      listValue?.rb_code
                    )
                  "
                >
                  <mat-option
                    *ngFor="let items of listValue.value"
                    [value]="items"
                    >{{ items }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="i == dropDownIndex[i]">
                This is a required field.
              </mat-error>
            </ng-container>
          </section>

          <section class="d-grid" *ngIf="listValue?.next_type == 'int_input'">
            <mat-form-field
              appearance="outline"
              class="mat-input-custom"
              *ngIf="i == inputFieldIndex[i]"
            >
              <mat-label>{{ listValue?.name }}</mat-label>
              <input
                matInput
                [(ngModel)]="inputValues[i]"
                (blur)="
                  onInputChange(
                    $event,
                    listValue?.next_type,
                    i,
                    listValue?.name,
                    listValue?.rb_code
                  )
                "
              />
            </mat-form-field>
            <mat-error *ngIf="i == inputTagIndex[i]">
              This is a required field.
            </mat-error>
          </section>

          <section class="d-grid">
            <ng-container *ngIf="listValue?.next_type == 'tab'">
              <div class="row p-2 voluntry-btn" *ngIf="i == tabIndex[i]">
                <div
                  class="col-lg-6 col-md-6 col-6 mt-1"
                  *ngFor="let amount of listValue.value"
                >
                  <button
                    class="voluntry"
                    (click)="
                      selectVoluntry(
                        amount,
                        listValue?.name,
                        listValue?.rb_code,
                        i
                      )
                    "
                    [class.active]="selectedVoluntryValue == amount"
                  >
                    &#8377;{{ amount }}
                  </button>
                </div>
              </div>
            </ng-container>
          </section>
        </span>
      </section>
    </div>
  </div>
  <div class="d-flex p-2 bottom-btn">
    <button
      class="cancel-btn col-6"
      [disabled]="enableAddOns"
      (click)="clearAllChecked()"
    >
      Clear All
    </button>
    <button class="submit-btn col-6" (click)="update()">Update</button>
  </div>
</div>
