.add-ons{
  .card-header{
    background-color: #fff !important;
  }  
  span:hover {
    cursor: pointer;
  }
  .add-ons-header-text{
    font-weight: 600;
    color: #535353;
    font-size: 14px;
  }
  .clear-all-text{
    font-weight: 600;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .add-ons{
    display: none;
  }
}


  