.add-ons {
  .add-ons-card {
    border: 1px solid #eaeaea;
    border-radius: 16px;
  }
  ::ng-deep .mat-expansion-panel-header-title {
    color: #535353;
    font-size: 14px;
    font-weight: 600;
  }
  ::ng-deep {
    // .mat-expansion-panel.mat-expanded .mat-expansion-panel-header{
    //   border-radius: 16px;
    //   margin-top: 16px 0px;
    //   transition: none;
    // }
    .mat-expansion-panel:not(.mat-expanded) {
      border-radius: 16px !important;
    }
    .mat-accordion > .mat-expansion-panel-spacing:first-child {
      margin-top: 16px;
      border-radius: 16px;
    }
    .mat-expansion-panel.mat-expanded .mat-expansion-panel-header{
      height: 41px !important;
    }
    .mat-expansion-panel-body{
      padding-top: 8px;
    }
    .mat-checkbox-inner-container {
      margin-top: 4px;
    }

    .mat-expansion-panel {
      border-radius: 16px;
      border: 1px solid #eaeaea;
      .mat-input-custom .mat-form-field-infix {
        width: 100% !important;
      }
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
      .mat-expansion-panel-header {
        background-color: #ffffff !important;

        border-radius: 0px !important;
      }
      .mat-expansion-panel-body {
        border-top: 1px solid #eaeaea;
      }
    }
  }

  .card-header {
    border-radius: 16px 16px 0px 0px;
    background-color: #fff !important;
    .header-text {
      display: flex;
      justify-content: space-between;
    }
  }
  span:hover {
    cursor: pointer;
  }
  .add-ons-header-text {
    font-weight: 600;
    color: #535353;
    font-size: 14px;
  }
  .clear-all-text {
    font-weight: 600;
    font-size: 14px;
  }
  .header {
    .change-text {
      font-size: 14px;
      font-weight: 600;
      color: #535353;
    }
    .cross-icon {
      cursor: pointer;
    }
  }
  .voluntry-btn{
    .voluntry {
      border: 1px solid #ababab;
      border-radius: 8px;
      padding: 5px;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: #ababab;
      width: 100%;
      background-color: #fff;
    }
    button.active {
      border: 1px solid #5384ea;
      border-radius: 8px;
      padding: 5px;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: #5384ea;
    }
  }
 
  .bottom-btn {
    position: sticky;
    bottom: 0;
    background-color: #fff;
    .submit-btn{
      width: 48%;
    }
  }
  .cancel-btn {
    color: #ffb171;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #ffb171;
    height: 36px;
    border-radius: 12px;
    width: 48%;
  }
}
.add-ons-res {
  display: none;
  .cancel-btn {
    color: #ffb171;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    border: none;
    height: 36px;
  }
}
@media screen and (max-width: 999px) {
  .add-ons {
    display: none;
  }
  .add-ons-res {
    display: block;
    background-color: #f4f8ff;
    .customise-header {
      font-size: 14px;
      font-weight: 600;
      color: #535353;
    }
    .section-value {
      display: grid;
      padding: 10px;
      background-color: #fff;
      border-radius: 12px;
      ::ng-deep .mat-form-field {
        width: 100% !important;
      }
      ::ng-deep .mat-input-custom .mat-form-field-infix{
        width: 100% !important;
      }
      ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0 !important;
      }
      .voluntry-btn{
        .voluntry {
          border: 1px solid #ababab;
          border-radius: 8px;
          padding: 5px;
          font-size: 14px;
          font-weight: 500;
          text-align: center;
          color: #ababab;
          width: 100%;
          background-color: #fff;
        }
        button.active {
          border: 1px solid #5384ea;
          border-radius: 8px;
          padding: 5px;
          font-size: 14px;
          font-weight: 500;
          text-align: center;
          color: #5384ea;
        }
      }
    }
    .bottom-btn {
      display: flex;
      position: sticky;
      bottom: 0;
      background-color: #fff;
    }
  }
}
