.add-ons{
  .add-ons-card{
    border: 1px solid #EAEAEA;
    border-radius: 16px;
  }
  
  .card-header{
    border-radius: 16px 16px 0px 0px;
    background-color: #fff !important;

  }  
  span:hover {
    cursor: pointer;
  }
  .add-ons-header-text{
    font-weight: 600;
    color: #535353;
    font-size: 14px;
  }
  .clear-all-text{
    font-weight: 600;
    font-size: 14px;
  }
  .header{
    .change-text{
      font-size: 14px;
      font-weight: 600;
      color: #535353;
    }
    .cross-icon{
      cursor: pointer;
    }
  }
  
}
.add-ons-res{
  display: none;
  .cancel-btn{
    color: #FFB171;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    border: none;
    height: 36px;
  }
}
@media screen and (max-width: 768px) {
  .add-ons{
    display: none;
  }
  .add-ons-res{
    display: block;
  }
}


  