<div class="add-ons my-3">
  <div class="card border rounded ">
    <div class="card-header">
      <div class="header-text">
        <span class="add-ons-header-text"> Add Ons </span>
        <span
          class="tag-right clear-all-text text-light-blue"
          (click)="clearAllChecked()"
        >
          Clear All
        </span>
      </div>
    </div>
    <div class="card-body">
      <section
        class="my-2"
        *ngFor="let listValue of addonList"
      >
        <mat-checkbox [(ngModel)]="listValue.checked">{{
          listValue?.rb_addon_name
        }}</mat-checkbox>
      </section>
    </div>
  </div>
</div>
<div class="add-ons-res">
  <div class="header">
    <div class="d-flex justify-content-between ps-3 pe-3 pt-3">
      <span class="change-text">Addons</span>
      <img src="/assets/icon/cross.svg" alt="" class="cross-icon me-3" (click)="cancelChangeIDv($event)"/>
    </div>

  </div>
  <hr>
  <div class="m-2">
    
    <div class="card-body">
      <section
        class="my-2"
        *ngFor="let listValue of addonList"
      >
        <mat-checkbox [(ngModel)]="listValue.checked">{{
          listValue?.rb_addon_name
        }}</mat-checkbox>
      </section>
    </div>
    <div class="d-flex p-3">
      <button   class="cancel-btn col-6" (click)="clearAllChecked()">Clear All</button>
      <button   class="submit-btn col-6">Apply</button>
    </div>
  </div>
</div>
