.vehicle-submission {
  width: 300px;
  height: 48px;
  font-size: 14px;
  font-weight: 600;
}
.vehicle-details-popup-header {
  font-size: 16px;
  font-weight: 600;
}
.vehicle-details-dropdown {
  ::ng-deep {
    .mat-form-field-infix {
      width: 300px !important;
    }
  }
}
