<form
  [formGroup]="vehicleDetailsForm"
  (ngSubmit)="updateVehicleDetail()"
  class="edit-vehicle-details p-1"
>
  <div>
    <!-- Dialog title -->
    <div mat-dialog-title class="row">
      <div class="vehicle-details-popup-header d-flex justify-content-between">
        <span>
          {{
            editVehicleDetails
              ? "Please verify the fetched vehicle details."
              : "Edit Vehicle Details"
          }}
        </span>
        <img
          src="/assets/icon/cross.svg"
          class="cursor-pointer"
          alt="close"
          *ngIf="!editVehicleDetails"
          (click)="onClose()"
        />
      </div>
      <hr class="line" />
    </div>
    <!-- Dialog content -->
    <div mat-dialog-content>
      <div class="row vehicle-details-form">
        <!-- Make/Model dropdown -->
        <div class="col-lg-6 col-md-6 col-12">
          <mat-form-field appearance="outline" class="vehicle-details-dropdown">
            <mat-label>Make/Model</mat-label>
            <input
              matInput
              placeholder="Search Make/Model"
              (ngModelChange)="vehcileMM($event)"
              aria-label="vehicle_model"
              #autoCompleteInput
              [matAutocomplete]="autoMakeModel"
              formControlName="vehicle_model"
            />
            <mat-autocomplete
              #autoMakeModel="matAutocomplete"
              [displayWith]="displayMakeModel.bind(this)"
              (optionSelected)="onOptionMMSelected($event)"
            >
              <span *ngIf="mmDataNotAvailable == ''">
                <mat-option
                  *ngFor="let mmData of filteredPopupMMV | async"
                  [value]="mmData"
                >
                  <span>{{ mmData.displayMM }}</span>
                </mat-option>
              </span>
              <span *ngIf="mmDataNotAvailable">
                <mat-option
                  *ngFor="let mmData of filteredPopupMMV | async"
                  [value]="mmData"
                >
                  <span>{{ mmData.rb_blank }} </span>
                </mat-option>
              </span>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <!-- variant dropdown -->
        <div class="col-lg-6 col-md-6 col-12">
          <mat-form-field appearance="outline" class="vehicle-details-dropdown">
            <mat-label>Variant</mat-label>

            <input
              matInput
              placeholder="Search Variant"
              aria-label="vehicle_variant"
              (ngModelChange)="vehcileVariant($event)"
              (focus)="inputClicked()"
              #autoCompleteInput
              [matAutocomplete]="autoVariant"
              formControlName="vehicle_variant"
            />
            <mat-autocomplete
              #autoVariant="matAutocomplete"
              [displayWith]="displayVariant.bind(this)"
              (optionSelected)="onVariantSelected($event)"
            >
              <span *ngIf="variantDataNotAvailable == ''">
                <mat-option
                  *ngFor="let variantData of filteredPopupVariant | async"
                  [value]="variantData"
                >
                  <span>{{ variantData.rb_variant_name }}</span>
                </mat-option>
              </span>
              <span *ngIf="variantDataNotAvailable">
                <mat-option
                  *ngFor="let variantData of filteredPopupVariant | async"
                  [value]="variantData"
                >
                  <span>{{ variantData }}</span>
                </mat-option>
              </span>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <!-- vehicle fuel dropdown -->
        <div class="col-lg-6 col-md-6 col-12">
          <mat-form-field appearance="outline" class="vehicle-details-dropdown">
            <mat-label>Fuel</mat-label>
            <mat-select formControlName="vehicle_fuel">
              <mat-option *ngFor="let fuel of fuelData" [value]="fuel?.fuel">
                {{ fuel?.fuel }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Registration City dropdown -->
        <div class="col-lg-6 col-md-6 col-12">
          <mat-form-field appearance="outline" class="vehicle-details-dropdown">
            <mat-label>Registration City</mat-label>

            <input
              matInput
              placeholder="Search Registration City"
              (ngModelChange)="vehcileRegistration($event)"
              (focus)="inputClicked()"
              aria-label="registration_city"
              #autoCompleteInput
              [matAutocomplete]="autoRegistrationCity"
              formControlName="registration_city"
            />
            <mat-autocomplete
              #autoRegistrationCity="matAutocomplete"
              [displayWith]="displayRegistration.bind(this)"
            >
              <span *ngIf="rtoDataNotAvailable == ''">
                <mat-option
                  *ngFor="let cityData of filteredRtoList | async"
                  [value]="cityData"
                >
                  <span>{{ cityData.display_name }}</span>
                </mat-option>
              </span>
              <span *ngIf="rtoDataNotAvailable">
                <mat-option
                  *ngFor="let cityData of filteredRtoList | async"
                  [value]="cityData"
                >
                  <span>{{ cityData }}</span>
                </mat-option>
              </span>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <!-- Registration Date -->
        <div class="col-lg-6 col-md-6 col-12">
          <app-registration-year></app-registration-year>
        </div>
        <!-- Manufacture Date  -->
        <div class="col-lg-6 col-md-6 col-12">
          <app-manufacture-date
            [customManufactureDate]="'manufacture-date'"
          ></app-manufacture-date>
        </div>
        <!-- Used Car/ RC Transfer dropdown -->
        <div class="col-lg-6 col-md-6 col-12">
          <mat-form-field appearance="outline" class="vehicle-details-dropdown">
            <mat-label>Used Car/ RC Transfer</mat-label>
            <mat-select formControlName="user_car">
              <mat-option *ngFor="let rc of rcList" [value]="rc?.value">
                {{ rc?.rcName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Type of Expiring Policy dropdown -->
        <div class="col-lg-6 col-md-6 col-12">
          <mat-form-field appearance="outline" class="vehicle-details-dropdown">
            <mat-label>Type of Expiring Policy</mat-label>
            <mat-select formControlName="policy_expiry">
              <mat-option
                *ngFor="let expiry of expiryList"
                [value]="expiry?.rb_expiring_policy_type_code"
              >
                {{ expiry?.rb_expiring_policy_type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Expiry -->
        <div class="col-lg-6 col-md-6 col-12">
          <app-policy-expired-date
            [required]="true"
            [policyExpiryDate]="'expiry-date'"
          ></app-policy-expired-date>
        </div>
        <!-- Previous Insurer dropdown -->
        <div class="col-lg-6 col-md-6 col-12">
          <app-previous-insurer
            [required]="true"
            [previousInsurer]="'previous-insurer'"
            [formControlNameData]="'previous_insurer'"
          ></app-previous-insurer>
        </div>
        <!-- Is Previous Policy Claimed dropdown -->
        <div class="col-lg-6 col-md-6 col-12">
          <mat-form-field appearance="outline" class="vehicle-details-dropdown">
            <mat-label>Is Previous Policy Claimed?</mat-label>
            <mat-select
              formControlName="previous_claimed"
              (selectionChange)="claimedPolicy($event)"
            >
              <mat-option
                *ngFor="let claimed of claimedList"
                [value]="claimed?.value"
              >
                {{ claimed?.claimedName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Previous Year NCB Discount dropdown -->
        <div class="col-lg-6 col-md-6 col-12">
          <mat-form-field appearance="outline" class="vehicle-details-dropdown">
            <mat-label>Previous Year NCB Discount</mat-label>
            <mat-select
              formControlName="ncb_discount"
              [disabled]="ncbDiscountData"
            >
              <mat-option *ngFor="let ncb of ncbList" [value]="ncb?.id">
                {{ ncb?.ncbName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-12">
          <button
            mat-button
            class="submit-btn mb-4 vehicle-submission"
            type="submit"
            [disabled]="vehicleDetailsForm.invalid"
          >
            {{ editVehicleDetails ? "Above details are correct" : "Save" }}
          </button>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</form>
