.enter-otp {
  font-size: 16px;
  font-weight: 500;
}
.otp-header {
  font-size: 14px;
  font-weight: 500;
}
.disabled-resent-otp {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
.custom-otp-input {
  ::ng-deep input:focus {
    outline-style: solid !important;
    outline-color: #ffb171 !important;
  }
}
.otp-submission {
  width: 310px;
}
.resend-otp-msg {
  width: 90% !important;
}
.cross-btn {
  display: none;
}
@media screen and (max-width: 768px) {
  .otp-submission {
    width: 100%;
  }
  .resend-otp-msg {
    width: 100% !important;
  }
  .cross-btn {
    display: block;
  }
  ::ng-deep .mat-bottom-sheet-container {
    border-radius: 20px 20px 0px 0px;
  }
}
.cross-btn{
  display: none;
}
@media screen and (max-width: 768px) {
  .otp-submission{
    width: 100%;
}
.resend-otp-msg{
  width: 100% !important;
}
.cross-btn{
  display: block;
}
::ng-deep .mat-bottom-sheet-container{
    border-radius: 20px 20px 0px 0px;
}
}
