<form
  [formGroup]="motorInsuranceTableForm"
  (ngSubmit)="submitMotorInsuranceTable(motorInsuranceTableForm.valid)"
  novalidate
>
  <div class="row mt-3">
    <div class="col-lg-2 col-md-2 col-6">
      <mat-form-field appearance="outline" class="mat-input-custom">
        <mat-label>Renewal Date</mat-label>
        <input
          id-automation="dob"
          matInput
          formControlName="date"
          appOnlyNumbers
          [matDatepicker]="ckyc_dob"
          [min]="minDate"
          [max]="maxDate"
          [matDatepickerFilter]="dateFilter"
          [readonly]="true"
          (click)="ckyc_dob.open()"
          (keyup.enter)="EnterKey($event, ckyc_dob)"
        />
        <mat-datepicker-toggle matSuffix [for]="ckyc_dob"
          ><mat-icon matDatepickerToggleIcon>
            <img
              src="assets/icon/calendar.svg"
              class="cursor-pointer mb-2"
              alt="calendar"
            />
          </mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker
          #ckyc_dob
          id-automation="datepickerCkycDOB"
          startView="multi-year"
        ></mat-datepicker>
        <mat-error> This is a required field. </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-2 col-md-2 col-6">
      <!-- <mat-form-field appearance="outline" class="mat-input-custom">
        <mat-label>Insurer</mat-label>

        <input
          matInput
          type="text"
          formControlName="policy_insurer"
          [matAutocomplete]="auto"
          (input)="filterInsurer($event)"
          placeholder="Search insurer"
        />

        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selectInsurer($event)"
        >
          <mat-option
            *ngFor="let insurer of filteredInsurers"
            [value]="insurer.rb_insurer_name"
          >
            {{ insurer.rb_insurer_name }}
          </mat-option>

          <mat-option *ngIf="filteredInsurers.length === 0" disabled>
            No insurer found
          </mat-option>
        </mat-autocomplete>

        <mat-error>This is a required field.</mat-error>
      </mat-form-field> -->
      <app-previous-insurer
        [previousInsurer]="'previous-insurer'"
        [label]="'Search Insurer'"
        [formControlNameData]="'previous_insurer'"
        (responseEvent)="previousInsurerComponentResponse($event)"
      ></app-previous-insurer>
    </div>
    <div class="col-lg-2 col-md-2 col-6">
      <mat-form-field appearance="outline" class="mat-input-custom">
        <mat-label>Vehicle Type</mat-label>
        <mat-select
          formControlName="vehicle_type"
          (selectionChange)="onVehicleTypeChange()"
        >
          <mat-option
            [value]="vehicle?.id"
            *ngFor="let vehicle of vehcileType"
            >{{ vehicle?.value }}</mat-option
          >
        </mat-select>
        <mat-error> This is a required field. </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-2 col-md-2 col-6">
      <mat-form-field appearance="outline" class="mat-input-custom">
        <mat-label>Policy Number</mat-label>
        <input
          matInput
          formControlName="policy_number"
          class="text-uppercase"
          id-automation="policy_number"
          appNoMaskedValue
        />
      </mat-form-field>
    </div>
    <div class="col-lg-2 col-md-2 col-6">
      <div class="combined-icon-box gap-5">
        <!-- Search Icon -->
        <div class="tooltip-wrapper mx-3">
          <button type="submit" class="icon-btn search-icon">
            <img src="/assets/icon/icons8-search.svg" alt="search" />
          </button>
          <span class="tooltip-text">Search</span>
        </div>

        <!-- Border Divider -->
        <div class="divider"></div>

        <!-- Reset Icon -->
        <div class="tooltip-wrapper">
          <button
            type="button"
            class="icon-btn search-icon"
            (click)="resetForm()"
          >
            <img src="/assets/icon/reset2.svg" alt="reset" />
          </button>
          <span class="tooltip-text">Reset</span>
        </div>
      </div>
    </div>

    <!-- <div class="col-lg-2 col-md-2 col-6">
      <button
        class="submit-btn owner-vehicle-submission"
        type="button"
        (click)="resetForm()"
        [disabled]="!isAnyFieldFilled"
      >
        Reset
      </button>
    </div> -->
    <div class="col-lg-2 col-md-2 col-6">
      <button
        class="submit-btn owner-vehicle-submission"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="getRenewalInsights()"
      >
        <img
          src="/assets/gif/button-loader.gif"
          alt="close"
          class="loader me-1"
          *ngIf="isLoader"
        />
        View Insights
      </button>
    </div>
  </div>
  <!-- <div class="row d-flex justify-content-end mt-3">
    
  </div> -->
  <!-- <div class="row d-flex justify-content-center"></div> -->
  <div class="row mt-3">
    <div class="table-container">
      <div *ngIf="loader" class="text-center py-4">
        <div
          class="spinner-border text-primary"
          role="status"
          style="width: 3rem; height: 3rem"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
        <p class="mt-2">Fetching data, please wait...</p>
      </div>

      <!-- ❌ Error State -->
      <div
        *ngIf="!loader && errorMessage"
        class="alert alert-danger text-center my-3"
        role="alert"
      >
        {{ errorMessage }}
      </div>
      <div *ngIf="!loader && !errorMessage && dataSource.data.length > 0">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- Policy No -->
          <ng-container matColumnDef="policyNo">
            <th mat-header-cell *matHeaderCellDef>Policy No.</th>
            <td mat-cell *matCellDef="let element">{{ element.policyNo }}</td>
          </ng-container>

          <!-- Policy End Date -->
          <ng-container matColumnDef="policyEndDate">
            <th mat-header-cell *matHeaderCellDef>Policy end date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.policyEndDate }}
            </td>
          </ng-container>

          <!-- Previous Insurer -->
          <ng-container matColumnDef="previousInsurer">
            <th mat-header-cell *matHeaderCellDef>Previous Insurer</th>
            <td mat-cell *matCellDef="let element">
              {{ element.previousInsurer }}
            </td>
          </ng-container>

          <!-- product Id -->
          <ng-container matColumnDef="productId">
            <th mat-header-cell *matHeaderCellDef>Product Id</th>
            <td mat-cell *matCellDef="let element">
              {{ element.productId }}
            </td>
          </ng-container>

          <!-- vehicle type -->
          <ng-container matColumnDef="vehicleType">
            <th mat-header-cell *matHeaderCellDef>Vehicle Type</th>
            <td mat-cell *matCellDef="let element">
              {{ element.vehicleType }}
            </td>
          </ng-container>

          <!-- Premium -->
          <ng-container matColumnDef="Premium">
            <th mat-header-cell *matHeaderCellDef>Premium</th>
            <td mat-cell *matCellDef="let element">
              {{ element.premium || "-" }}
            </td>
          </ng-container>

          <!-- Total Insurer Quote -->
          <ng-container matColumnDef="totalInsurerQuote">
            <!-- enable mat-sort-header and disable clearing so clicks toggle asc/desc only -->
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header="totalInsurerQuote"
              (click)="handleSort('totalInsurerQuote')"
              disableClear
            >
              Total Insurer Quote
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="hover-menu-wrapper">
                <p mat-button class="text-primary">
                  {{ element.totalInsurerQuote }}
                </p>
                <div class="hover-dropdown">
                  <p
                    class="mat-option-style"
                    *ngFor="let quote of element.insurerQuotes"
                  >
                    {{ quote }}
                  </p>
                </div>
              </div>
            </td>
          </ng-container>

          <!-- Renewal Quote -->
          <ng-container matColumnDef="renewalQuote">
            <th mat-header-cell *matHeaderCellDef>Renewal Quote</th>
            <td mat-cell *matCellDef="let element">
              <img
                *ngIf="element.renewalQuote"
                src="/assets/icon/insurer-key-feature.svg"
                alt="True"
                class="status-icon"
              />
              <img
                *ngIf="!element.renewalQuote"
                src="/assets/icon/quotes_cross.svg"
                alt="False"
                class="status-icon"
              />
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <mat-paginator
        [length]="totalItems"
        [pageSize]="uiPageSize"
        [pageSizeOptions]="[20, 50, 100]"
      ></mat-paginator>
    </div>
  </div>
</form>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Insurer Wise Renewal Insights
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive table-modal">
          <table
            class="table table-bordered table-striped text-center align-middle"
          >
            <thead>
              <tr>
                <th>Insurer Name</th>
                <th>Total Policy Number</th>
                <th>Renewal Quote Success %</th>
                <th>Renewal Quote Failure %</th>
              </tr>
            </thead>

            <tbody class="modalTable">
              <tr *ngFor="let item of renewalInsights">
                <td>{{ item.insurerName }}</td>
                <td>{{ item.totalPolicyNumber }}</td>
                <td>{{ item.successRenewalQuote }}</td>
                <td>{{ item.failureRenewalPercent }}%</td>
              </tr>

              <tr *ngIf="renewalInsights?.length === 0">
                <td colspan="4" class="text-center text-muted py-3">
                  No data available
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
