<div class="payment-success p-2" *ngIf="paymentSuccess">
  <div class="row">
    <div class="col-lg-6 col-12 text-center mt-2">
      <img
      src="/assets/icon/payment-success.svg"
      alt=""
      class="inspection-image"
    />
    </div>
    <!-- <br /> -->
    <div class="col-lg-6 col-12 text-center mt-3">
      <span class="congratulations-text mt-4">Congratulations!</span><br />
    <div class="sub-text mt-2" *ngIf="!paymentPendingCase">
      Your generated <span class="blue-text">Policy Number</span> is
      <span class="blue-text">{{ policyNumber }}</span
      >.<br class="next-line" />
      It’ll be sent to your registered email address shortly.
    </div>
    <div class="sub-text mt-2" *ngIf="paymentPendingCase">
      Your policy number will be generated in 48-72 hours
    </div>
    <br />

    <div class="sub-text">
      In case of any further requirements, please contact us at
      <br class="next-line" />
      <span class="black-color">customersupport@renewbuy.com</span> or call us
      at <span class="black-color">18004197852</span>
    </div>
    <br />
    <div class="sub-text" *ngIf="!paymentPendingCase">
      If download doesn’t start automatically then
      <span class="blue-text cursor-pointer" (click)="downloadPolicy()"
        >Click Here</span
      >
    </div>
    <div class="mt-3 mb-3">
      <button
        class="submit-btn homepage-btn"
        type="submit"
        (click)="goTohome()"
      >
        Go to Homepage
      </button>
    </div>
    </div>
    
  </div>
</div>
<div class="payment-failure p-5" *ngIf="!paymentSuccess">
  <div class="row">
    <div class="col-lg-6 col-12 text-center pt-5">

    <img
      src="/assets/icon/payment-failure.svg"
      alt=""
      class="inspection-image"
    /><br />
  </div>
  <div class="col-lg-6 col-12 text-center">

    <div class="opps-text mt-3">Oops!</div>
    <div class="non-successfull-text mt-2">
      Your transaction was unsuccessful
    </div>

    <div class="sub-text mt-2">
      Your <span class="blue-text">Proposal Number</span> is
      <span class="blue-text">{{ proposalNumber }}</span>
    </div>
    <div class="sub-text mt-2">
      Process could not be completed, please ensure the information you provided
      is correct.
    </div>

    <div class="sub-text mt-2">
      In case of any further requirements, please contact us at
      <br class="next-line" />
      <span class="black-color">customersupport@renewbuy.com</span> or call us
      at <span class="black-color">18004197852</span>
    </div>
    <br />
    <div class="sub-text">
      If download doesn’t start automatically then
      <span class="blue-text">Click Here</span>
    </div>
    <div class="mt-3">
      <button class="submit-btn homepage-btn" type="submit" (click)="retryPayment()">
        Retry Payment
      </button>
    </div>
    <div class="homepage-text mt-3" (click)="goTohome()">
      <a>Go to Homepage</a>
    </div> 
  </div>
  </div>
</div>
