.payment-success {
  .congratulations-text {
    font-size: 18px;
    font-weight: 600;
    color: #47be88;
  }
  .sub-text {
    font-size: 14px;
    font-weight: 400;
    color: #282828;
    .blue-text {
      color: #5384ea;
      font-weight: 600;
    }
    .black-color {
      font-weight: 600;
    }
  }
  .homepage-btn {
    width: 280px;
    height: 40px;
    border-radius: 32px;
  }
}
.failure-image{
  width: 100%;
}
.payment-failure {
  .opps-text {
    font-size: 18px;
    font-weight: 600;
    color: #f64140;
  }
  .non-successfull-text {
    font-size: 16px;
    font-weight: 500;
    color: #f64140;
  }
  .sub-text {
    font-size: 14px;
    font-weight: 400;
    color: #282828;
    .blue-text {
      color: #5384ea;
      font-weight: 600;
    }
    .black-color {
      font-weight: 600;
    }
  }
  .homepage-btn {
    width: 280px;
    height: 40px;
    border-radius: 32px;
  }
  .homepage-text {
    font-size: 14px;
    font-weight: 600;
    color: #5384ea;
    text-decoration: underline;
    cursor: pointer;
  }
}
.responsive-data{
  display: none;
}
.cse{
  font-size: 14px;
  font-weight: 600;
  color: #282828;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 999px) {
  .payment-success {
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #eaeaea;
    margin: 15px;
    .next-line {
      display: none;
    }
  }
  .payment-failure {
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #eaeaea;
    margin: 15px;
    .next-line {
      display: none;
    }
  }
  .homepage-btn {
    width: 100% !important;
  }
  .responsive-data{
    display: block;
  }
}
