.all-vehicle {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  .two-wheeler {
    text-align: center;
  }
  .vehicleTypeSelected {
    border-radius: 20px;
  }
  .vehicle-card {
    padding: 25px 18px 25px 18px;
    border-radius: 20px;
    .vehicle-name {
      font-size: 13px;
      font-weight: 500;
      color: #535353;
      text-decoration: none;
      margin-top: 0.5rem!important;
    }
  }
}
.comming-soon{
  margin-left: -55px;
  margin-top: -22px;
  width: 57px;
}
@media screen and (max-width: 361px) {
  .all-vehicle {
    padding-right: 20px;
  }
}

@media screen and (max-width: 999px) {
  .vehicle-card {
    display: table-caption;
  }
  .vehicle-name {
    margin-left: 0px !important;
  }
  .vehicle-image{
    margin-bottom: 10px;
  }
  .comming-soon{
    margin-left: 51px;
    margin-top: -253px;
    width: 70px;
}
}
