<div class="all-vehicle mt-4">
  <div
    class="two-wheeler cursor-pointer ms-4"
    *ngFor="let vehicle of vehicleTypeListData.vehicleTypeList"
    (click)="selectVehicle(vehicle)"
  >
    <span
      class="vehicle-card"
      [style.backgroundColor]="vehicle?.backgroundColor"
      [style.border]="
        selectedVehicleType === vehicle
          ? '1px solid ' + vehicle?.borderColor
          : 'none'
      "
      [ngClass]="{ vehicleTypeSelected: selectedVehicleType === vehicle }"
    >
      <img
        src="{{ vehicle?.imageUrl }}"
        alt="{{ vehicle?.imageInformation }}"
      /><span class="vehicle-name ms-3 mt-2">{{ vehicle?.optionName }}</span>
    </span>
  </div>
</div>
