.all-vehicle {
  display: flex;
  justify-content: center;
  .two-wheeler {
    text-align: center;
  }
  .vehicleTypeSelected {
    border-radius: 20px;
  }
  .vehicle-card {
    padding: 25px 18px 25px 18px;
    border-radius: 20px;
    .vehicle-name {
      font-size: 13px;
      font-weight: 500;
      color: #535353;
      text-decoration: none;
    }
  }
}
@media screen and (max-width: 361px) {
  .all-vehicle {
    padding-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .vehicle-card {
    display: table-caption;
  }
  .vehicle-name {
    margin-left: 0px !important;
  }
}
