<div class="row p-2 insurer-details">
  <div class="col-lg-12 col-md-12 d-flex gap-2 mt-3">
    <img [src]="quoteData?.insurer_logo" alt="" class="logo" />
    <div class="insurer-title">
      <p class="insurer-header m-0 p-0">{{ quoteData?.insurer_name || "-" }}</p>
      <div *ngIf="showInsurerButton">
        <button type="button" class="edit-button" (click)="changeInsurer()">
          <img src="/assets/icon/edit.svg" alt="" class="edit-image" />
          Change Insurer
        </button>
      </div>
    </div>
  </div>
  <div
    class="col-lg-12 col-md-12 vehicle-details mt-3"
    [ngClass]="
      vehicleTypeValue == 'private_car' ? 'private-car-bg' : 'two-wheeler-bg'
    "
  >
    <div class="d-flex">
      <img
        src="/assets/icon/four-wheeler.svg"
        alt=""
        class="vehicle-icon"
        *ngIf="vehicleTypeValue == 'private_car'"
      />
      <img
        src="/assets/icon/two-wheeler-icon.svg"
        alt=""
        class="vehicle-icon"
        *ngIf="vehicleTypeValue == 'two_wheeler'"
      />
      <p class="pt-3">
        {{ mmvData?.vehicle_variant?.rb_make_name | titlecase }}
        {{ mmvData?.vehicle_variant?.rb_model_name | titlecase }}
        {{ mmvData?.vehicle_variant?.rb_variant_name | titlecase }},
        {{ mmvData?.vehicle_variant?.cubic_capacity }}cc,
        {{ mmvData?.vehicle_variant?.fuel | titlecase }} ,
        {{ mmvData?.registration_city?.display_name | titlecase }}
      </p>
    </div>
    <!-- <div class="d-flex" *ngIf="mmvItem">
      <img
        src="/assets/icon/four-wheeler.svg"
        alt=""
        class="vehicle-icon"
        *ngIf="vehicleTypeValue == 'private_car'"
      />
      <img
        src="/assets/icon/two-wheeler-icon.svg"
        alt=""
        class="vehicle-icon"
        *ngIf="vehicleTypeValue == 'two_wheeler'"
      />
      <p class="pt-3">
        {{ this.mmvItem?.[0]?.rb_make_name }}
        {{ this.mmvItem?.[0]?.rb_model_name }}
        {{ this.mmvItem?.[0]?.rb_variant_name }},
        {{ this.mmvItem?.[0]?.cubic_capacity }}cc, {{ this.mmvItem?.[0]?.fuel }},
        {{
          this.redirectInsurerData?.customer_details?.communication_address
            ?.rb_city_name
        }}
      </p>
    </div> -->
  </div>

  <div class="col-lg-12 col-md-12 plan-details mt-3">
    <div>
      <div class="d-flex justify-content-between">
        <span class="plan-type">Plan & Policy Type</span>
        <span
          class="plan-type"
          *ngIf="
            productType !== 'bundled_tp' &&
            productType !== 'satp' &&
            mmvData?.policy_expiry !== 'bundled_tp' &&
            mmvData?.policy_expiry !== 'satp'
          "
          >Total IDV</span
        >
      </div>
      <div class="d-flex justify-content-between mt-2">
        <span class="anunual-commericial">{{
          planType?.name | titlecase
        }}</span>
        <span
          class="plan-type"
          *ngIf="
            productType !== 'bundled_tp' &&
            productType !== 'satp' &&
            mmvData?.policy_expiry !== 'bundled_tp' &&
            mmvData?.policy_expiry !== 'satp'
          "
        >
          &#x20B9;{{
            quoteData?.premium_details?.idv != 0
              ? (quoteData?.premium_details?.idv | number : "2.")
              : 0
          }}
        </span>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 policy policy">
    <div class="d-flex justify-content-between mt-2">
      <span class="plan-type od-name">Total Own Damage(A)</span>
      <span class="plan-type">
        &#x20B9;
        {{
          quoteData?.premium_details?.od_premium_details?.total_od_premium != 0
            ? (quoteData?.premium_details?.od_premium_details?.total_od_premium
              | number : "2.")
            : 0
        }}
      </span>
    </div>
    <!-- <div class="d-flex justify-content-between mt-2">
      <p class="od-value od-name">Basic Own Damage</p>
      <p class="od-value">
        &#x20B9;
        {{
          quoteData?.premium_details?.od_premium_details?.basic_od_premium
            | number : "2."
        }}
      </p>
    </div> -->
    <div
      class="d-flex justify-content-between mt-2"
      *ngIf="!mmvParseData?.previous_claimed"
    >
      <span class="od-value od-name">NCB Discount</span>
      <span class="od-value">
        <span
          *ngIf="
            quoteData?.premium_details?.od_premium_details?.ncb_discount != 0
          "
          >-</span
        >
        &#8377;
        {{
          quoteData?.premium_details?.od_premium_details?.ncb_discount < 0
            ? (-quoteData?.premium_details?.od_premium_details?.ncb_discount
              | number : "2.")
            : (quoteData?.premium_details?.od_premium_details?.ncb_discount
              | number : "1.")
        }}</span
      >
    </div>
    <!-- <div class="d-flex justify-content-between mt-2">
      <p class="od-value od-name">Own Damage Discount</p>
      <p class="od-value">
        &#x20B9;
        {{
          quoteData?.premium_details?.od_premium_details?.od_discount
            | number : "2."
        }}
      </p>
    </div> -->
  </div>

  <div class="col-lg-12 col-md-12 policy">
    <div class="d-flex justify-content-between mt-2">
      <span class="plan-type od-name">Third Party(B)</span>
      <span class="plan-type">
        &#x20B9;
        {{
          quoteData?.premium_details?.tp_premium_details?.total_tp_premium != 0
            ? (quoteData?.premium_details?.tp_premium_details?.total_tp_premium
              | number : "2.")
            : 0
        }}
      </span>
    </div>
    <!-- <div class="d-flex justify-content-between mt-2">
      <p class="od-value od-name">Basic Third Party</p>
      <p class="od-value">
        &#x20B9;
        {{
          quoteData?.premium_details?.tp_premium_details?.basic_tp_premium
           | number : "2."
        }}
      </p>
    </div> -->
  </div>

  <div class="col-lg-12 col-md-12 policy">
    <div class="d-flex justify-content-between mt-2">
      <span class="plan-type d-grid"
        >Total Addons
        {{ quoteData.premium_details?.is_addon_addition ? "(D)" : ""
        }}<span class="included-text">(included with OD & TP)</span></span
      >
      <span class="plan-type"
        >&#x20B9;
        <!-- {{
          quoteData?.premium_details?.total_addon_premium | number : "2."
        }} -->
        {{
          quoteData?.premium_details?.total_addon_premium !== 0
            ? (quoteData?.premium_details?.total_addon_premium | number : "2.")
            : 0
        }}
      </span>
    </div>
    <div class="mt-2" *ngFor="let addons of addonsList">
      <div
        class="d-flex justify-content-between mt-1 w-100"
        *ngIf="
          addons.add_on_code != 'CPA' ||
          addons.add_on_code != 'CPA3' ||
          addons.add_on_code != 'CPA5'
        "
      >
        <span class="od-value od-name" *ngIf="addons.is_offered">{{
          addons.add_on_name | titlecase
        }}</span>
        <span
          class="od-value"
          *ngIf="addons.is_offered"
          [hidden]="addons?.is_offered && addons?.add_on_premium == 0"
          >&#x20B9; {{ addons.add_on_premium }}</span
        >
        <span
          *ngIf="addons?.is_offered && addons?.add_on_premium == 0"
          class="included"
          >Included</span
        >
      </div>
    </div>
  </div>
  <!-- <div class="col-12 policy" *ngIf="!reviewURL">
    <div class="d-flex justify-content-between mt-2">
      <section class="my-2 d-grid cpa-cover-section">
        <mat-checkbox
          id-automation="cpa_cover"
          [checked]="
            quoteData?.premium_details?.addon_premium_details[0]
              ?.add_on_name === 'Compulsory Personal Accident'
          "
          (change)="onCpaChange($event)"
        >
          <span class="cpa-cover-section"
            >Add CPA cover
            <img
              src="/assets/icon/cpa-hover.svg"
              (mouseenter)="showCard = true"
              (mouseleave)="showCard = false"
              alt=""
              class="cpa-hover-image"
            />
          </span>
        </mat-checkbox>
      </section>
    </div>
    <div class="d-flex justify-content-end">
      <div class="card-popup" *ngIf="showCard">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <div class="cover-tag-text">Personal Accident Cover</div>
                <div class="cover-content-text">
                  Cover of 15 Lakh in the event of vehicle owner's death or
                  disability.
                </div>

                <div class="increase-total-premium">
                  *adding CPA will increase total premium
                </div>
              </div>

              <div class="col-4">
                <img src="/assets/icon/cpa-cover.svg" class="cpa-cover-image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="col-12 policy">
    <div class="d-flex justify-content-between mt-2">
      <p class="plan-type">GST (18%)(C)</p>
      <p class="plan-type">
        &#x20B9;
        {{
          quoteData?.premium_details?.total_gst != 0
            ? (quoteData?.premium_details?.total_gst | number : "2.")
            : 0
        }}
      </p>
    </div>
  </div>

  <div class="col-12 premium-details text-center">
    <p class="total-premium">Total Premium Payable</p>
    <span class="total-amount"
      >&#x20B9;
      {{
        quoteData?.premium_details?.gross_premium != 0
          ? (quoteData?.premium_details?.gross_premium | number : "2.")
          : 0
      }}</span
    >
  </div>
  <button
    *ngIf="!reviewURL && downloadButtonShow"
    type="button"
    class="download-button mt-3"
    id-automation="download_underwriting"
    (click)="downloadUnderwritingUrl()"
  >
    <img src="/assets/icon/download.svg" alt="" class="edit-image" />
    Download Policy Underwriting
  </button>
  <div class="d-flex share-download-btn" *ngIf="reviewURL">
    <button
      type="button"
      class="share-button mt-3 me-2"
      id-automation="share_underwriting"
      (click)="openShareModal()"
    >
      <img src="/assets/icon/share.svg" alt="" class="edit-image" />
      Share
    </button>
    <button
      type="button"
      class="download-button mt-3"
      id-automation="download_underwriting"
      (click)="downloadPremiumBreakup()"
      *ngIf="!downloadLoader"
    >
      <img src="/assets/icon/download.svg" alt="" class="edit-image" />
      Download
    </button>
    <div class="download-button text-center mt-3" *ngIf="downloadLoader">
      <img class="loader" src="assets/gif/downloadLoader.gif" alt="" />
    </div>
  </div>
</div>
<div class="res-insurance-details">
  <div class="details-card p-2 mt-2 ps-4 pe-4">
    <div class="d-flex justify-content-between">
      <div>
        <img
          [src]="quoteData?.insurer_logo"
          alt=""
          width="100"
          height="60"
          class="pb-3"
        />
      </div>
      <div class="mt-2">
        <span class="plan-text">Total IDV</span><br />
        <span class="plan-value"
          >&#x20B9;{{ quoteData?.premium_details?.idv | number : "2." }}</span
        >
      </div>
      <div class="mt-2">
        <span class="plan-text">Total Premium</span><br />
        <span class="plan-value"
          >&#x20B9;
          {{
            defaultGST
              ? (quoteData?.premium_details?.gross_premium | number : "2.")
              : (quoteData?.premium_details?.net_premium | number : "2.")
          }}</span
        >
      </div>
    </div>
  </div>
  <div class="view-less ps-3 pe-3">
    <div class="row">
      <div class="col-6 text-start">
        <span
          class="d-flex justify-content-between"
          (click)="changeInsurer()"
          id-automation="change_insurer"
          >Change Insurer
          <div class="pipe">|</div></span
        >
      </div>
      <div class="col-6 text-end">
        <span (click)="premiumBreakup(quoteData)">Premium Breakup</span>
      </div>
    </div>
  </div>
</div>
