<div class="row m-auto p-4 insurer-details">
  <div class="col-12 d-flex">
      <img src="/assets/images/hdfc.svg" alt="" />
    <div class="mx-4">
      <p class="insurer-header m-0 p-0">HDFC ERGO General Insurance</p>
      <div>
        <button type="button" class="edit-button">
          <img src="/assets/icon/edit.svg" alt="" class="edit-image" />
          Change Insurer
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 vehicle-details mt-3">
    <div class="d-flex">
      <img src="/assets/icon/four-wheeler.svg" alt="" class="vehicle-icon" />
      <p class="pt-3">Maruti Ciaz Alpha, Petrol, UP14 Ghaziabad</p>
    </div>
  </div>

  <div class="col-12 plan-details mt-3">
    <div class="mt-3">
      <div class="d-flex justify-content-between">
        <p class="plan-type">Plan & Policy Type</p>
        <p class="plan-type">Total IDV</p>
      </div>
      <div class="d-flex justify-content-between mt-2">
        <p class="anunual-commericial">Comprehensive- Annual</p>
        <p class="plan-type">6,00,000</p>
      </div>
    </div>
  </div>
  <div class="col-12 mt-3 policy policy">
    <div class="d-flex justify-content-between mt-2">
      <p class="plan-type">Own Damage</p>
      <p class="plan-type">&#x20B9; 2,456</p>
    </div>
    <div class="d-flex justify-content-between mt-2">
      <p>Basic Own Damage</p>
      <p>&#x20B9; 14,456</p>
    </div>
    <div class="d-flex justify-content-between mt-2">
      <p>NCB Discount (20%)</p>
      <p>&#x20B9; 637</p>
    </div>
    <div class="d-flex justify-content-between mt-2">
      <p>Own Damage Discount</p>
      <p>&#x20B9; 10,000</p>
    </div>
  </div>

  <div class="col-12 mt-3 policy">
    <div class="d-flex justify-content-between mt-2">
      <p class="plan-type">Third Party</p>
      <p class="plan-type">&#x20B9; 3,416</p>
    </div>
    <div class="d-flex justify-content-between mt-2">
      <p>Basic Third Party</p>
      <p>&#x20B9; 3,416</p>
    </div>
  </div>

  <div class="col-12 mt-3 policy">
    <div class="d-flex justify-content-between mt-2">
      <p class="plan-type">Addons</p>
      <p class="plan-type">&#x20B9; 416</p>
    </div>
    <div class="d-flex justify-content-between mt-2">
      <p>Zero Depreciation</p>
      <p>&#x20B9; 416</p>
    </div>
  </div>

  <div class="col-12 mt-3 policy">
    <div class="d-flex justify-content-between mt-2">
      <p class="plan-type">GST (18%)</p>
      <p class="plan-type">&#x20B9; 4,444</p>
    </div>
  </div>

  <div class="col-12 premium-details mt-3 text-center">
    <p class="total-premium">Total Premium Payable</p>
    <p class="total-amount">&#x20B9; 24,000</p>
  </div>

  <div class="col-12 mt-3">
    <div class="d-flex justify-content-between">
      <button type="button" class="edit-button" (click)="openShareModal()">
        <img src="/assets/icon/share.svg" alt="" class="edit-image" />
        Share
      </button>
      <button type="button" class="download-button">
        <img src="/assets/icon/download.svg" alt="" class="edit-image" />
        Download
      </button>
    </div>
  </div>
</div>
