.insurer-header {
  font-size: 14px;
  font-weight: 500;
  text-wrap: balance;
  color: #666666;
 
}
.logo{
  width: 80px;
  height: 50px;
}
.edit-button {
  background-color: #f5f8fe;
  color: #5384ea;
  font-size: 12px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  width: 100%;
  padding: 8px;
}
.edit-image {
  padding-right: 4px;
}
.insurer-details {
  border: 1px solid #d6d6d6;
  border-radius: 14px;
}
.vehicle-icon {
  padding-right: 20px;
}
.vehicle-details {
  background-color: rgba(40, 184, 226, 0.0901960784);
  color: #282828;
  font-size: 14px;
  border-radius: 14px;
  font-weight: 500;
}
.plan-details {
  background: rgba(83, 132, 234, 0.0901960784);
  color: #282828;
  border-radius: 14px;
  line-height: 0;
  padding: 10px;
}
.plan-type {
  font-size: 14px;
  font-weight: 600;
}
.total-premium {
  color: #5384ea;
  font-size: 16px;
  font-weight: 600;
}
.total-amount {
  font-size: 20px;
  font-weight: 600;
  color: #5384ea;
}

.premium-details {
  background: rgba(83, 132, 234, 0.0901960784);
  border-radius: 14px;
  line-height: 1;
  padding: 14px;
}

.download-button {
  background-color: #47be8838;
  color: #47be88;
  font-size: 12px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  width: 100%;
  padding: 10px;
}

.anunual-commericial {
  font-size: 14px;
  font-weight: 400;
}
.policy {
  line-height: 0;
}
.share-download-btn{
  padding: 0;
  .share-button{
    background-color: rgba(83, 132, 234, 0.0901960784);
    color: #5384EA;
    font-size: 12px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    width: 100%;
    padding: 10px;
  }
}

.res-insurance-details {
  display: none;
}
@media screen and (max-width: 999px) {
  .insurer-details {
    display: none;
  }
  .res-insurance-details {
    display: block;

    .details-card {
      background-color: #fff;
      border-radius: 16px;
      border: 1px solid #eaeaea;
      .plan-text {
        font-size: 11px;
        font-weight: 600;
        color: #282828;
        opacity: 50%;
      }
      .plan-value {
        font-size: 12px;
        font-weight: 600;
        color: #282828;
      }
    }

    .view-less {
      border-radius: 0px 0px 16px 16px;
      border: 1px solid #f5f8fe;
      background-color: #f5f8fe;
      color: #5384ea;
      font-size: 11px;
      font-weight: 600;
      padding: 5px 0px 5px 0px;
      margin-top: -15px;
      cursor: pointer;
      .pipe {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        min-height: 10%;
        font-weight: 500 !important;
        font-size: -webkit-xx-large;
      }
    }
  }
}
.od-value {
  font-size: 14px;
  font-weight: 400;
}
.cpa-cover-section {
  font-size: 12px !important;
  font-weight: 600 !important;
  color: #282828 !important;
}
.cover-content-text {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  opacity: 50%;
  color: #282828;
}
.cover-tag-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 14.63px;
}


.increase-total-premium {
  font-size: 10px;
  font-weight: 400;
  color: #282828;
  line-height: 12.19px;

}
.card-popup {
  .card {
    box-shadow: 0 0 7px rgb(0 0 0 / 23%);
    border-radius: 16px;
  }
  position: absolute;
  bottom: 15%;
  left: 15%;
  width: 22%;
  z-index: 9999;
}
.cpa-cover-image {
  width: 100%;
}
