<mat-form-field appearance="outline" [class]="policyExpiryDate">
  <mat-label>Select Policy Expiry Date</mat-label>
  <input
    matInput
    [matDatepicker]="expiryDate"
    placeholder="policy expiry date"
    [formControlName]="formControlNameData"
    id-automation="policy_expiry_date"
    #policyExpiryDateInput
    appDateFormat
    [readonly]="true"
    [min]="minDate"
    [max]="maxDate"
    (click)="expiryDate.open()"
  />
  <mat-datepicker-toggle matSuffix [for]="expiryDate"></mat-datepicker-toggle>
  <mat-datepicker
    #expiryDate
    (opened)="onOpen()"
    id-automation="date_picker_expiry_date_id"
  ></mat-datepicker>
</mat-form-field>
<div class="text-center" #datepickerFooter>
  <p
    class="text-orange datepicker-text cursor-pointer"
    (click)="previousExpiryDate()"
    #doneButton
    *ngIf="isDatepickerOpen"
  >
    I don't know the previous policy details
  </p>
</div>
