<mat-form-field appearance="outline" [class]="policyExpiryDate">
  <mat-label>Select Policy Expired Date</mat-label>
  <input
    matInput
    [matDatepicker]="expiryDate"
    placeholder="policy expiry date"
    formControlName="policy_expiry_date"
    id-automation="policy_expiry_date"
    id-automation="expiryDateId"
    #policyExpiryDateInput
  />
  <mat-datepicker-toggle matSuffix [for]="expiryDate"></mat-datepicker-toggle>
  <mat-datepicker #expiryDate (opened)="onOpen()"></mat-datepicker>
</mat-form-field>
<div class="datepicker-footer">
  <div class="datepicker-footer" #datepickerFooter>
    <p
      class="text-orange datepicker-text cursor-pointer"
      (click)="previousExpiryDate()"
      #doneButton
      *ngIf="isDatepickerOpen"
    >
      I don't know the previous policy details
    </p>
  </div>
</div>
