<mat-form-field
  appearance="outline"
  [class]="policyExpiryDate"
  [ngClass]="{
    isExpiryDate: isExpiryDateDisbaled
  }"
>
  <mat-label>Select Policy Expiry Date</mat-label>
  <input
    matInput
    [matDatepicker]="expiryDate"
    [formControlName]="formControlNameData"
    id-automation="policy_expiry_date"
    #policyExpiryDateInput
    appDateFormat
    [readonly]="true"
    [min]="minDate"
    [max]="maxDate"
    (click)="expiryDate.open()"
    (keyup.enter)="EnterKey($event)"
    [disabled]="isExpiryDateDisbaled"
  />
  <mat-datepicker-toggle matSuffix [for]="expiryDate">
    <mat-icon matDatepickerToggleIcon>
      <img
        src="/assets/icon/calendar.svg"
        class="cursor-pointer mb-2"
        alt="calendar"
      />
    </mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker
    #expiryDate
    (opened)="onOpen()"
    id-automation="date_picker_expiry_date_id"
  ></mat-datepicker>
  <mat-error *ngIf="form.controls[formControlNameData]?.hasError('required')">
    This is a required field.
  </mat-error>
</mat-form-field>
<div class="text-center" #datepickerFooter>
  <p
    class="text-orange datepicker-text cursor-pointer"
    (click)="previousExpiryDate()"
    #doneButton
    *ngIf="isDatepickerOpen"
  >
    I don't know the previous policy details
  </p>
</div>
