.expiry-date {
  ::ng-deep {
    .mat-form-field-infix {
      width: 260px !important;
    }
    .mat-form-field-label-wrapper{
      left: 10px;
    }
  }
}
.proposal-expiry-date {
  ::ng-deep {
    .mat-form-field-infix {
      width: 315px !important;
    }
  }
}
::ng-deep .mat-datepicker-actions {
  justify-content: center !important;
}

.datepicker-text {
  font-size: 12px;
  font-weight: 500;
}
.datepicker-footer{
  position: absolute;
  bottom: 4px;
  left: 20px;
}
