<form
  [formGroup]="owenerVehicleDetailsForm"
  (ngSubmit)="getVehicleDetails(owenerVehicleDetailsForm.valid)"
  novalidate
>
  <div class="row mt-3">
    <div class="col-lg-4 col-md-4 col-12">
      <mat-form-field appearance="outline" class="mat-input-custom">
        <mat-label class="proposal-header">Salutation Type</mat-label>
        <mat-select formControlName="ownner_salutation_type">
          <mat-option
            *ngFor="let salutation of salutationList"
            [value]="salutation?.rb_salutation"
          >
            {{ salutation?.rb_salutation }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4 col-12">
      <app-owner-full-name
        [required]="true"
        [formControlNameData]="'owner_full_Name'"
        [label]="proposalBaseOwner"
        [readonly]="vehicleOwnerName"
      ></app-owner-full-name>
    </div>
    <div class="col-lg-4 col-md-4 col-12">
      <app-owner-contact [required]="true"></app-owner-contact>
    </div>
    <div class="col-lg-4 col-md-4 col-12">
      <app-owner-email [required]="true"></app-owner-email>
    </div>
    <div class="col-lg-4 col-md-4 col-12" *ngIf="proposalType == 'individual'">
      <mat-form-field appearance="outline" class="mat-input-custom">
        <mat-label class="proposal-header">Occupation Type</mat-label>
        <mat-select formControlName="ownner_occupation_type">
          <mat-option
            *ngFor="let occupation of occupationList"
            [value]="occupation?.rb_id"
          >
            {{ occupation?.rb_occupation }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4 col-12">
      <mat-form-field appearance="outline" class="mat-input-custom">
        <mat-label>Enter GSTIN</mat-label>
        <input
          matInput
          placeholder="Enter GSTIN"
          formControlName="owner_gstin"
          appSpecialCharacterNotAllowed
          id-automation="owner_gstin"
          maxlength="15"
          class="text-uppercase"
          (ngModelChange)="checkValidGSTIN($event)"
        />
        <mat-error
          *ngIf="
            owenerVehicleDetailsForm.controls['owner_gstin']?.hasError(
              'required'
            )
          "
        >
          This is a required field.
        </mat-error>
        <mat-error
          *ngIf="
            owenerVehicleDetailsForm.controls['owner_gstin']?.hasError(
              'pattern'
            )
          "
        >
          Invalid GSTIN
        </mat-error>
        <mat-error
          *ngIf="
            owenerVehicleDetailsForm.controls['owner_gstin']?.hasError(
              'validGSTNumber'
            )
          "
        >
          Please Enter valid GST Number
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4 col-12">
      <mat-form-field appearance="outline" class="mat-input-custom">
        <mat-label>Enter Additional Contact Number</mat-label>
        <input
          matInput
          placeholder="Enter Additional Contact Number"
          formControlName="additional_contact"
          appNumbersOnly
          id-automation="additional_contact"
          maxlength="10"
        />
        <mat-error
          *ngIf="
            owenerVehicleDetailsForm.controls['additional_contact']?.hasError(
              'required'
            )
          "
        >
          This is a required field.
        </mat-error>
        <mat-error
          *ngIf="
            owenerVehicleDetailsForm.controls['additional_contact']?.hasError(
              'pattern'
            )
          "
        >
          Invalid Additional Contact
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4 col-12" *ngIf="proposalType == 'individual'">
      <app-owner-gender
        [required]="true"
        [formControlNameData]="'owner_gender'"
        [label]="'Gender'"
      ></app-owner-gender>
    </div>
    <div class="col-lg-4 col-md-4 col-12" *ngIf="proposalType == 'individual'">
      <label class="maritalStatus-header">Marital Status</label>
      <div>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="marital_status"
        >
          <mat-radio-button
            *ngFor="let maritalStatus of maritalStatusList"
            [value]="maritalStatus?.id"
            [checked]="maritalStatus?.name === 'Single'"
            [ngClass]="{
              maritalStatus: maritalStatus?.name === 'Married'
            }"
            >{{ maritalStatus?.name }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
    </div>
    <hr />
  </div>
  <div class="col-lg-12 col-ms-12 col-12">
    <app-owner-communication-address
      [required]="true"
    ></app-owner-communication-address>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-12">
      <mat-form-field class="mat-input-custom" appearance="outline">
        <mat-label class="proposal-header">Pincode</mat-label>
        <input
          matInput
          placeholder="Pincode"
          aria-label="pincode"
          #autoCompleteInput
          [matAutocomplete]="pincodeAuto"
          formControlName="owner_pincode"
          id-automation="owner_pincode"
          maxlength="6"
          appNumbersOnly
          (keyup.enter)="onEnterKeyPressedForPincode()"
        />
        <mat-autocomplete
          #pincodeAuto="matAutocomplete"
          [displayWith]="displayPincode.bind(this)"
        >
          <mat-option
            *ngFor="let pincode of filteredPincodeList | async"
            [value]="pincode"
            (click)="getSepratedPincodeData(pincode)"
          >
            <span>{{ pincode.rb_pincode }}</span>
          </mat-option>
        </mat-autocomplete>
        <mat-error
          *ngIf="
            owenerVehicleDetailsForm.controls['owner_pincode']?.hasError(
              'required'
            )
          "
        >
          This is a required field.
        </mat-error>
        <mat-error
          *ngIf="
            owenerVehicleDetailsForm.controls['owner_pincode']?.hasError(
              'pattern'
            )
          "
        >
          Invalid Owner Pincode
        </mat-error>
        <mat-error
          *ngIf="
            owenerVehicleDetailsForm.controls['owner_pincode'].hasError(
              'minlength'
            ) ||
            owenerVehicleDetailsForm.controls['owner_pincode'].hasError(
              'maxlength'
            )
          "
        >
          Pincode must be 6 digits long.
        </mat-error>
        <!-- <mat-error
          *ngIf="
            owenerVehicleDetailsForm
              .get('owner_pincode')
              ?.hasError('validPincode')
          "
        >
          Please enter the correct pincode
        </mat-error> -->
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4 col-12">
      <app-owner-city
        [required]="true"
        [formControlNameData]="'owner_city'"
        [label]="'City'"
        [idAutomation]="'ownerCity'"
      ></app-owner-city>
    </div>
    <div class="col-lg-4 col-md-4 col-12">
      <app-owner-state
        [required]="true"
        [formControlNameData]="'owner_state'"
        [label]="'State'"
        [idAutomation]="'ownerState'"
      ></app-owner-state>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-12">
      <button
        class="submit-btn owner-vehicle-submission"
        type="submit"
        [disabled]="owenerVehicleDetailsForm.invalid"
      >
        Save & Continue
      </button>
    </div>
  </div>
</form>
