.maritalStatus {
  margin-left: 75px;
}
.maritalStatus-header {
  font-size: 14px;
  font-weight: 500;
  opacity: 50%;
}
::ng-deep .text-area.mat-form-field-appearance-outline .mat-form-field-flex {
  height: 140px !important;
}

.proposal-header {
  font-size: 14px;
  font-weight: 500;
  opacity: 50%;
}
.owner-vehicle-submission {
  width: 350px;
  height: 48px;
  font-size: 14px;
  font-weight: 600;
}
