<mat-form-field appearance="outline" class="mat-input-custom">
  <mat-label>Chassis Number</mat-label>
  <input
    matInput
    placeholder="Enter Registration Number (DL-01-AB-1234)"
    formControlName="chassis_number"
    class="text-uppercase"
    id-automation="chassis_number"
    appAlphaNumeric
    minlength="17"
    maxlength="25"
  />
  <mat-error
    *ngIf="chassisForm.controls['chassis_number']?.hasError('required')"
    class="ms-4"
  >
    This is a required field.
  </mat-error>
  <mat-error
    *ngIf="chassisForm.controls['chassis_number']?.hasError('pattern')"
  >
    Invalid Chassis Number
  </mat-error>
  <mat-error
    *ngIf="chassisForm.controls['chassis_number']?.hasError('maxlength')"
  >
    Exceeded max limit
  </mat-error>
  <mat-error
    *ngIf="chassisForm.controls['chassis_number']?.hasError('minlength')"
  >
    Cannot be less than 17 Characters
  </mat-error>
</mat-form-field>
