<mat-form-field appearance="outline" class="mat-input-custom">
  <mat-label>Chassis Number</mat-label>
  <input
    matInput
    formControlName="chassis_number"
    class="text-uppercase"
    id-automation="chassis_number"
    minlength="17"
    maxlength="25"
  />
  <mat-error
    *ngIf="chassisForm.controls['chassis_number']?.hasError('required')"
  >
    This is a required field.
  </mat-error>

  <mat-error
    *ngIf="chassisForm.controls['chassis_number']?.hasError('maxlength')"
  >
    Exceeded max limit
  </mat-error>
  <mat-error
    *ngIf="
      chassisForm.controls['chassis_number']?.hasError('minlength') &&
      !chassisForm.controls['chassis_number']?.hasError('pattern')
    "
  >
    Cannot be less than 17 Characters
  </mat-error>
</mat-form-field>
