
.loader-class {
  display: flex !important;
  position: absolute !important;
  height: 100vh !important;
  width: 100vw !important;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: #2828285c;
}
.loader {
  height: 132px;
  width: 132px;
  background-color: #fff;
  border-radius: 600px;
}
