.previous-insurer {
  width: 100%;
  ::ng-deep {
    .mat-form-field-infix {
      width: 300px !important;
    }
    .mat-form-field-label-wrapper {
      left: 10px;
    }
  }
}
.proposal-previous-insurer {
  ::ng-deep {
    .mat-form-field-infix {
      width: 350px !important;
    }
  }
}

.label-text {
  color: #282828;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  display: flex;
}
.instatPreviousInsurer {
  width: 100% !important;
}
::ng-deep .instatPreviousInsurer .mat-form-field-outline-end {
  border-radius: 0 26px 26px 0 !important;
}
::ng-deep .instatPreviousInsurer .mat-form-field-outline-start,
::ng-deep .instatPreviousInsurer .mat-form-field-outline-gap {
  border-radius: 26px 0 0 26px !important;
}
::ng-deep .instatPreviousInsurer .mat-form-field-outline-start {
  min-width: 40px !important;
}
