<mat-form-field [class]="previousInsurer" appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    id-automation="previousInsuranceId"
    placeholder="{{ label }}"
    (ngModelChange)="previousInsurerBlankData($event)"
    (focus)="inputClicked()"
    aria-label="previous_insurer"
    #autoCompleteInput
    [matAutocomplete]="autoInsurer"
    [formControlName]="formControlNameData"
    appAlphabetOnly
  />
  <mat-autocomplete
    #autoInsurer="matAutocomplete"
    [displayWith]="displayPreviousInsurer.bind(this)"
  >
    <ng-container *ngIf="insururDataLength > 2">
      <span *ngIf="previousInsurerNoData == ''">
        <!-- filteredInsurerList | async -->
        <mat-option
          *ngFor="let insurer of filteredInsurerList | async"
          [value]="insurer"
          [matTooltip]="
            insurer.rb_insurer_name.length > 36 ? insurer.rb_insurer_name! : ''
          "
          matTooltipPosition="right"
        >
          <span>{{ insurer.rb_insurer_name }}</span>
        </mat-option>
      </span>
      <span *ngIf="previousInsurerNoData">
        <mat-option
          *ngIf="previousInsurerNoData === 'No data'"
          [value]="'No data'"
        >
          {{ previousInsurerNoData }}
        </mat-option>
      </span>
    </ng-container>
  </mat-autocomplete>
  <mat-error
    *ngIf="form.controls['previous_insurer']?.hasError('required')"
    class="ms-4"
  >
    This is a required field.
  </mat-error>
</mat-form-field>
