<mat-form-field class="previous-insurer" appearance="outline">
  <mat-label>Search Previous Insurer</mat-label>
  <input
    matInput
    placeholder="Search Previous Insurer"
    (ngModelChange)="previousInsurerBlankData($event)"
    aria-label="previous_insurer"
    #autoCompleteInput
    [matAutocomplete]="autoInsurer"
    formControlName="previous_insurer"
  />
  <mat-autocomplete
    #autoInsurer="matAutocomplete"
    [displayWith]="displayPreviousInsurer.bind(this)"
  >
    <span *ngIf="previousInsurerNoData == ''">
      <mat-option
        *ngFor="let insurer of filteredInsurerList | async"
        [value]="insurer"
      >
        <span>{{ insurer.rb_insurer_name }}</span>
      </mat-option>
    </span>
    <span *ngIf="previousInsurerNoData">
      <mat-option
        *ngFor="let insurer of filteredInsurerList | async"
        [value]="insurer"
      >
        <span>{{ insurer }}</span>
      </mat-option>
    </span>
  </mat-autocomplete>
</mat-form-field>
