<mat-form-field appearance="outline" [class]="customManufactureDate">
  <mat-label>Manufacture Date</mat-label>
  <input
    matInput
    [matDatepicker]="manufactureDate"
    placeholder="Manufacture Date"
    formControlName="manufacture_date"
    id-automation="manufacture_date"
  />
  <mat-datepicker-toggle
    matSuffix
    [for]="manufactureDate"
  ></mat-datepicker-toggle>
  <mat-datepicker
    #manufactureDate
    startView="multi-year"
    (yearSelected)="chosenYearManufacture($event)"
    (monthSelected)="chosenMonthManufacture($event, manufactureDate)"
  >
  </mat-datepicker>
  <mat-error
    *ngIf="form.controls['manufacture_date']?.hasError('required')"
    class="ms-4"
  >
    This is a required field.
  </mat-error>
</mat-form-field>
