.manufacture-date {
  ::ng-deep {
    .mat-form-field-infix {
      width: 265px !important;
    }
  }
}
.proposal-manufacture-date {
  ::ng-deep {
    .mat-form-field-infix {
      width: 315px !important;
    }
  }
}
.isManufactureData {
  opacity: 0.6;
  pointer-events: none;
}
.label-text {
  color: #282828;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  display: flex;
}
.instatManufacture {
  width: 100% !important;
}
::ng-deep .instatManufacture .mat-form-field-outline-end {
  border-radius: 0 26px 26px 0 !important;
}
::ng-deep .instatManufacture .mat-form-field-outline-start,
::ng-deep .instatManufacture .mat-form-field-outline-gap {
  border-radius: 26px 0 0 26px !important;
}
::ng-deep .instatManufacture .mat-form-field-outline-start {
  min-width: 40px !important;
}
