<mat-form-field
  appearance="outline"
  [class]="customManufactureDate"
  [ngClass]="{
    isManufactureData: isManufactureDateDisbaled
  }"
>
  <mat-label>Manufacture Date</mat-label>
  <input
    matInput
    #manufactureInput
    [matDatepicker]="manufactureDate"
    placeholder="Manufacture Date"
    formControlName="manufacture_date"
    id-automation="manufacture_date"
    appMmYyyyformat
    [min]="minDate"
    [max]="registrationDate"
    [readonly]="true"
    (click)="manufactureDate.open()"
    (keyup.enter)="EnterKey($event, manufactureDate)"
    [attr.data-disabled]="isManufactureDateDisbaled ? 'true' : null"
  />
  <mat-datepicker-toggle
    matSuffix
    [for]="manufactureDate"
    (keydown.enter)="!isManufactureDateDisbaled && $event.preventDefault()"
    [attr.data-disabled]="isManufactureDateDisbaled ? 'true' : null"
  ></mat-datepicker-toggle>
  <mat-datepicker
    #manufactureDate
    startView="multi-year"
    id-automation="datepicker_manufacture_date"
    (yearSelected)="chosenYearManufacture($event)"
    (monthSelected)="chosenMonthManufacture($event, manufactureDate)"
  >
  </mat-datepicker>
  <mat-error *ngIf="form.controls['manufacture_date']?.hasError('required')">
    This is a required field.
  </mat-error>
</mat-form-field>
