<!-- Dialog title -->
<div mat-dialog-title class="main-not-certified">
  <div class="row">
    <div class="col-12 text-center not-certified">
      <img
        src="/assets/icon/not-certified.svg"
        class="not-certified-image"
        alt="close"
      />
      <div class="not-certified-text">
        <p>Sorry!</p>
        <p>You are not certified to sell</p>
        <p><span class="fw-bold">Motor Insurance</span> yet.</p>
      </div>
        <button class="submit-btn btn-understand" type="submit" (click)="onClose()">
          Go To HomePage
        </button>
    </div>
  </div>
</div>
