.main-not-certified {
  .not-certified {
    font-size: 18px;
  }

  .not-certified-text {
    padding-top: 8%;
    padding-bottom: 8%;
    line-height: 90%;
  }

  .btn-understand {
    width: 80%;
    height: 18%;
  }
}
