<!-- Dialog title -->
<div mat-dialog-title class="main-not-certified">
  <div class="row">
    <div class="col-12 text-center not-certified">
      <img
        src="/assets/icon/not-certified.svg"
        class="not-certified-image"
        alt="close"
      />
      <div class="not-certified-text">
        <span>Sorry!</span><br>
        <span>You are not certified to sell</span><br>
        <span><span class="fw-bold">Motor Insurance</span> yet.</span><br>
      </div>
        <button class="submit-btn btn-understand mt-2" type="submit" (click)="Understand()">
          I Understand
        </button>
    </div>
  </div>
</div>
