<div class="selected-share">
  <div class="container-fluid">
    <div class="row">
      <div class="quotes col-lg-8 col-md-8 text-center">
        <span class="title">{{ quotes.length }} Quotes selected</span><br />
        <ng-container *ngFor="let data of quotes; let i = index">
          <span class="sub-title"
            >{{ data?.insurer_name }}<span *ngIf="i < quotes.length - 1">, </span></span
          >
        </ng-container>
      </div>
      <div class="quotes-btn pt-1 col-lg-4 col-md-4">
        <button
          class="submit-btn share-btn"
          type="submit"
          (click)="shareQuotes(quotes)"
        >
          Share Selected
        </button>
        <span class="sub-title ms-3" (click)="cancel(false)">Cancel</span>
      </div>
    </div>
  </div>
</div>
<div class="res-selected-share p-3">
  <div class="header">
    <div class="d-flex justify-content-between">
      <div>
        <span class="change-text">{{ quotes.length }} Quote Sharing</span><br />
        <ng-container *ngFor="let data of quotes ; let i = index">
          <span class="quotes-name">{{ data?.insurer_name }}<span *ngIf="i < quotes.length - 1">, </span> </span>
        </ng-container>
      </div>
      <img
        src="/assets/icon/cross.svg"
        alt=""
        class="cross-icon me-3"
        (click)="cancel(false)"
      />
    </div>
  </div>
  <div class="btns d-flex pt-3">
    <button class="all-btn col-6" (click)="shareAllQuotes()">Share All Quotes</button>
    <button class="submit-btn col-6" (click)="shareQuotes(quotes)">
      Share Selected
    </button>
  </div>
</div>
