<mat-form-field appearance="outline" class="text-area h-100 w-100">
  <mat-label class="proposal-header">Communication Address</mat-label>
  <textarea
    matInput
    placeholder="Enter your address As per your AAdhar"
    formControlName="owner_communication_addres"
    id-automation="owner_communication_address"
    minlength="10"
  ></textarea>
  <mat-error
    *ngIf="form.controls['owner_communication_addres']?.hasError('required')"
  >
    This is a required field.
  </mat-error>
  <mat-error
    *ngIf="form.controls['owner_communication_addres']?.hasError('minlength')"
  >
    Cannot be less than 10 Characters
  </mat-error>
  <mat-error *ngIf="isNotShowErrorMsg">
    {{ proposalErrorMsg }}
  </mat-error>
</mat-form-field>
