<mat-form-field appearance="outline" class="text-area h-100 w-100">
  <mat-label class="proposal-header">Communication Address</mat-label>
  <input
    matInput
    placeholder="Enter Address"
    formControlName="owner_communication_addres"
  />
  <mat-error
    *ngIf="form.controls['owner_communication_addres']?.hasError('required')"
    class="ms-4"
  >
    This is a required field.
  </mat-error>
  <mat-error
    *ngIf="form.controls['owner_communication_addres']?.hasError('pattern')"
    class="ms-4"
  >
    Invalid Address
  </mat-error>
</mat-form-field>
