.header {
  background-color: #edf2fc;
}
.main-content {
  padding-top: 30px;
  background-color: #edf2fc;
  height: 100vh;
  overflow-x: hidden;
}
.main-body {
  margin: 0px 40px 0px 40px;
  border-radius: 20px;
  border: 1px solid white;
  background: white;
}
