.header {
  background-color: #edf2fc;
}
.main-content {
  padding-top: 30px;
  background-color: #edf2fc;
  height: 112%;
}

.main-body {
  margin: 0px 40px 0px 40px;
  border-radius: 20px;
  // border: 1px solid white;
  background: white;
}
@media screen and (max-width: 768px) {
  .breadcrumb{
    display: none;
  }
  
  .main-body{
    margin: 0;
  }

}
