.vehicle-number {
  margin-left: 65px !important;
  position: absolute;
  ::ng-deep {
    .mat-form-field-infix {
      width: 300px !important;
    }
    .mat-form-field-label {
      font-size: 14px !important;
      font-weight: 500 !important;
    }
    .mat-form-field-label-wrapper {
      top: -8px !important;
    }
  }
}
.search-icon {
  top: 1.2em;
  position: relative;
  left: 22em;
}
