
        <mat-form-field class="vehicle-number" appearance="outline">
          <mat-label>Search Vehicle</mat-label>
          <input matInput placeholder="Search Vehicle" aria-label="vehicle" #autoCompleteInput [matAutocomplete]="auto" formControlName="vehicle">
          <mat-autocomplete #auto="matAutocomplete" >
            <mat-option *ngFor="let mmvData of filteredMMV | async" [value]="mmvData.rb_make_name">
              <span>{{ mmvData.rb_make_name }}</span> |
              <span>{{ mmvData.rb_model_name }}</span> |
              <span>{{ mmvData.rb_variant_name }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
