.vehicle-number {
  position: relative;
  ::ng-deep {
    .mat-form-field-infix {
      width: 300px !important;
    }
  }
  .search-icon {
    position: absolute;
    top: 50%;
    right: 16px; // Adjust the right distance according to your design
    transform: translateY(-50%);
  }
}

