<mat-form-field class="vehicle-number" appearance="outline">
  <mat-label>Search Vehicle</mat-label>
  <input
    matInput
    id-automation="searchVehicle"
    placeholder="Search Vehicle"
    aria-label="vehicle"
    (ngModelChange)="vehcileMMV($event)"
    #autoCompleteInput
    [matAutocomplete]="autoVehicle"
    formControlName="vehicle"
    appAlphaNumeric
  />
  <mat-autocomplete
    #autoVehicle="matAutocomplete"
    [displayWith]="displayVehicle.bind(this)"
  >
    <mat-option *ngIf="mmvDataNotAvailable === 'No data'" [value]="'No data'">
      {{ mmvDataNotAvailable }}
    </mat-option>

    <span *ngIf="mmvDataNotAvailable !== 'No data'">
      <mat-option *ngFor="let mmvData of filteredMMV | async" [value]="mmvData">
        <span
          >{{ mmvData.rb_make_name }} | {{ mmvData.rb_model_name }} |
          {{ mmvData.rb_variant_name }}</span
        >
      </mat-option>
    </span>
  </mat-autocomplete>
</mat-form-field>
