<!-- Dialog title -->
<div mat-dialog-title>
  <div class="error-popup-header d-flex justify-content-end">
    <img
      src="/assets/icon/cross.svg"
      (click)="onClose()"
      class="cursor-pointer"
      alt="close"
    />
  </div>
</div>
<!-- Dialog content -->
<div mat-dialog-content>
  <div class="row">
    <p class="text-center heading">Terms and Conditions</p>
    <div class="col-12">
      <div class="d-flex terms-content">
        <p>1.</p>
        <p class="px-2">
          I hereby declare that all the details provided are true and correct.
        </p>
      </div>
      <div class="d-flex terms-content">
        <p>2.</p>
        <p class="px-2">
          I confirm that my vehicle possesses a valid PUC Certificate.
        </p>
      </div>
      <div class="d-flex terms-content">
        <p>3.</p>
        <p class="px-2">
          I consent that any modifications made to the details after payment may
          necessitate additional charges.
        </p>
      </div>
      <div class="d-flex terms-content">
        <p>4.</p>
        <p class="px-2">
          D2C Insurance Broking Private Limited, including its representatives,
          shall not be held responsible for any changes due to the incorrect
          information provided.
        </p>
      </div>
      <div class="d-flex terms-content">
        <p>5.</p>
        <p class="px-2">
          The insurer reserves the right to deny a claim if the information
          provided by me regarding previous claims and No Claim Bonus (NCB) in
          the previous policy is incorrect.
        </p>
      </div>
      <div class="d-flex terms-content">
        <p>6.</p>
        <p class="px-2">
          Please select additional covers for Compulsory personal accident cover
          which is mandatory if you don't have an existing Compulsory personal
          accident cover of 15 Lakhs.
        </p>
      </div>
      <div class="d-flex terms-content">
        <p>7.</p>
        <p class="px-2">
          I consent and confirm that any inconsistencies found in the
          information provided by me may result in the non-issuance of the
          policy, cancellation of an already issued policy, and/or rejection of
          a claim.
        </p>
      </div>
    </div>
  </div>
</div>
