<!-- <mat-label class="subHeading"
  >Registration Number<span *ngIf="isRequired" class="star">*</span></mat-label
> -->
<mat-form-field appearance="outline" [class]="registrationNumber">
  <mat-label>Registration Number</mat-label>
  <input
    matInput
    placeholder="Enter Registration Number (DL-01-AB-1234)"
    formControlName="registration_number"
  />
  <mat-error
    *ngIf="form.controls['registration_number']?.hasError('required')"
    class="ms-4"
  >
    This is a required field.
  </mat-error>
</mat-form-field>
