.registration-number {
  ::ng-deep .mat-form-field-flex {
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 13px;
  }
  // margin-left: 65px !important;
  ::ng-deep {
    .mat-form-field-infix {
      width: 450px !important;
    }
  }
}
@media screen and (max-width: 768px) {
  ::ng-deep .mat-form-field {
    width: 100% !important;
  }

 

}
