.addons-renewal{
    .header{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #282828;
    }
    .btn-text{
        width: 100%;
    }
    .selected{
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #666666;
    }
    .addons-value{
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: rgba(102, 102, 102, 1);
    }
}
