.premium-breakup-main-dialog {
  .insurer-logo {
    width: 100px;
    height: 50px;
    border-radius: 4px;
    object-fit: scale-down;
  }
  .cover-text {
    font-size: 12px;
    color: #282828;
    opacity: 50%;
  }
  .cover-amount {
    font-size: 16px;
    font-weight: 600;
    color: #282828;
    line-height: 19.4%;
  }
  .own-damage-text,
  .own-damage-amount {
    font-size: 12px;
    font-weight: 400;
    color: #282828;
  }
  .text-bold {
    font-weight: 600;
  }
  .share-group,
  .download-group {
    width: 114px;
    height: 32px;
    border-radius: 9px;
    padding-right: 11px;
    padding-top: 6px;
    cursor: pointer;
  }
  .light-blue {
    background-color: #5384ea45;
  }
  .download-group {
    background-color: #47be8857;
    position: relative;
    left: 10px;
  }
  .light-green {
    background-color: #47be8857;
  }
  .share-icon,
  .download-icon,
  .whatsapp-icon,
  .sms-icon,
  .mail-icon {
    width: 12px;
    height: 22px;
  }
  .share-text,
  .download-text {
    font-size: 11px;
    font-weight: 600;
    position: relative;
    bottom: -2px;
    left: 6px;
  }
  .cross-btn {
    display: none;
  }
  .share-download-btn {
    display: block;
  }
  .share-download-btn-res {
    display: none;
  }
  .included{
    font-size: 8px;
    font-weight: 600;
    background-color: blue;
    padding: 3px;
    border-radius: 5px;
    color: #fff;
  }
}
@media screen and (max-width: 999px) {
  .premium-brealdown-res {
    display: block;
  }
  .premium-breakup-main-dialog {
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    .cross-btn {
      display: block;
    }
    .share-download-btn {
      display: none;
    }
    .share-download-btn-res {
      display: block;
      ::ng-deep .mat-button {
        width: 100%;
        border-radius: 12px;
      }
      .share-icon {
        width: 20px;
        height: 18px;
      }
    }
  }
}
.addons-card-popup {
  position: absolute;
  right: 5%;
  top: 40%;
  width: 24%;
  z-index: 9999;
  .card{
    border: 1px solid #D6D6D6;
    background-color: #FFFFFF;
    border-radius: 16px;
  }
 
}
.Zero-addons{
  right: 2%;
  top: 62% !important;
  width: 24%;
  z-index: 9999;
  .card{
    border: 1px solid #D6D6D6;
    background-color: #FFFFFF;
    border-radius: 16px;
  }

}

// for mobile devices
@media screen and (max-width: 999px) {
  .addons-card-popup {
    right: 2%;
    top: 1%;
    width: 80%;
  }
  .Zero-addons{
    right: 2%;
    top: 56%;
  }
}
