<div class="premium-breakup-main-dialog" mat-dialog-content>
  <div class="d-flex justify-content-between">
    <img [src]="initiateQuotes.insurer_logo" class="insurer-logo" />
    <div *ngIf="thirdParty != 'bundled_tp'">
      <p class="cover-text">Total Cover (IDV)</p>
      <p class="cover-amount">
        &#8377; {{ initiateQuotes.premium_details.idv | numberFormat }}
      </p>
    </div>

    <div class="cross-btn">
      <div
        class="d-flex justify-content-end"
        (click)="cancelBreakupPremium($event)"
      >
        <img src="/assets/icon/cross.svg" alt="" class="cross-icon me-3" />
      </div>
    </div>
  </div>
  <div>
    <div class="d-flex justify-content-between mt-2">
      <span class="d-flex justify-content-start own-damage-text text-bold">
        Own Damage
      </span>
      <span class="d-flex justify-content-end own-damage-amount text-bold">
        &#8377;
        {{
          initiateQuotes.premium_details.od_premium_details.total_od
            | numberFormat
        }}
      </span>
    </div>
    <div class="d-flex justify-content-between">
      <span class="own-damage-text"> Basic Own Damage </span>
      <span class="own-damage-amount">
        &#8377;
        {{
          initiateQuotes.premium_details.od_premium_details.basic_od_premium
            | numberFormat
        }}
      </span>
    </div>
    <div class="d-flex justify-content-between">
      <span class="own-damage-text"> NCB Discount </span>
      <span class="own-damage-amount"
        >&#8377;
        {{
          initiateQuotes.premium_details.od_premium_details.ncb_discount
            | numberFormat
        }}</span
      >
    </div>

    <div class="d-flex justify-content-between">
      <span class="own-damage-text"> Own Damage Discount </span>
      <span class="own-damage-amount">
        &#8377;
        {{
          initiateQuotes.premium_details.od_premium_details.od_discount
            | numberFormat
        }}
      </span>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-3">
    <span class="own-damage-text text-bold"> Third Party </span>
    <span class="own-damage-amount text-bold">
      &#8377;
      {{
        initiateQuotes.premium_details.tp_premium_details.total_tp
          | numberFormat
      }}
    </span>
  </div>
  <div class="d-flex justify-content-between">
    <span class="own-damage-text"> Basic Third Party </span>
    <span class="own-damage-amount"
      >&#8377;
      {{
        initiateQuotes.premium_details.tp_premium_details.basic_tp_premium
          | numberFormat
      }}</span
    >
  </div>
  <div class="d-flex justify-content-between mt-3">
    <span class="own-damage-text text-bold">
      Total Addons
      <img
        src="/assets/icon/cpa-hover.svg"
        (mouseenter)="showCard = true"
        (mouseleave)="showCard = false"
        alt=""
        class="addons-hover-image"
      />
    </span>
    <span class="own-damage-amount text-bold">
      &#8377;
      {{ initiateQuotes?.premium_details?.total_addon_premium | numberFormat }}
    </span>
  </div>
  <div class="d-flex justify-content-end" *ngIf="showCard">
    <div
      [ngClass]="
        initiateQuotes?.premium_details?.addon_premium_details.length > 5
          ? 'addons-card-popup'
          : 'Zero-addons'
      "
      class="addons-card-popup"
    >
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="d-flex justify-content-between mb-2">
              <span class="own-damage-text text-bold"> Total Addons </span>
              <span class="own-damage-amount text-bold">
                &#8377;
                {{
                  initiateQuotes?.premium_details?.total_addon_premium
                    | numberFormat
                }}
              </span>
            </div>
            <div
              class="d-flex justify-content-between"
              *ngFor="
                let addOns of initiateQuotes?.premium_details
                  ?.addon_premium_details
              "
            >
              <span class="own-damage-text"> {{ addOns?.add_on_name }} </span>
              <span class="own-damage-amount">
                &#8377; {{ addOns?.add_on_premium }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="d-flex justify-content-between">
    <span class="d-flex justify-content-start own-damage-text">
      Zero Depreciation
    </span>
    <span class="d-flex justify-content-end own-damage-amount">&#8377;  </span>
  </div>-->

  <div class="d-flex justify-content-between mt-2">
    <span class="own-damage-text text-bold"> GST (18%) </span>
    <span class="own-damage-amount text-bold">
      &#8377; {{ initiateQuotes.premium_details.total_gst | numberFormat }}
    </span>
  </div>

  <div class="d-flex justify-content-between mt-2">
    <span class="own-damage-text text-bold"> Total Premium </span>
    <span class="own-damage-amount text-bold">
      &#8377;
      {{
        gstToggleData
          ? (initiateQuotes.premium_details.gross_premium | numberFormat)
          : (initiateQuotes.premium_details.net_premium | numberFormat)
      }}
    </span>
  </div>

  <div class="row share-download-btn mt-2">
    <div class="col-12">
      <div class="communication-group d-flex">
        <div
          class="share-group light-blue d-flex justify-content-center"
          (click)="shareQuotes()"
        >
          <img src="/assets/icon/share.svg" class="share-icon" />
          <p class="share-text text-light-blue">Share</p>
        </div>
        <div class="download-group light-green justify-content-center d-flex">
          <img src="/assets/icon/download.svg" class="download-icon" />
          <p
            class="download-text text-light-green"
            (click)="downloadPremiumBreakup(initiateQuotes)"
          >
            Download
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="share-download-btn-res mt-2">
    <div class="row">
      <div class="col-3">
        <button mat-button class="light-blue" (click)="shareQuotes()">
          <img src="/assets/icon/share.svg" class="share-icon" alt="" />
        </button>
      </div>
      <div class="col-3">
        <button mat-button class="light-green">
          <img src="/assets/icon/download.svg" class="share-icon" alt="" />
        </button>
      </div>
      <div class="col-6">
        <button mat-button class="submit-btn">Buy Now</button>
      </div>
    </div>
  </div>
</div>
