<div class="premium-breakup-main-dialog" mat-dialog-content>
  <div class="row">
    <div class="col-6">
      <div class="d-flex justify-content-start">
        <img src="/assets/images/ICICI-logo.svg" class="insurer-logo" />
      </div>
    </div>
    <div class="col-4 offset-1">
      <p class="cover-text">Total Cover (IDV)</p>
      <p class="cover-amount">&#8377; 6,00,000</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p class="d-flex justify-content-start own-damage-text text-bold">
        Own Damage
      </p>
    </div>
    <div class="col-4 offset-2">
      <p class="d-flex justify-content-end own-damage-amount text-bold">
        &#8377; 0
      </p>
    </div>
    <div class="col-6">
      <p class="d-flex justify-content-start own-damage-text">
        Basic Own Damage
      </p>
    </div>
    <div class="col-4 offset-2">
      <p class="d-flex justify-content-end own-damage-amount">
        &#8377; 0
      </p>
    </div>
    <div class="col-6">
      <p class="d-flex justify-content-start own-damage-text">
        NCB Discount (20%)
      </p>
    </div>
    <div class="col-4 offset-2">
      <p class="d-flex justify-content-end own-damage-amount">&#8377; 14,456</p>
    </div>
    <div class="col-6">
      <p class="d-flex justify-content-start own-damage-text">
        Own Damage Discount
      </p>
    </div>
    <div class="col-4 offset-2">
      <p class="d-flex justify-content-end own-damage-amount">
        &#8377; 0
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p class="d-flex justify-content-start own-damage-text text-bold">
        Third Party
      </p>
    </div>
    <div class="col-4 offset-2">
      <p class="d-flex justify-content-end own-damage-amount text-bold">
        &#8377; 6,00,000
      </p>
    </div>
    <div class="col-6">
      <p class="d-flex justify-content-start own-damage-text">
        Basic Own Damage
      </p>
    </div>
    <div class="col-4 offset-2">
      <p class="d-flex justify-content-end own-damage-amount">&#8377; 14,456</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p class="d-flex justify-content-start own-damage-text text-bold">
        GST (18%)
      </p>
    </div>
    <div class="col-4 offset-2">
      <p class="d-flex justify-content-end own-damage-amount text-bold">
        &#8377; 0
      </p>
    </div>
    <div class="col-6">
      <p class="d-flex justify-content-start own-damage-text text-bold">
        Total Premium
      </p>
    </div>
    <div class="col-4 offset-2">
      <p class="d-flex justify-content-end own-damage-amount text-bold">
        &#8377; 0
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1">
      <div class="communication-group d-flex">
        <div class="share-group light-blue d-flex justify-content-center">
          <img src="/assets/icon/share.svg" class="share-icon" />
          <p class="share-text text-light-blue">Share</p>
        </div>
        <div class="download-group light-green justify-content-center d-flex">
          <img src="/assets/icon/download.svg" class="download-icon" />
          <p class="download-text text-light-green">Download</p>
        </div>
      </div>
    </div>
  </div>
</div>
