<div class="cky-form mt-2">
  <form
    [formGroup]="ckycFormGroup"
    (ngSubmit)="submitCkycFormGroup(ckycFormGroup.valid)"
    novalidate
  >
    <div class="row">
      <!-- <div class="col-lg-4 col-md-6 col-12">
        <label class="kyc-header">Do you have CKYC Number?</label>
        <div>
          <mat-radio-group
            aria-label="Select an option"
            class="ckyc_number"
            formControlName="ckyc_id"
            (change)="checkKycNumber($event)"
          >
            <mat-radio-button
              *ngFor="let ckyc of ckycList"
              [ngClass]="{
                'is-kyc': ckyc?.name === 'No'
              }"
              >{{ ckyc?.name }}</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </div> -->
      <ng-container *ngIf="!isCheckKyc">
        <div class="col-lg-4 col-md-6 col-12">
          <mat-form-field
            appearance="outline"
            class="document-list mat-input-custom"
          >
            <mat-label>Select Document Type</mat-label>
            <mat-select
              formControlName="document_type_based_field"
              placeholder="Select Document Type"
              (ngModelChange)="getDocumentTypeValue($event)"
            >
              <mat-option
                *ngFor="let document of documentList"
                [value]="document?.document_code"
              >
                {{ document?.document_name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                ckycFormGroup
                  .get('document_type_based_field')
                  ?.hasError('required')
              "
            >
              This is a required field.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <mat-form-field
            appearance="outline"
            class="document_number mat-input-custom"
          >
            <mat-label>Enter Document Number</mat-label>
            <input
              id-automation="documentNumber"
              matInput
              aria-label="document_number"
              formControlName="document_number_based_field"
              placeholder="Enter Document Number"
              class="text-uppercase"
            />
            <mat-error
              *ngIf="
                ckycFormGroup
                  .get('document_number_based_field')
                  ?.hasError('required')
              "
            >
              This is a required field.
            </mat-error>
            <mat-error
              *ngIf="
                ckycFormGroup
                  .get('document_number_based_field')
                  ?.hasError('validDOC')
              "
            >
              Please enter the valid {{ documentName }} number
            </mat-error>
          </mat-form-field>
        </div>
        <ng-container *ngIf="documentName == 'aadhaar_number'">
          <div class="col-lg-4 col-md-6 col-12">
            <app-owner-full-name
              [required]="true"
              [formControlNameData]="'ckyc_full_name'"
              [label]="'Full Name'"
            ></app-owner-full-name>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <app-owner-gender
              [formControlNameData]="'ckyc_gender'"
              [label]="'Gender'"
              [required]="true"
            ></app-owner-gender>
          </div>
        </ng-container>

        <div class="col-lg-4 col-md-6 col-12">
          <mat-form-field appearance="outline" class="mat-input-custom">
            <mat-label>{{ dobPlaceholder }}</mat-label>
            <input
              id-automation="dob"
              class="input-field-pad"
              matInput
              formControlName="dob"
              appOnlyNumbers
              [matDatepicker]="ckyc_dob"
              [min]="minDate"
              [max]="maxDate"
              [readonly]="true"
              placeholder="{{ dobPlaceholder }}"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="ckyc_dob"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #ckyc_dob
              id-automation="datepickerCkycDOB"
            ></mat-datepicker>
            <mat-error *ngIf="ckycFormGroup.get('dob')?.hasError('required')">
              This is a required field.
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>
      <ng-container *ngIf="isCheckKyc">
        <div class="col-lg-4 col-md-6 col-12">
          <mat-form-field
            appearance="outline"
            class="CKYC_Number mat-input-custom"
          >
            <mat-label>Enter CKYC Number</mat-label>
            <input
              id-automation="ckycNumber"
              matInput
              aria-label="CKYC_Number"
              formControlName="ckyc_number"
            />
            <mat-error
              *ngIf="ckycFormGroup.get('ckyc_number')?.hasError('required')"
            >
              This is a required field.
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>
      <div class="acknowledgment-confirm mt-2">
        <div class="d-flex">
          <mat-checkbox
            class="custom-checkbox"
            [disabled]="!ckycFormGroup.valid"
            (change)="checkedTerms($event)"
          ></mat-checkbox>
          <div class="ms-2 accept-text pt-1">
            I hereby give consent to access my CKYC data
            <a
              class="terms"
              [style.pointer-events]="isDownloading ? 'none' : 'auto'"
              (click)="isDownloading && downloadTerms()"
            >
              T&C</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 mt-2">
        <button class="submit-btn owner-vehicle-submission" type="submit">
          {{ changeSubmitCkycName ? "Save & Continue" : "Fetch Details" }}
        </button>
      </div>
    </div>
  </form>
</div>
