.cky-form {
  .kyc-header {
    font-size: 14px;
    font-weight: 500;
    opacity: 50%;
  }

  ::ng-deep {
    .mat-form-field {
      width: 100%;
    }
    .mat-form-field-label-wrapper {
      left: 10px;
    }
    .mat-checkbox-label {
      color: #282828 !important;
    }
  }
  .acknowledgment-confirm {
    margin-top: -10px;
  }
  .terms {
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
  }

  .accept-text {
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: #282828 !important;
    padding-top: 2px;
  }
  .display-checkbox {
    display: flex;
  }
}

@media screen and (max-width: 999px) {
  .cky-form {
    .owner-vehicle-submission {
      margin-top: 20px;
    }
    ::ng-deep .mat-checkbox-label {
      white-space: pre !important;
    }
    .display-checkbox {
      display: grid;
    }
    .accept-text {
      margin-left: 2em !important;
    }
  }
}
.ckyc-field {
  opacity: 0.6;
  pointer-events: none;
}
