/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  overflow-x: hidden;
}

* {
  font-family: "Montserrat" !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}
.asterik-mandtry:after {
  content: "*";
  // position: absolute;
  color: #f27f21;
  font-weight: 400;
}
.addition-row {
  padding: 0px 25px;
  // margin-top: 11px !important;
}

th.mat-header-cell:first-of-type {
  padding-left: 0px !important;
}

th.mat-header-cell:last-of-type {
  padding: 0px !important;
}

// Material custom css
.custom-mat-form-field.mat-form-field-appearance-outline {
  width: 100%;

  .mat-form-field-prefix,
  .mat-form-field-suffix {
    top: -6px;
  }

  .mat-form-field-infix {
    top: -6px;
    padding: 8px 0;
  }

  .mat-form-field-outline {
    height: 40px;
  }

  .mat-form-field-flex {
    height: 40px;
  }

  .mat-select-arrow-wrapper {
    transform: none;
  }

  .mat-form-field-outline-thick {
    color: #dfdfdf;
  }

  /* datepicker icon colcor */
  .mat-datepicker-toggle-default-icon {
    color: #ff6a00 !important;
  }
}

.custom-mat-form-field.custom-datpicker .mat-form-field-suffix {
  top: 0 !important;
}

/* To change mat-checkbox background color after checkbox is checked the background color should be blue-clr */
.custom-mat-checkbox.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.custom-mat-checkbox.mat-checkbox-indeterminate.mat-accent
  .mat-checkbox-background {
  background-color: #0066af;
  border-radius: 5px;
}

.custom-mat-checkbox .mat-checkbox-layout {
  white-space: normal !important;
}

.custom-mat-checkbox .mat-checkbox-layout .mat-checkbox-label {
  line-height: 2;
}

.custom-mat-checkbox .mat-checkbox-inner-container {
  width: 24px;
  height: 24px;
}

.custom-mat-checkbox.mat-accent .mat-checkbox-frame {
  border: 1px solid #9c9c9c;
  border-radius: 5px;
}
.mat-input-custom {
  .mat-form-field-infix {
    width: 350px !important;
  }
}

.custom-mat-checkbox.mat-checkbox-checked.mat-accent .mat-checkbox-frame {
  border: 1px solid #0066af;
  border-radius: 5px;
}

/* custom radion button css */
/* radio button css */
.custom-radio-btn .custom-radio-button-margin {
  width: 48%;
  margin-bottom: 15px;
}

.custom-radio-btn .mat-accent {
  padding: 4px 0px;
}

.custom-radio-btn .mat-radio-checked .mat-radio-outer-circle {
  background: #1478f6;
  border: #1478f6 !important;
}

.custom-radio-btn .mat-radio-inner-circle {
  display: none;
}

@media screen and (min-width: 1366) {
  .container {
    max-width: 1350px !important;
  }
}

@media only screen and (max-width: 999px) {
  .addition-row {
    padding: 0px 5px !important;
  }
  .initiate-quotes-class {
    margin-left: 0px !important;
    margin-top: 0px !important;
    width: 0% !important;
    max-width: 0% !important;
    min-width: 0% !important;
  }
  .cdk-global-overlay-wrapper {
    align-items: flex-end !important;
  }
  .wait-ckyc-verification-class {
    margin: auto !important;
    margin-top: 50% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    .mat-dialog-container {
      border-radius: 23px;
    }
  }
  .share-qoutes-class {
    margin-left: 4% !important;
    margin-bottom: 75% !important;
    margin-top: 0 !important;
  }
}

.submit-btn {
  flex-wrap: wrap;
  background-color: #ff943d;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 12px;
  // width: 150px;
  border: 1px solid #ff943d;
  padding: 5px 15px 5px 15px;
}
.mat-tooltip {
  background: black !important;
}
.submit-btn:disabled {
  flex-wrap: wrap;
  background-color: #d6d6d6;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 12px;
  // width: 150px;
  border: 1px solid #d6d6d6;
  padding: 5px 15px 5px 15px;
}

.cursor-pointer {
  cursor: pointer;
}

.mat-form-field-label {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.mat-form-field-label-wrapper {
  left: 10px !important;
  top: -12px !important;
}
.cdk-global-overlay-wrapper {
  justify-content: center !important;
  // align-items: center !important;
}

/* Set top-left and bottom-left corner radius */
.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 50px 0 0 50px !important;
  min-width: 15px !important;
}
/* Set top-right and bottom-right corner radius */
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 15px 15px 0 !important;
}
.cursor-pointer {
  cursor: pointer;
}
.mat-form-field-label {
  font-size: 14px !important;
  font-weight: 500 !important;
}

/*[START]this css add for multi select drop down*/
.mat-pseudo-checkbox {
  width: 16px;
  height: 16px;
  border: none !important;
  border-radius: 0 !important;
  cursor: pointer !important;
  display: inline-block !important;
  vertical-align: middle !important;
  box-sizing: border-box !important;
  position: relative !important;
  flex-shrink: 0 !important;
  transition: none !important;
}
.mat-pseudo-checkbox::after {
  color: #3f51b5 !important;
  left: 19.5rem !important;
}
.mat-option {
  padding: 0 0px !important;
}
.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #ced4da00 !important;
}
/*[END]this css add for multi select drop down*/

/* [START]Set down arraow  */
.mat-select-arrow {
  border-left: 15px solid transparent !important;
  border-right: none !important;
  border-top: 10px solid transparent !important;
  border-image-source: url("/assets/icon/down-arrow.svg") !important;
  border-image-repeat: stretch !important;
}
/* [END]Set down arraow */

/*[START] Set mat slider */
.mat-slider {
  width: 100%;
  color: #ffb171;
}
.mat-slider-thumb {
  background-color: #fff !important;
  cursor: pointer;
  bottom: -16px !important; /* Set the desired color for the slider thumb */
}
.mat-slider-thumb-label {
  background-color: #fff !important; /* Set the desired color for the slider thumb */
}
.mat-slider-thumb {
  border-left: 30px solid transparent !important;
  border-right: none !important;
  border-bottom: none !important;
  border-top: 30px solid transparent !important;
  border-image-source: url("/assets/icon/slider.svg") !important;
  border-image-repeat: stretch !important;
}
.mat-slider-track-fill {
  height: 10px !important;
  background-color: #ffb171 !important; /* Set the desired color for the filled portion of the slider track */
}

.mat-slider-track-fill {
  height: 10px !important;
  background-color: #ffb171 !important; /* Set the desired color for the filled portion of the slider track */
}

.mat-slider-track-background {
  background-color: #d9d9d9 !important; /* Set the desired color for the background portion of the slider track */
}
.mat-slider-track-wrapper {
  border-radius: 20px !important;
  height: 6px !important; /* Set the desired height for the track */
}

.mat-slider-track-fill {
  height: 100% !important; /* Set the height to 100% to fill the entire track height */
}

.mat-slider-track-background {
  height: 100% !important; /* Set the height to 100% to fill the entire track height */
}
.mat-slider-horizontal {
  height: 30px !important;
  padding: 0;
  margin-top: -55px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline .mat-focused {
  color: white;
}

/*[END] Set mat slider */
.tag-right {
  float: right;
}

/*[START] text color */
.text-orange {
  color: #ffb171 !important;
}
.text-light-blue {
  color: #5384ea !important;
}
.text-light-green {
  color: #47be88;
}
.text-red {
  color: #f64140;
}
/*[END] text color*/
/*[START] mat drop down css*/
.mat-select-panel {
  .mat-option-text {
    padding: 13px !important;
  }
  position: relative !important;
  top: 50px !important;
  border-radius: 8px !important;
}
.mat-autocomplete-panel {
  position: relative !important;
  top: 5px !important;
  border-radius: 8px !important;
}
/*[END] mat drop down css*/
/*[START] mat check box css*/
mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #fff !important;
  border: 1px solid #5989de !important;
  border-radius: 4px !important;
}
.mat-checkbox-checkmark-path {
  stroke: #5989de !important;
}
.mat-checkbox-background,
.mat-checkbox-frame {
  border: 1px solid #ababab !important;
  border-radius: 4px !important;
}
.mat-checkbox-layout .mat-checkbox-label {
  font-weight: 500;
  color: #666666 !important;
  font-size: 12px;
  white-space: normal;
}
/*[END] mat check box css*/

//mat accordian scss

// Common styles for mat-expansion-panels
.mat-expansion-panel:not(.mat-expanded) {
  border-radius: 8px !important;
  margin: 16px 0;
}

.mat-expansion-panel.mat-expanded .mat-expansion-panel-header {
  border-radius: 8px 8px 0 0 !important;
}

.mat-expansion-panel-header {
  background-color: rgba(#5384ea, 0.1) !important;
  border-radius: 14px;
  transition: background-color 0.3s ease; // Smooth transition on hover
}

.mat-expansion-panel-header-title {
  color: #5384ea;
  font-size: 16px;
  font-weight: 600;
}

// Hover styles for mat-expansion-panel-header
.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled="true"]),
.mat-expansion-panel.mat-expanded
  .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background-color: rgba(#5384ea, 0.1);
}

// Expanded header styles
.mat-expansion-panel.mat-expanded .mat-expansion-panel-header {
  border-radius: 14px !important;
  height: 50px !important;
}

// Remove box-shadow for mat-expansion-panels
.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

// Custom styles for the expansion indicator
::ng-deep .mat-expansion-indicator::after {
  color: #5384ea;
}

.mat-form-field {
  font-size: 14px !important;
}
// mat-autocomple css
.mat-autocomplete-panel.mat-autocomplete-visible {
  padding-left: 10px;
}
// this class use for premium breakup pop up modal
.initiate-quotes-class {
  // margin-left: 630px !important;
  margin-top: 10% !important;
  width: 0% !important;
  max-width: 0% !important;
  min-width: 0% !important;
  margin-left: 30% !important;
  .mat-dialog-container {
    border-radius: 16px !important;
    overflow: unset !important;
    width: 286px !important;
  }
  .mat-dialog-content {
    overflow: unset !important;
  }
}
.selected-share-class {
  // margin-left: 630px !important;
  margin-top: 25% !important;
  padding-left: 2%;
  padding-right: 2%;
  .mat-dialog-container {
    border-radius: 16px !important;
    overflow: unset !important;
    width: 100%;
    padding: 14px !important;
  }
  .mat-dialog-content {
    overflow: unset !important;
  }
}
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(202, 201, 201);
  border-radius: 10px;
  border: 1px solid rgb(202, 201, 201);
}
.terms-class {
  margin-left: 50% !important;
  .mat-dialog-container {
    border-radius: 30px !important;
    overflow: unset !important;
    width: 750px !important;
    height: 100% !important;
  }
  .mat-dialog-content {
    overflow: unset !important;
  }
}
.vehicle-details-class {
  margin-left: 30% !important;
  .mat-dialog-container {
    border-radius: 30px !important;
    overflow: unset !important;
    width: 750px !important;
    height: 100% !important;
  }
  .mat-dialog-content {
    overflow: unset !important;
  }
}

.nonPOS-class {
  margin-left: 30% !important;
  .mat-dialog-container {
    border-radius: 30px !important;
    overflow: unset !important;
    width: 570px !important;
    height: 100% !important;
  }
  .mat-dialog-content {
    overflow: unset !important;
  }
}
.otp-popup {
  margin-left: 50% !important;
  .mat-dialog-container {
    border-radius: 30px !important;
    overflow: unset !important;
    width: 675px !important;
    height: 100% !important;
  }
  .mat-dialog-content {
    overflow: unset !important;
  }
  .mat-bottom-sheet-container {
    border-radius: 20px 20px 0px 0px;
  }
}
.wait-ckyc-verification-class {
  margin-left: 50%;
  margin-top: 10%;
  .mat-dialog-container {
    width: 612px;
    border-radius: 23px;
  }
}
.insurance-details-class {
  margin-left: 75%;
  margin-top: 1% !important;
  .mat-dialog-container {
    width: 612px;
    border-radius: 23px;
  }
}
.mat-radio-button {
  width: 50%;
}
/*[START] mat radio button */

.mat-radio-inner-circle {
  background-color: #ffb171 !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #ffb171 !important;
}
.mat-radio-outer-circle {
  border-color: #bababa !important;
}
.mat-radio-checked {
  .mat-radio-label {
    .mat-radio-label-content {
      color: #282828 !important;
    }
  }
}
.mat-radio-label-content {
  color: #bababa !important;
}
body.premium-breakout-css {
  .cdk-overlay-container {
    .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
      opacity: 0 !important;
    }
  }
}

.mat-error {
  padding-left: 12px;
}
input.mat-input-element {
  font-size: 12px !important;
  font-weight: 500;
  color: #282828;
  padding-left: 10px;
}

/*[END] mat radio button */

.text-transform-data {
  text-transform: capitalize;
}
.disabled-btn {
  background: #d6d6d6;
  border: 1px solid #d6d6d6;
}
.disabled-btn:hover {
  background: #d6d6d6;
  border: 1px solid #d6d6d6;
}
.share-qoutes-class {
  margin-left: 70%;
  margin-top: 5% !important;
  overflow: none !important;
  .mat-dialog-container {
    border-radius: 20px;
    width: 380px !important;
    overflow: unset !important;
  }
  .mat-dialog-content {
    max-height: 100%;
  }
}
.warn-details-class {
  margin-left: 36%;
  margin-top: 5% !important;
  overflow: none !important;
  .mat-dialog-container {
    border-radius: 20px;
    width: 515px !important;
    overflow: unset !important;
    padding: 4% !important;
  }
  .mat-dialog-content {
    max-height: 100%;
  }
}
.mat-input-share-social-media {
  .mat-form-field-infix {
    width: 300px !important;
    display: flex !important;
  }
}
.disabled-btn:hover {
  background: #d6d6d6;
  border: 1px solid #d6d6d6;
}
.not-certifiedComponent-class {
  margin-left: 50%;
  margin-top: 10% !important;
  .mat-dialog-container {
    border-radius: 30px !important;
    width: 40% !important;
  }
}
.my-custom-snackbar {
  position: absolute;
  right: 50px;
  top: 25px;
}

.mat-snack-bar-container {
  margin: 0px !important;
  padding: 0px !important;
  background-color: #535353 !important;
  min-height: 36px !important;
  max-width: none !important;
  min-width: fit-content !important;
  border-radius: 8px;
}
.mat-bottom-sheet-container {
  border-radius: 20px 20px 0px 0px;
  padding-top: 10px 0px 10px 0px;
}
.mat-select-value-text {
  padding-left: 10px;
  font-size: 12px !important;
}
// for mobile devices
@media screen and (max-width: 767px) {
  .insurance-details-class {
    margin-left: 1%;
  }
}
