.wait-ckyc-text {
  font-size: 16px;
  color: #282828;
}
.wait-text-font,
.verification-text-font {
  font-weight: 500;
}
.verification-gif-image {
  width: 150px;
}
.ckyc-data-table{
    width: 100%;
}
.ckyc-data-table {
    font-size: 14px;
    font-weight: 500;
    color: #939393;
}
.ckyc-data-table-header {
    color: #939393;
}
.ckyc-data-table-row {
    color:  #282828;
}
.review-fetch-text {
    font-size: 14px;
    font-weight: 600;
}

.space-tr {
    position: relative;
    top: 14px;
}
.proceed-btn{
    margin-top: 2rem;
}
