<div class="row" *ngIf="!isWaitingTime">
  <div class="col-12 text-center">
    <img
      src="/assets/gif/verification.gif"
      class="verification-gif-image"
      alt="close"
    />
  </div>
  <div class="col-12">
    <p class="text-center wait-ckyc-text">
      <span class="wait-text-font">Please wait a few minutes for the</span>
      <br />
      <span class="verification-text-font"
        ><strong>CKYC Verification</strong> to be completed</span
      >
    </p>
  </div>
</div>

<div class="row" *ngIf="isWaitingTime">
  <div class="col-12">
    <p class="review-fetch-text">
      Please review the data we have fetched after CKYC Verification
    </p>
  </div>
  <div class="ckyc-data">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-6 d-grid">
        <span class="details-header">Full Name</span>
        <span class="details-value">{{
          ckycData["full_name"] ? ckycData["full_name"] : "-"
        }}</span>
      </div>
      <div class="col-lg-4 col-md-4 col-6 d-grid">
        <span class="details-header">Gender</span>
        <span class="details-value">{{
          ckycData["gender"] ? ckycData["gender"] : "-"
        }}</span>
      </div>
      <div class="col-lg-4 col-md-4 col-6 d-grid">
        <span class="details-header">Date of Birth</span>
        <span class="details-value">{{
          ckycData["dob"] ? ckycData["dob"] : "-"
        }}</span>
      </div>
      <div class="col-lg-4 col-md-4 col-6 d-grid">
        <span class="details-header">Owner Type</span>
        <span class="details-value">{{
          ckycData["proposer_type"] ? ckycData["proposer_type"] : "-"
        }}</span>
      </div>
      <div class="col-lg-4 col-md-4 col-6 d-grid">
        <span class="details-header">Contact Number</span>
        <span class="details-value">{{
          ckycData["mobile_number"] ? ckycData["mobile_number"] : "-"
        }}</span>
      </div>
      <div class="col-lg-4 col-md-4 col-6 d-grid">
        <span class="details-header">Email</span>
        <span class="details-value">{{
          ckycData["email"] ? ckycData["email"] : "-"
        }}</span>
      </div>
    </div>
  </div>
  <div class="col-12 proceed-btn">
    <button
      class="submit-btn w-100"
      type="submit"
      (click)="onProceedData(ckycData)"
    >
      Proceed
    </button>
  </div>
</div>
