.wait-ckyc-text {
  font-size: 16px;
  color: #282828;
}
.wait-text-font,
.verification-text-font {
  font-weight: 500;
}
.verification-gif-image {
  width: 150px;
}
.ckyc-data{
  .details-value{
    font-size: 14px;
    font-weight: 500;
    color: #282828;
  }
  .details-header {
    font-size: 12px;
    font-weight: 500;
    color: #939393;
  }
}

.review-fetch-text {
  font-size: 14px;
  font-weight: 600;
}
.proceed-btn {
  margin-top: 2rem;
}
