<div class="row">
  <div class="col-12">
    <div class="loading-main-card skeleton-loading"></div>
  </div>
  <div class="col-2 mt-4">
    <div class="side-card skeleton-loading"></div>
    <div class="side-card skeleton-loading mt-2"></div>
    <div class="side-card-child skeleton-loading mt-2"></div>
    <div class="side-card-child skeleton-loading mt-2"></div>
    <div class="side-card-child skeleton-loading mt-2"></div>
  </div>
  <div class="col-10 mt-4">
    <div class="small-card-main mt-2">
      <div class="small-card skeleton-loading mt-2"></div>
      <div class="small-card skeleton-loading mt-2"></div>
      <div class="small-card mt-2"></div>
      <div class="small-card skeleton-loading mt-2"></div>
      <div class="small-card skeleton-loading mt-2"></div>
      <div class="small-card skeleton-loading mt-2"></div>
      <div class="small-card mt-2"></div>
      <div class="small-card skeleton-loading mt-2"></div>
    </div>
    <div class="side-card skeleton-loading mt-2"></div>
    <div class="side-card skeleton-loading mt-2"></div>
    <div class="side-card skeleton-loading mt-2"></div>
    <div class="side-card skeleton-loading mt-2"></div>
    <div class="side-card skeleton-loading mt-2"></div>
    <div class="side-card-child skeleton-loading mt-2"></div>
  </div>
</div>
